/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-top: -126px; /* Pull hero behind header (header height) */
  padding-top: calc(4rem + 126px); /* Add padding to compensate */
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
    margin-top: -80px; /* Smaller header on mobile */
    padding-top: calc(2rem + 80px);
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
