-
  let committers = `[{
    "Name": "Alexander Shapkin",
    "Comitter": "YES",
    "PMC": "",
    "GitHub": "https://github.com/ashapkin",
    "Apache profile": "",
    "Company": "GridGain"
  },
  {
    "Name": "Alexander Lapin",
    "Comitter": "YES",
    "PMC": "",
    "GitHub": "https://github.com/sanpwc",
    "Apache profile": "https://home.apache.org/phonebook.html?uid=sanpwc",
    "Company": ""
  },
  {
    "Name": "Alexey Goncharuk",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "https://github.com/agoncharuk",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=agoncharuk",
    "Company": "GridGain"
  },
  {
    "Name": "Alexey Kuznetsov",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "https://github.com/akuznetsov-gridgain",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=akuznetsov",
    "Company": "EPAM"
  },
  {
    "Name": "Alexey Plehanov",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "https://github.com/alex-plekhanov",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=alexpl",
    "Company": "SberTech"
  },
  {
    "Name": "Alexey Scherbakov",
    "Comitter": "YES",
    "PMC": "",
    "GitHub": "https://github.com/ascherbakoff",
    "Apache profile": "",
    "Company": "GridGain"
  },
  {
    "Name": "Alexey Zinoviev",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "https://github.com/zaleslaw",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=zaleslaw",
    "Company": "JetBrains"
  },
  {
    "Name": "Andrey Alexandrov",
    "Comitter": "YES",
    "PMC": "",
    "GitHub": "https://github.com/aealeksandrov",
    "Apache profile": "",
    "Company": "GridGain"
  },
  {
    "Name": "Andrey Gura",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "https://github.com/agura",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=agura",
    "Company": "GridGain"
  },
  {
    "Name": "Andrey Novikov",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "https://github.com/nva",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=anovikov",
    "Company": ""
  },
  {
    "Name": "Andrew Mashenkov",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "https://github.com/AMashenkov",
    "Apache profile": "",
    "Company": "GridGain"
  },
  {
    "Name": "Anton Vinogradov",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "https://github.com/anton-vinogradov",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=av",
    "Company": "SberTech"
  },
  {
    "Name": "Artem Budnikov",
    "Comitter": "YES",
    "PMC": "",
    "GitHub": "https://github.com/artem-budnikov",
    "Apache profile": "",
    "Company": ""
  },
  {
    "Name": "Branko Čibej",
    "Comitter": "YES",
    "PMC": "",
    "GitHub": "https://github.com/brainy",
    "Apache profile": "",
    "Company": ""
  },
  {
    "Name": "Denis Magda",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "https://github.com/dmagda",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=dmagda",
    "Company": "GridGain"
  },
  {
    "Name": "Dmitriy Govorukhin",
    "Comitter": "YES",
    "PMC": "",
    "GitHub": "https://github.com/dgovorukhin",
    "Apache profile": "",
    "Company": ""
  },
  {
    "Name": "Dmitriy Pavlov",
    "Comitter": "YES",
    "PMC": "",
    "GitHub": "https://github.com/dspavlov",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=dpavlov",
    "Company": "SberTech"
  },
  {
    "Name": "Dmitriy Setrakyan",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "https://github.com/dsetrakyan",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=dsetrakyan",
    "Company": ""
  },
  {
    "Name": "Evans Ye",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=evansye",
    "Company": "Trend Micro"
  },
  {
    "Name": "Evgeny Stanilovsky",
    "Comitter": "YES",
    "PMC": "",
    "GitHub": "https://github.com/zstan",
    "Apache profile": "",
    "Company": "GridGain"
  },
  {
    "Name": "Gianfranco Murador",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=murador",
    "Company": "Engiweb Security"
  },
  {
    "Name": "Henry Saputra",
    "Comitter": "YES",
    "PMC": "",
    "GitHub": "https://github.com/hsaputra",
    "Apache profile": "",
    "Company": ""
  },
  {
    "Name": "Igor Rudyak",
    "Comitter": "YES",
    "PMC": "",
    "GitHub": "https://github.com/irudyak",
    "Apache profile": "",
    "Company": "Rally Health"
  },
  {
    "Name": "Igor Sapego",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "https://github.com/isapego",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=isapego",
    "Company": "GridGain"
  },
  {
    "Name": "Igor Seliverstov",
    "Comitter": "YES",
    "PMC": "",
    "GitHub": "https://github.com/gvvinblade",
    "Apache profile": "",
    "Company": ""
  },
  {
    "Name": "Ilya Kasnacheev",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "https://github.com/alamar",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=ilyak",
    "Company": ""
  },
  {
    "Name": "Ilya Lantukh",
    "Comitter": "YES",
    "PMC": "",
    "GitHub": "https://github.com/ilantukh",
    "Apache profile": "",
    "Company": ""
  },
  {
    "Name": "Ilya Sterin",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=isterin",
    "Company": "ChronoTrack"
  },
  {
    "Name": "Irina Vasilinets",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "https://github.com/ivasilinets",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=ivasilinets",
    "Company": "WhatsApp"
  },
  {
    "Name": "Ivan Bessonov",
    "Comitter": "YES",
    "PMC": "",
    "GitHub": "https://github.com/ibessonov",
    "Apache profile": "",
    "Company": "GridGain"
  },
  {
    "Name": "Ivan Daschinsky",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "https://github.com/ivandasch",
    "Apache profile": "https://people.apache.org/phonebook.html?uid=ivandasch",
    "Company": "SberTech"
  },
  {
    "Name": "Ivan Pavlukhin",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "https://github.com/pavlukhin",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=ipavlukhin",
    "Company": ""
  },
  {
    "Name": "Ivan Rakov",
    "Comitter": "YES",
    "PMC": "",
    "GitHub": "https://github.com/glukos",
    "Apache profile": "",
    "Company": ""
  },
  {
    "Name": "Kirill Tkalenko",
    "Comitter": "YES",
    "PMC": "",
    "GitHub": "https://github.com/tkalkirill",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=tkalkirill",
    "Company": ""
  },
  {
    "Name": "Konstantin Boudnik",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=cos",
    "Company": ""
  },
  {
    "Name": "Konstantin Orlov",
    "Comitter": "YES",
    "PMC": "",
    "GitHub": "https://github.com/korlov42",
    "Apache profile": "",
    "Company": "GridGain"
  },
  {
    "Name": "Kseniya Romanova",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "https://github.com/ks-romanova",
    "Apache profile": "",
    "Company": "GridGain"
  },
  {
    "Name": "Maxim Muzafarov",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "https://github.com/Mmuzaf",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=mmuzaf",
    "Company": "SberTech"
  },
    {
    "Name": "Maxim Timonin",
    "Comitter": "YES",
    "PMC": "",
    "GitHub": "https://github.com/timoninmaxim",
    "Apache profile": "",
    "Company": ""
  },
  {
    "Name": "Mauricio Stekl",
    "Comitter": "YES",
    "PMC": "",
    "GitHub": "https://github.com/mstekl",
    "Apache profile": "",
    "Company": "GridGain"
  },
  {
    "Name": "Michael Stack",
    "Comitter": "YES",
    "PMC": "",
    "GitHub": "",
    "Apache profile": "",
    "Company": ""
  },
  {
    "Name": "Mikhail Petrov",
    "Comitter": "YES",
    "PMC": "",
    "GitHub": "",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=mpetrov ",
    "Company": ""
  },
  {
    "Name": "Nikita Amelchev",
    "Comitter": "YES",
    "PMC": "",
    "GitHub": "https://github.com/NSAmelchev",
    "Apache profile": "",
    "Company": "SberTech"
  },
  {
    "Name": "Nikita Ivanov",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "https://github.com/nivanov",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=nivanov",
    "Company": "GridGain"
  },
  {
    "Name": "Nikita Safonov",
    "Comitter": "YES",
    "PMC": "",
    "GitHub": "https://github.com/Nikita-tech-writer",
    "Apache profile": "",
    "Company": "GridGain"
  },
  {
    "Name": "Nikolai Izhikov",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "https://github.com/nizhikov",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=nizhikov",
    "Company": "GridGain"
  },
  {
    "Name": "Nikolai Tikhonov",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "https://github.com/TikhonovNikolay",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=ntikhonov",
    "Company": "Nexign"
  },
  {
    "Name": "Ognen Duzlevski",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=maketo",
    "Company": "Shoutlet"
  },
  {
    "Name": "Pavel Tupitsyn",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "https://github.com/ptupitsyn",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=ptupitsyn",
    "Company": "GridGain"
  },
  {
    "Name": "Pavel Kovalenko",
    "Comitter": "YES",
    "PMC": "",
    "GitHub": "https://github.com/Jokser",
    "Apache profile": "",
    "Company": ""
  },
  {
    "Name": "Pavel Pereslegin",
    "Comitter": "YES",
    "PMC": "",
    "GitHub": "https://github.com/xtern",
    "Apache profile": "https://home.apache.org/phonebook.html?uid=ppa",
    "Company": ""
  },
  {
    "Name": "Peter Ivanov",
    "Comitter": "YES",
    "PMC": "",
    "GitHub": "https://github.com/vveider",
    "Apache profile": "",
    "Company": "GridGain"
  },
  {
    "Name": "Raúl Kripalani",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=raulk",
    "Company": "Evosent Consulting"
  },
  {
    "Name": "Roman Shaposhnik",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=rvs",
    "Company": "Pivotal"
  },
  {
    "Name": "Roman Shtykh",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=shroman",
    "Company": "Yahoo Japan Corporation"
  },
  {
    "Name": "Saikat Maitra",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "https://github.com/samaitra",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=samaitra",
    "Company": "Target"
  },
  {
    "Name": "Semyon Boikov",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=sboikov",
    "Company": ""
  },
  {
    "Name": "Semyon Danilov",
    "Comitter": "YES",
    "PMC": "",
    "GitHub": "https://github.com/SammyVimes",
    "Apache profile": "https://home.apache.org/phonebook.html?uid=sdanilov",
    "Company": ""
  },
  {
    "Name": "Sergey Chugunov",
    "Comitter": "YES",
    "PMC": "",
    "GitHub": "https://github.com/sergey-chugunov-1985",
    "Apache profile": "",
    "Company": "GridGain"
  },
  {
    "Name": "Sergey Evdokimov",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "https://github.com/sevdokimov-gg",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=sevdokimov",
    "Company": ""
  },
  {
    "Name": "Sergey Khisamov",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "",
    "Apache profile": "",
    "Company": "Fitech Source"
  },
  {
    "Name": "Sergey Vladykin",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "https://github.com/svladykin",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=sergi",
    "Company": ""
  },
  {
    "Name": "Sergey Stronchinsky",
    "Comitter": "YES",
    "PMC": "",
    "GitHub": "",
    "Apache profile": "",
    "Company": "UpTeam"
  },
  {
    "Name": "Taras Ledkov",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "https://github.com/tledkov",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=tledkov",
    "Company": "GridGain"
  },
  {
    "Name": "Valentin Kulichenko",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "https://github.com/vkulichenko",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=vkulichenko",
    "Company": "GridGain"
  },
  {
    "Name": "Vladimir Ozerov",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "https://github.com/devozerov",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=vozerov",
    "Company": ""
  },
  {
    "Name": "Vladisav Jelisavcic",
    "Comitter": "YES",
    "PMC": "",
    "GitHub": "",
    "Apache profile": "",
    "Company": ""
  },
  {
    "Name": "Vladislav Pyatkov",
    "Comitter": "YES",
    "PMC": "",
    "GitHub": "https://github.com/vldpyatkov",
    "Apache profile": "https://home.apache.org/phonebook.html?uid=vpyatkov",
    "Company": ""
  },
  {
    "Name": "Vyacheslav Daradur",
    "Comitter": "YES",
    "PMC": "",
    "GitHub": "https://github.com/daradurvs",
    "Apache profile": "",
    "Company": "Yandex"
  },
  {
    "Name": "Vyacheslav Koptilin",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "https://github.com/sk0x50",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=sk0x50",
    "Company": "GridGain"
  },
  {
    "Name": "Yakov Zhdanov",
    "Comitter": "YES",
    "PMC": "YES",
    "GitHub": "",
    "Apache profile": "http://people.apache.org/phonebook.html?uid=yzhdanov",
    "Company": "GridGain"
  },
  {
    "Name": "Yury Babak",
    "Comitter": "YES",
    "PMC": "",
    "GitHub": "https://github.com/YuriBabak",
    "Apache profile": "",
    "Company": ""
  }]`;


mixin committerNew(obj)
  if obj["Comitter"]
    .committer.flexi
      .committer__name #{obj["Name"]}
      if obj["GitHub"]
        a.committer__github(href=obj["GitHub"], target="_blank")
          img(src="/img/icon-github.svg", alt="")
      if obj["Apache profile"]
        a.committer__apache(href=obj["Apache profile"], target="_blank")
          img(src="/img/icon-pero.svg", alt="")
      else
        span.committer__apache