.downtable__wrap
    .downtable__scroller
        table.downtable 
            tr 
                th.downtable1 Name
                th.downtable1 Version
                th.downtable2 Docs
                th.downtable3 Release Notes
                th.downtable4 Date
                th.downtable5 Source
            tbody
                +downloadExtensionRow({
                    name: "ignite-aws-ext",
                    ver: "1.0.0",
                    date: "2022-05-17",
                    guide: "/docs/2.13.0/clustering/discovery-in-the-cloud.html",
                    notes: "/releases/ext/aws-ext-1.0.0/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/ignite-extensions/ignite-aws-ext/1.0.0/ignite-aws-ext-src.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'ignite-aws-ext'});"
                })
                +downloadExtensionRow({
                    name: "ignite-azure-ext",
                    ver: "1.0.0",
                    date: "2022-05-17",
                    guide: "/docs/2.13.0/clustering/discovery-in-the-cloud.html",
                    notes: "/releases/ext/azure-ext-1.0.0/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/ignite-extensions/ignite-azure-ext/1.0.0/ignite-azure-ext-src.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'ignite-azure-ext'});"
                })
                +downloadExtensionRow({
                    name: "ignite-gce-ext",
                    ver: "1.0.0",
                    date: "2022-05-17",
                    guide: "/docs/2.13.0/clustering/discovery-in-the-cloud.html",
                    notes: "/releases/ext/gce-ext-1.0.0/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/ignite-extensions/ignite-gce-ext/1.0.0/ignite-gce-ext-src.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'ignite-gce-ext'});"
                })
                +downloadExtensionRow({
                    name: "ignite-spring-tx-ext",
                    ver: "1.0.0",
                    date: "2021-11-02",
                    guide: "/docs/2.13.0/extensions-and-integrations/spring/spring-tx.html",
                    notes: "/releases/ext/spring-tx-1.0.0/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/ignite-extensions/ignite-spring-tx-ext/1.0.0/ignite-spring-tx-ext-1.0.0-src.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'ignite-spring-tx-ext'});"
                })
                +downloadExtensionRow({
                    name: "ignite-spring-cache-ext",
                    ver: "1.0.0",
                    date: "2021-11-02",
                    guide: "/docs/2.13.0/extensions-and-integrations/spring/spring-caching.html",
                    notes: "/releases/ext/spring-cache-1.0.0/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/ignite-extensions/ignite-spring-cache-ext/1.0.0/ignite-spring-cache-ext-1.0.0-src.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'ignite-spring-cache-ext'});"
                })
                +downloadExtensionRow({
                    name: "ignite-spring-data-ext",
                    ver: "2.0.0",
                    date: "2022-05-17",
                    guide: "/docs/2.13.0/extensions-and-integrations/spring/spring-data.html",
                    notes: "/releases/ext/spring-data-ext-2.0.0/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/ignite-extensions/ignite-spring-data-ext/2.0.0/ignite-spring-data-ext-src.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'ignite-spring-data-ext'});"
                })
                +downloadExtensionRow({
                    name: "ignite-session-ext",
                    ver: "1.0.0",
                    date: "2022-05-17",
                    guide: "/docs/2.13.0/extensions-and-integrations/spring/spring-data.html",
                    notes: "/releases/ext/spring-session-ext-1.0.0/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/ignite-extensions/ignite-spring-session-ext/1.0.0/ignite-spring-session-ext-src.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'ignite-spring-session-ext'});"
                })
                +downloadExtensionRow({
                    name: "ignite-performance-statistics-ext",
                    ver: "1.0.0",
                    date: "2021-07-07",
                    guide: "/docs/2.11.0/extensions-and-integrations/performance-statistics.html",
                    notes: "/releases/ext/performance-statistics-1.0.0/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/ignite-extensions/ignite-performance-statistics-ext/1.0.0/ignite-performance-statistics-ext-1.0.0-src.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'ignite-performance-statistics-ext'});"
                })
                +downloadExtensionRow({
                    name: "ignite-zookeeper-ip-finder-ext",
                    ver: "1.0.0",
                    date: "2022-05-17",
                    guide: "/docs/2.13.0/extensions-and-integrations/zookeeper-ip-finder-ext.html",
                    notes: "/releases/ext/zookeeper-ip-finder-ext-1.0.0/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/ignite-extensions/ignite-zookeeper-ip-finder-ext/1.0.0/zookeeper-ip-finder-ext-src.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'ignite-zookeeper-ip-finder-ext'});"
                })