.downtable__wrap
    .downtable__scroller
        table.downtable 
            tr 
                th.downtable1 Version
                th.downtable2 Docs
                th.downtable3 Release Notes
                th.downtable4 Date
                th.downtable5 Source
            tbody
                +downloadRow({
                    ver: "2.17.0 (latest)",
                    date: "2025-02-13",
                    guide: "https://ignite.apache.org/docs/latest",
                    javadoc: "https://ignite.apache.org/releases/ignite2/2.17.0/javadoc/",
                    notes: "https://ignite.apache.org/releases/ignite2/2.17.0/release_notes.html",
                    sourcelink: "[preferred][distdir]/2.17.0/apache-ignite-slim-2.17.0-bin.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_fabric_download', 'event_label': 'apache-ignite-slim-2.17.0'});"
                })
                +downloadRow({
                    ver: "2.16.0",
                    date: "2023-12-25",
                    guide: "https://ignite.apache.org/docs/latest",
                    javadoc: "https://ignite.apache.org/releases/ignite2/2.16.0/javadoc/",
                    notes: "https://ignite.apache.org/releases/ignite2/2.16.0/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/2.16.0/apache-ignite-slim-2.16.0-bin.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_fabric_download', 'event_label': 'apache-ignite-slim-2.16.0'});"
                })
                +downloadRow({
                    ver: "2.15.0",
                    date: "2023-12-25",
                    guide: "https://ignite.apache.org/docs/latest",
                    javadoc: "https://ignite.apache.org/releases/ignite2/2.15.0/javadoc/",
                    notes: "https://ignite.apache.org/releases/ignite2/2.15.0/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/2.15.0/apache-ignite-slim-2.15.0-bin.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_fabric_download', 'event_label': 'apache-ignite-slim-2.15.0'});"
                })
                +downloadRow({
                    ver: "2.14.0",
                    date: "2022-10-07",
                    guide: "https://ignite.apache.org/docs/latest",
                    javadoc: "https://ignite.apache.org/releases/ignite2/2.14.0/javadoc/",
                    notes: "https://ignite.apache.org/releases/ignite2/2.14.0/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/2.14.0/apache-ignite-slim-2.14.0-bin.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_fabric_download', 'event_label': 'apache-ignite-slim-2.14.0'});"
                })
                +downloadRow({
                    ver: "2.13.0",
                    date: "2022-04-26",
                    guide: "https://ignite.apache.org/docs/latest",
                    javadoc: "https://ignite.apache.org/releases/ignite2/2.13.0/javadoc/",
                    notes: "https://ignite.apache.org/releases/ignite2/2.13.0/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/2.13.0/apache-ignite-slim-2.13.0-bin.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_fabric_download', 'event_label': 'apache-ignite-slim-2.13.0'});"
                })
                +downloadRow({
                    ver: "2.12.0",
                    date: "2022-01-14",
                    guide: "https://ignite.apache.org/docs/latest",
                    javadoc: "https://ignite.apache.org/releases/ignite2/2.12.0/javadoc/",
                    notes: "https://ignite.apache.org/releases/ignite2/2.12.0/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/2.12.0/apache-ignite-slim-2.12.0-bin.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_fabric_download', 'event_label': 'apache-ignite-slim-2.12.0'});"
                })
                +downloadRow({
                    ver: "2.11.1",
                    date: "2021-12-20",
                    guide: "https://ignite.apache.org/docs/latest",
                    javadoc: "https://ignite.apache.org/releases/ignite2/2.11.1/javadoc/",
                    notes: "https://ignite.apache.org/releases/ignite2/2.11.1/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/2.11.1/apache-ignite-slim-2.11.1-bin.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_fabric_download', 'event_label': 'apache-ignite-slim-2.11.1'});"
                })
                +downloadRow({
                    ver: "2.11.0",
                    date: "2021-09-17",
                    guide: "https://ignite.apache.org/docs/latest",
                    javadoc: "https://ignite.apache.org/releases/ignite2/2.11.0/javadoc/",
                    notes: "https://ignite.apache.org/releases/ignite2/2.11.0/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/2.11.0/apache-ignite-slim-2.11.0-bin.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_fabric_download', 'event_label': 'apache-ignite-slim-2.11.0'});"
                })
                +downloadRow({
                    ver: "2.10.0",
                    date: "2021-03-15",
                    guide: "https://ignite.apache.org/docs/latest",
                    javadoc: "https://ignite.apache.org/releases/ignite2/2.10.0/javadoc/",
                    notes: "https://ignite.apache.org/releases/ignite2/2.10.0/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/2.10.0/apache-ignite-slim-2.10.0-bin.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_fabric_download', 'event_label': 'apache-ignite-slim-2.10.0'});"
                })
                +downloadRow({
                    ver: "2.9.1",
                    date: "2020-12-28",
                    guide: "https://ignite.apache.org/docs/latest",
                    javadoc: "https://ignite.apache.org/releases/ignite2/2.9.1/javadoc/",
                    notes: "https://ignite.apache.org/releases/ignite2/2.9.1/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/2.9.1/apache-ignite-slim-2.9.1-bin.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_fabric_download', 'event_label': 'apache-ignite-slim-2.9.1'});"
                })
                +downloadRow({
                    ver: "2.9.0",
                    date: "2020-10-21",
                    guide: "https://ignite.apache.org/docs/latest",
                    javadoc: "https://ignite.apache.org/releases/ignite2/2.9.0/javadoc/",
                    notes: "https://ignite.apache.org/releases/ignite2/2.9.0/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/2.9.0/apache-ignite-slim-2.9.0-bin.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_fabric_download', 'event_label': 'apache-ignite-slim-2.9.0'});"
                })
