.downtable__wrap
    .downtable__scroller.jsTabWrap
        .eventspast__tablinks.flexi
            button.eventpast__link(data-tablink="ignite3").active Ignite 3
            button.eventpast__link(data-tablink="ignite2") Ignite 2
        .eventspast__tabs
            .eventspast__tabwrap(data-tab="ignite3").active
                table.downtable 
                    tr 
                        th.downtable1 Version
                        th.downtable2 Docs
                        th.downtable3 Release Notes
                        th.downtable4 Date
                        th.downtable5 Source
                    tbody
                        +downloadRow({
                            ver: "3.1.0 (latest)",
                            date: "2025-10-29",
                            guide: "/docs/ignite3/3.1.0",
                            javadoc: "https://ignite.apache.org/releases/ignite3/3.1.0/javadoc/",
                            notes: "https://ignite.apache.org/releases/ignite3/3.1.0/RELEASE_NOTES.txt",
                            sourcelink: "https://www.apache.org/dyn/closer.lua/ignite/3.1.0/apache-ignite-3.1.0-src.zip",
                            onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'apache-ignite-3.1.0'});"
                        })
                        +downloadRow({
                          ver: "3.0.0",
                          date: "2025-02-05",
                          guide: "/docs/ignite3/3.0.0",
                          javadoc: "https://ignite.apache.org/releases/ignite3/3.0.0/javadoc/",
                          notes: "https://ignite.apache.org/releases/ignite3/3.0.0/RELEASE_NOTES.txt",
                          sourcelink: "https://www.apache.org/dyn/closer.lua/ignite/3.0.0/apache-ignite-3.0.0-src.zip",
                          onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'apache-ignite-3.0.0'});"
                        })

            .eventspast__tabwrap(data-tab="ignite2")
                table.downtable 
                    tr 
                        th.downtable1 Version
                        th.downtable2 Docs
                        th.downtable3 Release Notes
                        th.downtable4 Date
                        th.downtable5 Source
                    tbody
                        +downloadRow({
                            ver: "2.17.0 (latest)",
                            date: "2025-02-13",
                            guide: "https://ignite.apache.org/docs/latest",
                            javadoc: "https://ignite.apache.org/releases/ignite2/2.17.0/javadoc/",
                            notes: "https://ignite.apache.org/releases/ignite2/2.17.0/release_notes.html",
                            sourcelink: "https://www.apache.org/dyn/closer.lua/ignite/2.17.0/apache-ignite-2.17.0-src.zip",
                            onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'apache-ignite-2.17.0'});"
                        })
                        +downloadRow({
                            ver: "2.16.0",
                            date: "2023-12-25",
                            guide: "https://ignite.apache.org/docs/latest",
                            javadoc: "https://ignite.apache.org/releases/ignite2/2.16.0/javadoc/",
                            notes: "https://ignite.apache.org/releases/ignite2/2.16.0/release_notes.html",
                            sourcelink: "https://www.apache.org/dyn/closer.lua/ignite/2.16.0/apache-ignite-2.16.0-src.zip",
                            onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'apache-ignite-2.16.0'});"
                        })
                        +downloadRow({
                            ver: "2.15.0",
                            date: "2023-05-02",
                            guide: "https://ignite.apache.org/docs/latest",
                            javadoc: "https://ignite.apache.org/releases/ignite2/2.15.0/javadoc/",
                            notes: "https://ignite.apache.org/releases/ignite2/2.15.0/release_notes.html",
                            sourcelink: "https://www.apache.org/dyn/closer.lua/ignite/2.15.0/apache-ignite-2.15.0-src.zip",
                            onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'apache-ignite-2.15.0'});"
                        })
                        +downloadRow({
                            ver: "2.14.0",
                            date: "2022-10-07",
                            guide: "https://ignite.apache.org/docs/latest",
                            javadoc: "https://ignite.apache.org/releases/ignite2/2.14.0/javadoc/",
                            notes: "https://ignite.apache.org/releases/ignite2/2.14.0/release_notes.html",
                            sourcelink: "https://www.apache.org/dyn/closer.lua/ignite/2.14.0/apache-ignite-2.14.0-src.zip",
                            onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'apache-ignite-2.14.0'});"
                        })
                        +downloadRow({
                            ver: "2.13.0",
                            date: "2022-04-26",
                            guide: "https://ignite.apache.org/docs/latest",
                            javadoc: "https://ignite.apache.org/releases/ignite2/2.13.0/javadoc/",
                            notes: "https://ignite.apache.org/releases/ignite2/2.13.0/release_notes.html",
                            sourcelink: "https://www.apache.org/dyn/closer.lua/ignite/2.13.0/apache-ignite-2.13.0-src.zip",
                            onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'apache-ignite-2.13.0'});"
                        })
                        +downloadRow({
                            ver: "2.12.0",
                            date: "2022-01-14",
                            guide: "https://ignite.apache.org/docs/latest",
                            javadoc: "https://ignite.apache.org/releases/ignite2/2.12.0/javadoc/",
                            notes: "https://ignite.apache.org/releases/ignite2/2.12.0/release_notes.html",
                            sourcelink: "https://www.apache.org/dyn/closer.lua/ignite/2.12.0/apache-ignite-2.12.0-src.zip",
                            onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'apache-ignite-2.12.0'});"
                        })
                        +downloadRow({
                            ver: "2.11.1",
                            date: "2021-12-20",
                            guide: "https://ignite.apache.org/docs/latest",
                            javadoc: "https://ignite.apache.org/releases/ignite2/2.11.1/javadoc/",
                            notes: "https://ignite.apache.org/releases/ignite2/2.11.1/release_notes.html",
                            sourcelink: "https://www.apache.org/dyn/closer.lua/ignite/2.11.1/apache-ignite-2.11.1-src.zip",
                            onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'apache-ignite-2.11.1'});"
                        })
                        +downloadRow({
                            ver: "2.11.0",
                            date: "2021-09-17",
                            guide: "https://ignite.apache.org/docs/latest",
                            javadoc: "https://ignite.apache.org/releases/ignite2/2.11.0/javadoc/",
                            notes: "https://ignite.apache.org/releases/ignite2/2.11.0/release_notes.html",
                            sourcelink: "https://www.apache.org/dyn/closer.lua/ignite/2.11.0/apache-ignite-2.11.0-src.zip",
                            onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'apache-ignite-2.11.0'});"
                        })
                        +downloadRow({
                            ver: "2.10.0",
                            date: "2021-03-15",
                            guide: "https://ignite.apache.org/docs/latest",
                            javadoc: "https://ignite.apache.org/releases/ignite2/2.10.0/javadoc/",
                            notes: "https://ignite.apache.org/releases/ignite2/2.10.0/release_notes.html",
                            sourcelink: "https://www.apache.org/dyn/closer.lua/ignite/2.10.0/apache-ignite-2.10.0-src.zip",
                            onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'apache-ignite-2.10.0'});"
                        })
                        +downloadRow({
                            ver: "2.9.1",
                            date: "2020-12-28",
                            guide: "https://ignite.apache.org/docs/latest",
                            javadoc: "https://ignite.apache.org/releases/ignite2/2.9.1/javadoc/",
                            notes: "https://ignite.apache.org/releases/ignite2/2.9.1/release_notes.html",
                            sourcelink: "https://www.apache.org/dyn/closer.lua/ignite/2.9.1/apache-ignite-2.9.1-src.zip",
                            onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'apache-ignite-2.9.1'});"
                        })
                        +downloadRow({
                            ver: "2.9.0",
                            date: "2020-10-21",
                            guide: "https://ignite.apache.org/docs/latest",
                            javadoc: "https://ignite.apache.org/releases/ignite2/2.9.0/javadoc/",
                            notes: "https://ignite.apache.org/releases/ignite2/2.9.0/release_notes.html",
                            sourcelink: "https://www.apache.org/dyn/closer.lua/ignite/2.9.0/apache-ignite-2.9.0-src.zip",
                            onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'apache-ignite-2.9.0'});"
                        })
                        +downloadRow({
                            ver: "2.8.1",
                            date: "2020-05-27",
                            guide: "https://ignite.apache.org/docs/latest",
                            javadoc: "https://ignite.apache.org/releases/ignite2/2.8.1/javadoc/",
                            notes: "https://ignite.apache.org/releases/ignite2/2.8.1/release_notes.html",
                            sourcelink: "https://www.apache.org/dyn/closer.lua/ignite/2.8.1/apache-ignite-2.8.1-src.zip",
                            onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'apache-ignite-2.8.1'});"
                        })
                        +downloadRow({
                            ver: "2.8.0",
                            date: "2020-03-03",
                            guide: "https://ignite.apache.org/docs/latest",
                            javadoc: "https://ignite.apache.org/releases/ignite2/2.8.0/javadoc/",
                            scaladoc: "https://ignite.apache.org/releases/ignite2/2.8.0/scaladoc/scalar/",
                            notes: "https://ignite.apache.org/releases/ignite2/2.8.0/release_notes.html",
                            sourcelink: "https://www.apache.org/dyn/closer.lua/ignite/2.8.0/apache-ignite-2.8.0-src.zip",
                            onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'apache-ignite-2.8.0'});"
                        })
                        +downloadRow({
                            ver: "2.7.6",
                            date: "2019-09-19",
                            guide: "https://ignite.apache.org/docs/latest",
                            javadoc: "https://ignite.apache.org/releases/ignite2/2.7.6/javadoc/",
                            scaladoc: "https://ignite.apache.org/releases/ignite2/2.7.6/scaladoc/scalar/",
                            notes: "https://ignite.apache.org/releases/ignite2/2.7.6/release_notes.html",
                            sourcelink: "https://www.apache.org/dyn/closer.lua/ignite/2.7.6/apache-ignite-2.7.6-src.zip",
                            onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'apache-ignite-2.7.6'});"
                        })
