.downtable__wrap
    .downtable__scroller
        table.downtable 
            tr 
                th.downtable1 Name
                th.downtable1 Version
                th.downtable2 Docs
                th.downtable3 Release Notes
                th.downtable4 Date
                th.downtable5 Source
            tbody
                +downloadExtensionRow({
                    name: "ignite-aws-ext",
                    ver: "1.0.0",
                    date: "2022-05-17",
                    guide: "/docs/latest/clustering/discovery-in-the-cloud.html",
                    notes: "/releases/ext/aws-ext-1.0.0/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/ignite-extensions/ignite-aws-ext/1.0.0/ignite-aws-ext-bin.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'ignite-aws-ext'});"
                })
                +downloadExtensionRow({
                    name: "ignite-azure-ext",
                    ver: "1.0.0",
                    date: "2022-05-17",
                    guide: "/docs/latest/clustering/discovery-in-the-cloud.html",
                    notes: "/releases/ext/azure-ext-1.0.0/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/ignite-extensions/ignite-azure-ext/1.0.0/ignite-azure-ext-bin.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'ignite-azure-ext'});"
                })
                +downloadExtensionRow({
                    name: "ignite-gce-ext",
                    ver: "1.0.0",
                    date: "2022-05-17",
                    guide: "/docs/latest/clustering/discovery-in-the-cloud.html",
                    notes: "/releases/ext/gce-ext-1.0.0/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/ignite-extensions/ignite-gce-ext/1.0.0/ignite-gce-ext-bin.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'ignite-gce-ext'});"
                })
                +downloadExtensionRow({
                    name: "ignite-performance-statistics-ext",
                    ver: "1.0.0",
                    date: "2021-07-07",
                    guide: "/docs/latest/extensions-and-integrations/performance-statistics.html",
                    notes: "/releases/ext/performance-statistics-1.0.0/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/ignite-extensions/ignite-performance-statistics-ext/1.0.0/ignite-performance-statistics-ext-1.0.0-bin.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'ignite-performance-statistics-ext'});"
                })
                +downloadExtensionRow({
                    name: "ignite-zookeeper-ip-finder-ext",
                    ver: "1.0.0",
                    date: "2022-05-17",
                    guide: "/docs/latest/extensions-and-integrations/zookeeper-ip-finder-ext.html",
                    notes: "/releases/ext/zookeeper-ip-finder-ext-1.0.0/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/ignite-extensions/ignite-zookeeper-ip-finder-ext/1.0.0/zookeeper-ip-finder-ext-bin.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'ignite-zookeeper-ip-finder-ext'});"
                })