.downtable__wrap
    .downtable__scroller
        table.downtable 
            tr 
                th.downtable1 Version
                th.downtable2 Docs
                th.downtable3 Release Notes
                th.downtable4 Date
                th.downtable5 Source
            tbody
                +downloadRow({
                    ver: "3.0.0 (Alpha 3)",
                    date: "2021-10-18",
                    guide: "/docs/3.0.0-alpha",
                    sourcelink: "[preferred][distdir]/3.0.0-alpha3/apache-ignite-3.0.0-alpha3-src.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'apache-ignite-3.0.0-alpha3'});"
                })
                +downloadRow({
                    ver: "2.11.1 (latest)",
                    date: "2021-12-20",
                    guide: "https://ignite.apache.org/docs/latest",
                    javadoc: "https://ignite.apache.org/releases/2.11.1/javadoc/",
                    notes: "https://ignite.apache.org/releases/2.11.1/release_notes.html",
                    sourcelink: "[preferred][distdir]/2.11.1/apache-ignite-2.11.1-src.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'apache-ignite-2.11.1'});"
                })
                +downloadRow({
                    ver: "2.11.0",
                    date: "2021-09-17",
                    guide: "https://ignite.apache.org/docs/latest",
                    javadoc: "https://ignite.apache.org/releases/2.11.0/javadoc/",
                    notes: "https://ignite.apache.org/releases/2.11.0/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/2.11.0/apache-ignite-2.11.0-src.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'apache-ignite-2.11.0'});"
                })
                +downloadRow({
                    ver: "2.10.0",
                    date: "2021-03-15",
                    guide: "https://ignite.apache.org/docs/latest",
                    javadoc: "https://ignite.apache.org/releases/2.10.0/javadoc/",
                    notes: "https://ignite.apache.org/releases/2.10.0/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/2.10.0/apache-ignite-2.10.0-src.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'apache-ignite-2.10.0'});"
                })
                +downloadRow({
                    ver: "2.9.1",
                    date: "2020-12-28",
                    guide: "https://ignite.apache.org/docs/latest",
                    javadoc: "https://ignite.apache.org/releases/2.9.1/javadoc/",
                    notes: "https://ignite.apache.org/releases/2.9.1/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/2.9.1/apache-ignite-2.9.1-src.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'apache-ignite-2.9.1'});"
                })
                +downloadRow({
                    ver: "2.9.0",
                    date: "2020-10-21",
                    guide: "https://ignite.apache.org/docs/latest",
                    javadoc: "https://ignite.apache.org/releases/2.9.0/javadoc/",
                    notes: "https://ignite.apache.org/releases/2.9.0/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/2.9.0/apache-ignite-2.9.0-src.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'apache-ignite-2.9.0'});"
                })
                +downloadRow({
                    ver: "2.8.1",
                    date: "2020-05-27",
                    guide: "https://ignite.apache.org/docs/latest",
                    javadoc: "https://ignite.apache.org/releases/2.10.0/javadoc/",
                    notes: "https://ignite.apache.org/releases/2.10.0/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/2.10.0/apache-ignite-2.10.0-src.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'apache-ignite-2.8.1'});"
                })
                +downloadRow({
                    ver: "2.8.0",
                    date: "2020-03-03",
                    guide: "https://ignite.apache.org/docs/latest",
                    javadoc: "https://ignite.apache.org/releases/2.8.0/javadoc/",
                    scaladoc: "https://ignite.apache.org/releases/2.8.0/scaladoc/scalar/",
                    notes: "https://ignite.apache.org/releases/2.8.0/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/2.8.0/apache-ignite-2.8.0-src.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'apache-ignite-2.8.0'});"
                })
                +downloadRow({
                    ver: "2.7.6",
                    date: "2019-09-19",
                    guide: "https://ignite.apache.org/docs/latest",
                    javadoc: "https://ignite.apache.org/releases/2.7.6/javadoc/",
                    scaladoc: "https://ignite.apache.org/releases/2.7.6/scaladoc/scalar/",
                    notes: "https://ignite.apache.org/releases/2.7.6/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/2.7.6/apache-ignite-2.7.6-src.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'apache-ignite-2.7.6'});"
                })