.downtable__wrap
    .downtable__scroller
        table.downtable 
            tr 
                th.downtable1 Name
                th.downtable1 Version
                th.downtable2 Docs
                th.downtable3 Release Notes
                th.downtable4 Date
                th.downtable5 Source
            tbody
                +downloadExtensionRow({
                    name: "ignite-spring-tx-ext",
                    ver: "1.0.0",
                    date: "2021-11-02",
                    guide: "/docs/2.11.0/extensions-and-integrations/spring/spring-tx.html",
                    notes: "/releases/ext/spring-tx-1.0.0/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/ignite-extensions/ignite-spring-tx-ext/1.0.0/ignite-spring-tx-ext-1.0.0-src.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'apache-ignite-3.0.0-alpha3'});"
                })
                +downloadExtensionRow({
                    name: "ignite-spring-cache-ext",
                    ver: "1.0.0",
                    date: "2021-11-02",
                    guide: "/docs/2.11.0/extensions-and-integrations/spring/spring-caching.html",
                    notes: "/releases/ext/spring-cache-1.0.0/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/ignite-extensions/ignite-spring-cache-ext/1.0.0/ignite-spring-cache-ext-1.0.0-src.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'apache-ignite-2.11.0'});"
                })
                +downloadExtensionRow({
                    name: "ignite-performance-statistics-ext",
                    ver: "1.0.0",
                    date: "2021-07-07",
                    guide: "/docs/2.11.0/extensions-and-integrations/performance-statistics.html",
                    notes: "/releases/ext/performance-statistics-1.0.0/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/ignite-extensions/ignite-performance-statistics-ext/1.0.0/ignite-performance-statistics-ext-1.0.0-src.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'apache-ignite-2.10.0'});"
                })
                +downloadExtensionRow({
                    name: "ignite-spring-data-all-ext",
                    ver: "1.0.0",
                    date: "2021-07-07",
                    guide: "https://ignite.apache.org/docs/latest",
                    notes: "t/releases/ext/spring-data-all-1.0.0/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/ignite-extensions/ignite-spring-data-all-ext/1.0.0/ignite-spring-data-all-ext-1.0.0-src.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_source_download', 'event_label': 'apache-ignite-2.9.1'});"
                })