.downtable__wrap
    .downtable__scroller
        table.downtable 
            tr 
                th.downtable1 Version
                th.downtable2 Docs
                th.downtable3 Release Notes
                th.downtable4 Date
                th.downtable5 Source
            tbody
                +downloadRow({
                    ver: "2.11.0 (latest)",
                    date: "2021-09-17",
                    guide: "https://ignite.apache.org/docs/latest",
                    javadoc: "https://ignite.apache.org/releases/2.11.0/javadoc/",
                    notes: "https://ignite.apache.org/releases/2.11.0/release_notes.html",
                    sourcelink: "[preferred][distdir]/2.11.0/apache-ignite-slim-2.11.0-bin.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_fabric_download', 'event_label': 'apache-ignite-slim-2.11.0'});"
                })
                +downloadRow({
                    ver: "2.10.0",
                    date: "2021-09-17",
                    guide: "https://ignite.apache.org/docs/latest",
                    javadoc: "https://ignite.apache.org/releases/2.10.0/javadoc/",
                    notes: "https://ignite.apache.org/releases/2.10.0/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/2.10.0/apache-ignite-slim-2.10.0-bin.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_fabric_download', 'event_label': 'apache-ignite-slim-2.10.0'});"
                })
                +downloadRow({
                    ver: "2.9.1",
                    date: "2021-09-17",
                    guide: "https://ignite.apache.org/docs/latest",
                    javadoc: "https://ignite.apache.org/releases/2.9.1/javadoc/",
                    notes: "https://ignite.apache.org/releases/2.9.1/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/2.9.1/apache-ignite-slim-2.9.1-bin.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_fabric_download', 'event_label': 'apache-ignite-slim-2.9.1'});"
                })
                +downloadRow({
                    ver: "2.9.0",
                    date: "2021-09-17",
                    guide: "https://ignite.apache.org/docs/latest",
                    javadoc: "https://ignite.apache.org/releases/2.9.0/javadoc/",
                    notes: "https://ignite.apache.org/releases/2.9.0/release_notes.html",
                    sourcelink: "https://archive.apache.org/dist/ignite/2.9.0/apache-ignite-slim-2.9.0-bin.zip",
                    onclick: "gtag('event',  'download', {'event_category': 'apache_ignite_fabric_download', 'event_label': 'apache-ignite-slim-2.9.0'});"
                })