// MOBILE MENU START
#jsMenuModal.hystmodal(aria-hidden='true')
  .hystmodal__wrap
    .hystmodal__window.mobmenu(role='dialog' aria-modal='true')
      button.hystmodal__close(data-hystclose='') Close
      .mobmenu__wrap
        a.mobmenu__logo(href='/')
          img(src='/img/logo.svg' alt='Logo')
        .mobmenu__menu
          ul
            li
              a(href='/docs/latest/') Quick Start
            li
              a(href='/resources.html#learning') Learning resources
            li
              a(href='/resources.html#training') Training and Courses
            li
              a(href='/faq.html') FAQ
            li
              span.mobmenu__parent
                a(href='/use-cases.html') Use Cases
                button.mobmenu__opener
              ul
                li
                  a(href='/use-cases/in-memory-cache.html') In-Memory Cache
                li
                  a(href='/use-cases/in-memory-data-grid.html') In-Memory Data Grid
                li
                  a(href='/use-cases/in-memory-database.html') In-Memory Database
                li
                  a(href='/use-cases/key-value-store.html') Key-Value Store
                li
                  a(href='/use-cases/high-performance-computing.html') High Performance Computing
                li
                  a(href='/use-cases/digital-integration-hub.html') Digital Integration Hub
                li
                  a(href='/use-cases/spark-acceleration.html') Spark Acceleration
                li
                  a(href='/use-cases/hadoop-acceleration.html') Hadoop Acceleration
                li
                  a(href='/use-cases.html') View All
            li
              span.mobmenu__parent
                a(href='/features/') Features
                button.mobmenu__opener
              ul
                li
                  a(href='/arch/multi-tier-storage.html') Multi-Tier Storage
                li
                  a(href='/arch/native-persistence.html') Native Persistence
                li
                  a(href='/features/sql.html') Distributed SQL
                li
                  a(href='/features/key-value-apis.html') Key-Value APIs
                li
                  a(href='/features/acid-transactions.html') ACID Transactions
                li
                  a(href='/features/compute-apis.html') Compute APIs
                li
                  a(href='/features/service-apis.html') Services
                li
                  a(href='/features/machinelearning.html') Machine Learning
                li
                  a(href='/features/streaming.html') Real-Time Streaming APIs
                li
                  a(href='/docs/latest/messaging') Messaging
                li
                  a(href='/docs/latest/key-value-api/continuous-queries') Continuous Queries
                li
                  a(href='/features/index.html') View All
            li
              a(href='/community.html') Community
              ul.isdefault
                li
                  a(href='/community.html') Project Info
                li
                  a(href='/events.html') Events
            li
              a(href='/use-cases/provenusecases.html') Powered by
            li
              a(href='/resources.html') Resources
            li
              a(href='/blog/') Blog
            li
              a(href='/docs/latest/') Docs
          a.button.mobmenu__button(href='/download.cgi') Download Ignite
        // //mobmenu__menu
      // //mobmenu__wrap
    // //mobmenu
// MOBILE MENU END
