section.poweredvideos.container 
    .poweredvideos__grid
        +powvideo(
            "https://www.youtube.com/watch?v=3FFexcYIpmA",
            "/img/poweredby/videos/001.png",
            "IBM",
            "Leveraging In-Memory Compute Grids With Core Systems Of&nbsp;Record"
        )
            p Apache Ignite based platform is used for IBM Z Mainframes workload acceleration.
            p 
                a(href="https://www.youtube.com/watch?v=1QGUblzStoQ", target="_blank") View presentation and learn more about speaker

        +powvideo(
            "https://youtu.be/3w0H3zLH594",
            "/img/poweredby/videos/bloomberg.jpg",
            "Bloomberg",
            "Real-time Data Access with Apache Ignite SQL"
        )
            p Apache Ignite is a key component of Bloomberg's portfolio management system. From this talk you will learn how the finance industry’s ever-increasing need to process large datasets in real-time led Bloomberg's engineers to select Ignite to deliver persistence, caching, and integrated compute.
            p 
                a(href="https://youtu.be/3w0H3zLH594", target="_blank") View presentation and learn more about speaker

        +powvideo(
            "https://www.youtube.com/watch?v=BSGFL72u2iY",
            "/img/poweredby/videos/cern.jpg",
            "CERN",
            "Improving the CERN Control and Monitoring Platform (C2MON) with Apache Ignite"
        )
            p The CERN Control and Monitoring platform (C2MON) is an open-source platform for industrial controls data acquisition, monitoring, control, and data publishing. For C2MON the existing legacy was replaced with caching framework with Apache Ignite. It improves C2MON's scalability and enables it to handle high volumes of data.
            p 
                a(href="https://www.youtube.com/watch?v=BSGFL72u2iY", target="_blank") View presentation and learn more about speaker

        +powvideo(
                "https://www.youtube.com/watch?v=KLnvIiwAl2o",
                "/img/poweredby/videos/013.png",
                "Trimble",
                "Building A&nbsp;Live Geospatial Analytics Platform For Construction Productivity With Apache Ignite",
                "comvideo__txt--black  comvideo__txt--medium"
            )
                p Trimble built a live geospatial analytics platform for construction productivity with Apache Ignite. Apache Ignite forms a key infrastructural component of the TRex platform. It supports the real-time ingestion of data from the field, along with OLTP-style analytics and queries against that data, such as thematic tiling, volumes & cut/fill calculations, spatial profiling, etc.
                p 
                    a(href="https://www.youtube.com/watch?v=KLnvIiwAl2o", target="_blank") View presentation and learn more about speaker

        +powvideo(
                "https://www.youtube.com/watch?v=WLPv_2sKRRw",
                "/img/poweredby/videos/cardano.jpg",
                "Cardano",
                "Ignite: Quant Revolution",
                "comvideo__txt--black  comvideo__txt--medium"
            )
                p Quantitative analytics usually requires combining a calculation methodology with data in the form of software. Traditionally, the first two components have been on the main stage, but software was never the main actor. Cardano Risk management’s solution is to build a firsthand, scalable, high-performance system with Apache Ignite.
                p 
                    a(href="https://www.youtube.com/watch?v=WLPv_2sKRRw", target="_blank") View presentation and learn more about speaker

        +powvideo(
            "https://techblog.yahoo.co.jp/oss/yahoo_shopping_purchases_ignite/",
            "/img/poweredby/videos/004.png",
            "Yahoo! Japan",
            "&laquo;Recent Purchases&raquo; With Apache Ignite",
            "", false
        )
            p <a href="https://techblog.yahoo.co.jp/oss/yahoo_shopping_purchases_ignite/" target="_blank">This blog post</a> explains why Yahoo! Japan chose Apache Ignite for a highly scalable caching system that can process tens of thousands of requests per second.
            p.comvideo__gray SQL queries were performed via thin clients since they do not require a standard topology join, and therefore are easier to handle through container services. After a successful POC, Ignite fully met their requirements and was quickly rolled into production.

        +powvideo(
            "https://www.youtube.com/watch?v=ZZI7MVE1ZBo&t=2s",
            "/img/poweredby/videos/005.png",
            "American Airlines",
            "In-Memory Computing Patterns For High Volume, Real Time Applications",
        )
            p American Airlines’ IT&nbsp;transformations are due to&nbsp;the following advantages of&nbsp;Apache Ignite based platform:
            ul.dashlist.pt-1
                li Improvement in bandwidth and response times
                li Improved availability
                li Horizontal and vertically scalability
                li Efficiency
                li ANSI-99 SQL and ACID transaction guarantees and ctr.
            p
                a(href="https://www.imcsummit.org/2018/us/session/memory-computing-patterns-high-volume-real-time-applications", target="_blank") View presentation and learn more about speaker

        +powvideo(
            "https://www.youtube.com/watch?v=CPmwnjDJ1Sk",
            "/img/poweredby/videos/006.png",
            "ING Bank",
            "Embracing The Service Consumption Shift In&nbsp;Banking"
        )
            p ING core banking system transformation using an Apache Ignite-based platform.
            p
                a(href="https://www.imcsummit.org/2018/us/session/embracing-service-consumption-shift-banking", target="_blank") View presentation and learn more about speaker

        +powvideo(
            "https://www.youtube.com/watch?v=g1FcrOPXWyg",
            "/img/poweredby/videos/007.png",
            "Banco do Brasil",
            "Using Ignite And JBoss Drools To&nbsp;Implement A&nbsp;Complex Event Processing Solution",
            "comvideo__txt--black comvideo__txt--medium"
        )
            p Вanco do&nbsp;Brasil is&nbsp;developing the omnichannel Horus platform in-house. They implemented a&nbsp;complex event processing ecosystem that is&nbsp;based on&nbsp;Apache Ignite, JBoss Drools, and other components. The team also built microservices and interface applications, both event-driven.
            p
                a(href="https://www.youtube.com/watch?v=g1FcrOPXWyg", target="_blank") View presentation and learn more about speaker

        +powvideo(
            "https://www.youtube.com/watch?v=EdFOKJIjRSg",
            "/img/poweredby/videos/008.png",
            "24 Hour Fitness",
            "Fitness + In Memory Computing = Getting Ahead Of The Game"
        )
            p Apache Ignite based platform is used as a digital integration hub and database for a variety of 24 Hour Fitness services.
            p
                a(href="https://www.imcsummit.org/2019/us/session/fitness-memory-computing-getting-ahead-game", target="_blank") View presentation and learn more about speaker

    .poweredvideos__linkwrap.pt-5
        a.poweredvideos__loadmore(href="#", data-hideopen="morevideo", data-invis="1") Load more stories

    .poweredvideos__morewrap(data-hidebox="morevideo")
        .poweredvideos__more
            +powvideo(
                "https://www.youtube.com/watch?v=luEYsfZAYOU",
                "/img/poweredby/videos/ifood.jpg",
                "iFood",
                "What We Learned Supporting 1M RPM with 10 MS Latency Using Apache Ignite at iFood",
                "comvideo__txt--black"
            )
                p iFood is the largest Food Tech in Latin America, with more than 300k stores in more than 1700 cities in Brazil and Colombia. The platform is now processing more than 65 million orders per month, which translates to more than 500M events being delivered to external agents (user devices and integrations). Apache Ignite allows to support an average throughput of 1M rpm with p99 at less than 10ms of latency.
                p
                    a(href="https://www.youtube.com/watch?v=luEYsfZAYOU", target="_blank") View presentation and learn more about speaker

            +powvideo(
                "https://www.youtube.com/watch?v=NUxdoL-K9Ys",
                "/img/poweredby/videos/012.png",
                "nference.ai",
                "How nference.ai Leverages Ignite For Distributed Analytics In&nbsp;The Bioinformatics Domain",
                "comvideo__txt--black  comvideo__txt--medium"
            )
                p nference.ai uses Ignite for distributed analytics in&nbsp;the bioinformatics domain.
                p Ignite, as a horizontally scalable framework, allows for the defining of different statistical analyses, and the execution of it on TBs of numerical data in real time, without movement of data.
                p
                    a(href="https://www.youtube.com/watch?v=NUxdoL-K9Ys", target="_blank") View presentation and learn more about speaker

            +powvideo(
                "https://www.youtube.com/watch?v=jF9T2cJB6t0",
                "/img/poweredby/videos/009.png",
                "JPMorgan Chase",
                "High Performance Exposure Management With Apache Ignite",
                "comvideo__txt--black"
            )
                p Exposure management poses unique technical challenges for Asset Management. Requests involve heavy computation on&nbsp;top of&nbsp;millions of&nbsp;data points with target response times of&nbsp;around a&nbsp;1/3&nbsp;second. 
                p This challenge was solved using an&nbsp;Apache Ignite-based platform.
                p
                    a(href="https://www.youtube.com/watch?v=jF9T2cJB6t0", target="_blank") View presentation and learn more about speaker

            +powvideo(
                "https://www.youtube.com/watch?v=B8A8yR_e6VM",
                "/img/poweredby/videos/009.png",
                "JPMorgan Chase",
                "Real Time Exposure Management Using Ignite",
                "comvideo__txt--black"
            )
                p The increasing need in the finance world to apply transformations to large datasets in real time led the Asset Management’s portfolio management system team to select Ignite to achieve persistence, caching and integrated compute.
                p
                    a(href="https://www.youtube.com/watch?v=B8A8yR_e6VM", target="_blank") View presentation and learn more about speaker

            +powvideo(
                "https://www.youtube.com/watch?v=n8SRNf_mO_U",
                "/img/poweredby/videos/expedia.jpg",
                "Expedia",
                "Lightning Fast Flight Searches on Expedia Using Apache Ignite",
                "comvideo__txt--black"
            )
                p Flight searches on the Expedia platform are executed on a read-heavy system with peak search traffic regularly in the range of thousands of transactions per second, so caching is a natural requirement. Moving the caching layer to Apache Ignite Expedia made the flight search 10x faster using off-heap reads, server-side computing, binary objects, and affinity collocation.
                p
                    a(href="https://www.youtube.com/watch?v=n8SRNf_mO_U", target="_blank") View presentation and learn more about speakers

            +powvideo(
                "https://www.youtube.com/watch?v=_mnZQ3JDcn8",
                "/img/poweredby/videos/014.png",
                "Sentienz",
                "Ignite Success Story: How Ignite Fuels The High Throughput Messaging In&nbsp;Sentienz Akiro",
                "comvideo__txt--black  comvideo__txt--medium"
            )
                p Sentienz uses Apache Ignite to&nbsp;handle more than a million requests per second from 10&nbsp;Million devices with a&nbsp;single cluster IoT platform.
                p
                    a(href="https://www.youtube.com/watch?v=n8SRNf_mO_U", target="_blank") View presentation and learn more about speaker

            +powvideo(
                "https://www.youtube.com/watch?v=mfZ8VOL6XSE",
                "/img/poweredby/videos/komodo.jpg",
                "KomodoHealth",
                "Processing Komodo Health's Data with Apache Ignite in AWS",
                "comvideo__txt--black  comvideo__txt--medium"
            )
                p KomodoHealth is using Apache Ignite to facilitate the processing of healthcare data.
                p
                    a(href="https://www.youtube.com/watch?v=mfZ8VOL6XSE", target="_blank") View presentation and learn more about speaker

            +powvideo(
                "https://www.youtube.com/watch?v=GoXBevB9iKA",
                "/img/poweredby/videos/019.png",
                "Hypi",
                "Building A&nbsp;Graph Centric Platform On&nbsp;Ignite"
            )
                p Apache Ignite as&nbsp;a&nbsp;graph centric platform.
                p
                    a(href="https://www.imcsummit.org/2019/eu/session/building-graph-centric-platform-ignite", target="_blank") View presentation and learn more about speaker

            +powvideo(
                "https://www.youtube.com/watch?v=B7yRPl56xAM",
                "/img/poweredby/videos/psc.jpg",
                "Transition Technologies PSC",
                "Data Management in the IoT with Apache Ignite"
            )
                p Apache Ignite plays a major role in ThingWorx, the enterprise IoT platform from PTC. A distributed cache helps keep data synchronized in clustered environments. Distributed computation gives insight into the value that hides in the data.
                p
                    a(href="https://www.youtube.com/watch?v=B7yRPl56xAM", target="_blank") View presentation and learn more about speaker

            +powvideo(
                "https://www.youtube.com/watch?v=eRzX1Rd7T7I",
                "/img/poweredby/videos/kubo.jpg",
                "Kubo",
                "Building serverless reactive systems using Apache Ignite "
            )
                p Apache Ignite has powerful in-memory, distributed computing capabilities that can be used as a foundation of building various programming models.
                p
                    a(href="https://www.youtube.com/watch?v=eRzX1Rd7T7I", target="_blank") View presentation and learn more about speaker

            +powvideo(
                "https://www.youtube.com/watch?v=wkCW8YC8eKU",
                "/img/poweredby/videos/024.png",
                "Dutch Railways",
                "Detecting Potentially Hazardous Situations In Dutch Railway Planning Using Apache Ignite",
                "comvideo__txt--black  comvideo__txt--medium"  
            )
                p Detecting potentially hazardous situations in Dutch railway planning to meet the challenges of one of the busiest rail infrastructures in Europe. JDriven built a space-based architecture with Apache Ignite.
                p
                    a(href="https://www.youtube.com/watch?v=wkCW8YC8eKU", target="_blank") View presentation and learn more about speaker

            +powvideo(
                "https://www.youtube.com/watch?v=z28rthKIrDk",
                "/img/poweredby/videos/003.png",
                "Teradata",
                "S9D Using Apache Ignite As&nbsp;A&nbsp;Part Of&nbsp;Real Time Campaigning"
            )
                p Apache Ignite usage for handling real time marketing campaigns.
                p
                    a(href="https://www.imcsummit.org/2019/eu/session/using-apache-ignite-part-real-time-campaigning", target="_blank") View presentation and learn more about speaker