#promotion-bar
    a(href="https://ignite-summit.org/2025/?utm_medium=website-direct&utm_source=apache_ignite&utm_term=ignite-summit&utm_content=event-hosted&utm_campaign=2023-06-06-ignite-summit-nam" target="_blank" title="Ignite Summit 2025" rel="noopener noreferrer")
        | Ignite Summit 2025 – Call for Speakers Now Open – Learn more
        | &nbsp;
        span(class="more d-none d-lg-block")
            img(src="/images/promos/arrow-white.svg")