#promotion-bar
    a(href="https://ignite-summit.org/2023-june/?utm_medium=website-direct&utm_source=apache_ignite&utm_term=ignite-summit&utm_content=event-hosted&utm_campaign=2023-06-06-ignite-summit-nam" target="_blank" title="Ignite Summit — June 6, 2023 — Join virtually!" rel="noopener noreferrer")
        span
            img(class="ignite-summit-logo" src="/images/promos/summit-lime.svg")
        | Ignite Summit 2023— Watch on demand —
        strong &nbsp;Register now!
        | &nbsp;
        span(class="more d-none d-lg-block")
            img(src="/images/promos/arrow-white.svg")