.container {
    max-width: 1068px;
}

@media (min-width: 744px) and (max-width: 1200px) {
    .container {
        max-width: 100%;
    }
}

h1 {
    margin-block: 70px 50px;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
}

.blog__header p {
    margin-bottom: 10px;
}

.blog__content {
    display: flex;
    gap: 80px;
}

.blog_main {
    max-width: 746px;
}

.post {
    margin-bottom: 80px;
}

.post__header {
    background: #0065BF;
    border-radius: 10px;
    color: #fff;
    padding: 40px 50px;
    margin-bottom: 30px;
}

.post__header h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
}

.post__header h2 a {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
    text-decoration: none;
}

.post__header div {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.post__header a {
    text-decoration: underline;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.post p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}

.post h4 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}

.post h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-block: 20px 25px;
}

.post ul {
    list-style-type: disc;
    padding-left: 30px;
    margin-bottom: 10px;
}

.post li {
    list-style-type: disc;
    font-size: 16px;
    line-height: 24px;
}

.post code {
    display: block;
    margin-bottom: 10px;
    background: #F6F6F6;
    overflow-x: auto;
}

.post p code,
.post li code {
    display: inline;
    margin-bottom: 0;
}

.pagination {
    display: flex;
    gap: 10px;
    margin-bottom: 90px;
}

.pagination a {
    display: inline-flex;
    background: #F6F6F6;
    border-radius: 10px;
    color: #000;
    font-size: 14px;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
}

.pagination a.current {
    background: #000;
    color: #fff;
}

@media (max-width: 1000px) {
    .blog_main {
        max-width: 77%;
    }

    h1 {
        font-size: 48px;
        line-height: 1;
        margin-bottom: 38px;
    }

    .post {
        margin-bottom: 60px;
    }

    .post__header h2 a {
        font-size: 24px;
        line-height: 30px;
    }

    .post__header a,
    .post h4,
    .post h4,
    .post li,
    .post p {
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .blog__content {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .blog_main {
        max-width: 100%;
    }

    .blog__sidebar ul {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    .blog__sidebar ul a {
        font-size: 14px;
        line-height: 24px;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .post {
        margin-bottom: 40px;
    }

    .post__header {
        padding: 20px;
    }

    .post__header h2 {
        margin-bottom: 10px;
    }

    .post__header h2 a {
        font-size: 18px;
        line-height: 24px;
    }

    .post__header a,
    .post h4,
    .post h4,
    .post li,
    .post p {
        font-size: 12px;
        line-height: 20px;
    }

    .post h4 {
        font-size: 14px;
        line-height: 20px;
    }
    
    .post h3 {
        font-size: 18px;
        line-height: 24px;
    }
}