.innerhero__pic--database {
  width: auto;
  height: auto;
  top: auto;
  bottom: -11rem;
  transform: none;
  left: 72%;
}
.base2__text {
  max-width: 510px;
}
.base1 {
  padding-bottom: 13rem;
}
.base1__h2 {
  max-width: 810px;
}
.base1__item {
  margin-bottom: 2rem;
  align-items: center;
}
.base1__item:last-child {
  margin-bottom: 0;
}
.base1__block {
  max-width: 510px;
  margin-right: 14rem;
}
.base1__block:last-child {
  margin-right: 0;
}
.base1__blocks {
  margin-top: 5rem;
  align-items: center;
}
.base1__black {
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
}
.base1__black:last-child {
  margin-bottom: 0;
}

.base3 {
  padding-top: 13rem;
  padding-bottom: 13rem;
}
.base3__blocks {
  margin-top: 5rem;
}
.base3__block {
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  padding: 4rem 6rem 3.5rem 4rem;
  margin-right: 3rem;
  max-height: 380px;
}
.base3__block:last-child {
  margin-right: 0;
}
.base3__h3 {
  font-size: 2rem;
  height: 5.2rem;
}
.base3__image {
  padding: 1.6rem;
  background: #f6f6f6;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.base3__images {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  justify-content: space-between;
}
.base3__item {
  flex-direction: column;
  align-items: center;
  margin-right: 3rem;
  text-align: center;
}
.base3__subtext {
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.base3__item:last-child {
  margin-right: 0;
}

.base3__text {
  color: #9c9c9c;
  max-width: 280px;
  height: 7.2rem;
}
.base5__text {
  max-width: 540px;
}

.base3__textend {
  max-width: 260px;
}
.base5__textend {
  max-width: 480px;
}

@media (max-width: 1350px) {
  .base3__blocks {
    margin-top: 1rem;
    flex-wrap: wrap;
  }
  .base3__h3 {
    height: auto;
  }
  .base3__block {
    margin-top: 2rem;
    padding: 4rem;
  }
  .base3__images {
    margin-top: 4rem;
  }
}

@media (max-width: 1199px) {
  .innerhero__pic--database {
    width: 60rem;
  }
  .base1 {
    padding-bottom: 8rem;
  }
  .base3 {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

@media (max-width: 992px) {
  .innerhero__pic--database {
    width: 50rem;
  }
  .base1__block {
    margin-right: 0rem;
  }
  .base1__block:last-child {
    margin-right: 0;
  }
  .base3__blocks {
    flex-direction: column;
  }
  .base3__text {
    height: auto;
  }
  .base3__block {
    margin-right: 0rem;
    padding: 3rem;
  }
}

@media (max-width: 767px) {
  .base5__text {
    max-width: 100%;
  }
  .base1__block {
    max-width: 100%;
  }
  .base1 {
    padding-bottom: 6rem;
  }
  .base1__blocks {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3rem;
  }
  .base1__block:last-child {
    margin-top: 3rem;
  }
  .base3 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .base3__text {
    max-width: 100%;
  }
  .base3__block {
    width: 100%;
    max-height: inherit;
  }
  .base3__images {
    flex-wrap: wrap;
    margin-top: 1rem;
    width: 100%;
  }
  .base3__item {
    margin-top: 1rem;
  }
  .base3__item {
    margin-right: 2rem;
  }
}

@media (max-width: 500px) {
  .base3__block {
    padding: 2rem;
  }
  .base3__item {
    margin-right: 1rem;
  }
  h2 br{
    display: none;
  }
}
