.innerhero__pic--deploy{
    right: -25px;
    top: -20px;
}


.deploymenytext{
    padding-top: 13rem;
}
.deploymenytext__main{
    width: 50%;
}
.deploymenytext__main p:not(:last-child){
    margin-bottom: 2rem;
}
.deploymenytext__title{
    font-weight: 700;
}
.deploymenytext__picwrap{
    margin-left: auto;
    padding: 6rem 9rem;
    max-width: 542px;
}
.deploymenytext__pic{
    display: block;
    width: 100%;
}







@media (max-width:1199px){
    .innerhero__pic--deploy{
        right: -160px;
    }
    .deploymenytext__picwrap{
        max-width: calc(50% - 5rem);
    }
}


@media (max-width:992px){
    .deploymenytext {
        flex-flow: column nowrap;
        align-items: stretch;
        padding-top: 8rem;
    }
    .deploymenytext__main{
        width: auto;
    }
    .deploymenytext__picwrap{
        max-width: none;
        margin: 5rem auto;
    }
}


@media (max-width:767px){
    .deploymenytext{
        padding-top: 6rem;
    }
    .deploymenytext__picwrap{
        margin-top: 3rem;
    }
    .deploymenytext__title{
        padding-top: 0;
    }
}