.innerhero__pic--hub {
  width: auto;
  height: auto;
  top: auto;
  bottom: -11rem;
  transform: none;
  left: 78%;
}
.innerhero__mainhub {
  max-width: 930px;
  width: auto;
}
.hub2__grid {
  display: flex;
  justify-content: flex-start;
  grid-gap: 0;
  grid-template-columns: 0;
}
.hub2item {
  max-width: 540px;
}
.hub2item:last-child {
  margin-left: 7.7rem;
}
.hub2__text {
  max-width: 360px;
}
.hub5__video {
  font-size: 2.2rem;
}
.hub1 {
  padding-top: 13rem;
  padding-bottom: 13rem;
}

.hub1__image {
  margin-left: 10.8rem;
}
.hub1__block {
  margin-top: 5rem;
  justify-content: space-between;
}
.hub1__title {
  font-weight: bold;
}
.hub1__info {
  max-width: 540px;
}
.hub1__text {
  margin-top: 2rem;
}
.hub1__titleend {
  margin-top: 5rem;
}

.hub3 {
  padding-top: 13rem;
  padding-bottom: 8rem;
}
.hub3__subtext {
  max-width: 600px;
  margin-top: 2.4rem;
  margin-bottom: 4rem;
}
.hub3__part {
  margin-right: 4rem;
  font-size: 2rem;
  font-weight: bold;
  align-items: center;
}
.hub3__item {
  margin-left: 1rem;
}
.hub3__blocks {
  margin-top: 6.7rem;
}
.hub3__block {
  max-width: 530px;
}
.hub3__block:last-child {
  margin-left: 11rem;
}
.hub4 {
  padding-bottom: 13rem;
}

.hub4__h2 {
  max-width: 850px;
  margin-bottom: 2rem;
}
.hub4__subtext {
  max-width: 600px;
  margin-right: 4rem;
}
.hub4__grey {
  color: #9c9c9c;
  max-width: 530px;
}
.hub4__numbers {
  margin-top: 5rem;
}
.hub4__text {
  margin-top: 1rem;
  max-width: 220px;
}
.hub4__num {
  color: #0070cc;
  font-weight: bold;
}
.hub4__number {
  margin-right: 21rem;
}
.hub4__number:last-child {
  margin-right: 0;
}
.hub4__textall {
  max-width: 180px;
}
.hub5__title {
  padding-bottom: 1rem;
}
.hub5__text {
  max-width: 430px;
}
.hub5__item {
  width: 540px;
}
.hub5__twowrap {
  justify-content: space-between;
  max-width: calc(52% + 640px);
}
.comvideo__txthub {
  max-width: 82%;
}
@media (max-width: 1199px) {
  .innerhero__pic--hub {
    width: 50rem;
  }

  .hub1 {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .hub1__image {
    width: 50%;
  }
  .hub3 {
    padding-top: 8rem;
    padding-bottom: 6rem;
  }
  .hub3__blocks {
    margin-top: 6rem;
  }
  .hub4__number {
    margin-right: 15rem;
  }
  .hub4__number:last-child {
    margin-right: 0;
  }
  .hub4 {
    padding-bottom: 8rem;
  }
  .hub5__twowrap {
    justify-content: space-between;
    max-width: calc(60% + 540px);
  }
  .hub5__item {
    width: 450px;
  }
}

@media (max-width: 992px) {
  .hub3__parts {
    flex-wrap: wrap;
  }
  .hub3__part {
    margin-bottom: 1rem;
  }
  .hub3__part:last-child {
    margin-bottom: 0;
  }
  .hub5__twowrap {
    flex-direction: column;
    padding-top: 0;
  }
  .hub5__item {
    width: 100%;
    margin-top: 3rem;
  }
}

@media (max-width: 767px) {
  .hub2__grid {
    flex-direction: column;
  }
  .hub2item:last-child {
    margin-left: 0;
    margin-top: 3rem;
  }
  .hub1 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .hub1__block {
    flex-direction: column;
    margin-top: 3rem;
  }
  .hub1__image {
    margin-left: 0;
    width: 100%;
    margin-top: 3rem;
  }
  .hub1__info {
    max-width: 100%;
  }
  .hub1__titleend {
    margin-top: 3rem;
  }
  .hub3 {
    padding-top: 6rem;
    padding-bottom: 5rem;
  }
  .hub3__subtext {
    max-width: 100%;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .hub3__blocks {
    margin-top: 3rem;
    flex-direction: column;
  }
  .hub3__block:last-child {
    margin-left: 0;
    margin-top: 2rem;
  }
  .hub4__subtext {
    max-width: 100%;
    margin-right: 0rem;
  }
  .hub4__grey {
    max-width: 100%;
    margin-top: 1rem;
  }
  .hub4__blocks {
    flex-direction: column;
  }
  .hub4__number {
    margin-right: 0;
    margin-top: 1rem;
  }
  .hub4__numbers {
    flex-direction: column;
    margin-top: 1rem;
  }
  .hub4 {
    padding-bottom: 6rem;
  }
  .hub4__textall {
    max-width: 100%;
  }
  .hub4__text {
    max-width: 100%;
  }
  .hub3__parts {
    flex-direction: column;
  }
}
