.innerhero--download{
    padding: 4rem 0 7rem;
}
.innerhero__pic--download{
    top: -68px;
    right: -110px;
}
.downloadtitle {
    font-size: 3.2rem;
    line-height: 1.35;
    padding-top: 11rem;
}

.download-src {
    padding-top: 7rem;
    padding-bottom: 8rem;
}
.downtable__wrap {
    overflow-x: auto;
    padding-bottom: 5px;
}
.downtable {
    background: var(--grey);
    border-radius: 1rem;
    width: 100%;
    border-collapse: collapse;
}
.downtable th,
.downtable td{
    height: 9rem;
    vertical-align: middle;
    font-weight: 700;
    border-bottom: 1px solid var(--grey2);
    position: relative;
    text-align: left;
}
.downtable td{
    height: 6rem;
    white-space: nowrap;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.downtable--docker td{
    height: auto;
    padding: 2rem 0;
    vertical-align: top;
}
.downtable tr:last-child td{
    border-bottom: none;
}
.downtable th:first-child,
.downtable td:first-child{
    padding-left: 3rem;
}
.downtable th:last-child,
.downtable td:last-child{
    padding-right: 2rem;
}
.downtable1 {
    width: 15%;
}
.downtable2 {
    width: 20%;
}
.downtable3 {
    width: 15%;
}
.downtable4 {
    width: 15%;
}
.downtable5 {
    width: 35%;
}
.downtable td a:not(:last-child)::after{
    content:", ";
    display: inline-block;
    margin-right: 5px;
}
.sourcelink::after{
    display: none !important;
}
.downtable__meny {
    z-index: 10;
    display: block;
    position: absolute;
    right: 2rem;
    height: 100%;
    top:50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
}
.downtable__button {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background: url(../img/downloads/icon-download.svg) center center no-repeat;
    background-color:var(--blue);
    background-size: 18px;
    border:none;
    cursor: pointer;
    transition: background 0.2s ease;
}
.downtable__button:hover,
.downtable__button.active{
    background-color: var(--blue2);
}
.downtable__popup {
    position: absolute;
    display: block;
    right: 0;
    top: calc(100% + 9px);
    border-radius: 1rem;
    background: white;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2);
    z-index: 5;
    width: 107px;
    padding: 2rem;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-6px);
    transition: transform 0.2s ease, opacity 0.2s ease;
}
.downtable__button.active + .downtable__popup{
    pointer-events: auto;
    height: auto;
    opacity: 1;
    transform: translateY(0px);
}
.downtable__popup a{
    display: block;
    font-weight: 700;
    color:#000;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 9px;
}
.downtable__popup a:last-child{
    margin-bottom: 0;
}
.downtable__popup a:hover{
    text-decoration: none;
    color:var(--blue);
}


.download-src__bottom {
    justify-content: space-between;
}
.download-src__left {
    width: calc(50% - 5rem);
}
.download-src__right {
    width: calc(50% - 5rem);
}
.download-choser {
    align-items: center;
}
.download-choser__label {
    font-weight: 700;
    padding-right: 4rem;
}
.download-choser__select {
    border-radius: 1rem;
    background: var(--grey);
    flex-grow: 1;
    align-items: center;
    height: 6rem;
    padding: 0 1rem;
}
.jsDownloadDomenSelect {
    display: block;
    flex-grow: 1;
    height: calc(100% - 1.5rem);
    font-size: 16px;
    padding-left: 1rem;
    border:1px solid var(--grey2);
    background: url(../img/downloads/icon-shevron.svg) var(--grey) calc(100% - 10px) center no-repeat;
    border-radius: 1rem;
}
.download-choser__button {
    height: calc(100% - 1.5rem);
    width: 10rem;
    background: var(--grey2);
    border-radius: 1rem;
    display: block;
    flex-shrink: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    color:var(--grey5);
    margin-left: 1rem;
    pointer-events: none;
}
.download-choser__button:hover{
    text-decoration: none;
}
.download-choser__button--blue{
    background: var(--blue);
    color:#fff;
    pointer-events: auto;
    border: none;
}
.download-choser__button--blue:hover{
    background: var(--blue2);
    color:#fff;
}


.download-bin {
    padding-top: 8rem;
}
.download-bin__header {
    max-width: 768px;
}


.downloadslim {
    padding-top: 8rem;
    padding-bottom: 4px;
}


.download-docker {
    padding-top: 8rem;
}
.downverify {
    padding-bottom: 5rem;
}
.downverify__wrap {
    justify-content: space-between;
}
.downverify__left {
    width: calc(50% - 3rem);
}
.downverify__right {
    width: calc(50% - 3rem);
    margin-left: auto;
    max-width: 648px;
}
.downverify__code {
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 2rem 3rem;
    display: block;
    background: var(--grey);
    font-family: monospace;
    font-size: 13px;
    line-height: 1.8;
    white-space: nowrap;
}
.downfooter {
    padding-top: 8rem;
    padding-bottom: 5rem;
}
.nomargin {
    margin: 0;
}
.party3rd {
    padding-top: 8rem;
    padding-bottom: 13rem;
}
.party3rd__wrap {
    justify-content: space-between;
}
.party3rd__wrap p:not(:last-child){
    margin-bottom: 1rem;
}
.party3rd__left {
    width: calc(50% - 3rem);
    max-width: 542px;
}
.party3rd__right {
    width: calc(50% - 3rem);
    max-width: 542px;
}









@media (max-width:1440px){
    .cmtynavblock--down{
        justify-content: space-between;
    }
    .cmtynavblock--down li{
        padding-left: 2rem;
        padding-right: 2rem;
    }
} /* END MEDIA 1199px */



@media (max-width:1199px){
    .download-src__bottom,
    .downverify__wrap{
        flex-flow: column nowrap;
        align-items: stretch;
    }
    .download-src__left,
    .downverify__left{
        width: auto;
    }
    .download-src__right,
    .downverify__right{
        padding-top: 3rem;
        width: auto;
        margin-left: 0;
        max-width: none;
    }
    .downverify__code{
        overflow-x: auto;
    }
    .downverify__code p::after{
        content:"";
        display: inline-block;
        width: 3rem;
        height: 1px;
    }
} /* END MEDIA 1199px */




@media (max-width:992px){
    .cmtynavblock--downwrap{
        width: 100%;
        overflow: hidden;
        overflow-x: auto;
        height: 7rem;
    }
} /* END MEDIA 1199px */





@media (max-width:767px){
    .downloadtitle{
        padding-top: 7rem;
        font-size: 2.4rem;
    }
    .downloadtitle br{
        display: none;
    }
    .capstext.pb-5{
        padding-bottom: 3rem;
    }
    .capstext.pb-3{
        padding-bottom: 2rem;
    }
    .downtable__scroller{
        overflow-x: auto;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .downtable__wrap{
        overflow: hidden;
        margin-right: -15px;
        margin-left: -15px;
        position: relative;
    }
    .downtable__wrap::before{
        content:"";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 40px;
        background:linear-gradient(270deg, #ffffff, transparent);
        z-index: 10;
        pointer-events: none;
    }
    .downtable td,
    .downtable th{
        padding-right: 2rem;
        padding-left: 2rem;
    }
    .download-src{
        padding-bottom: 0;
    }
    .download-bin__header{
        padding-bottom: 3rem;
    }
    .download-choser{
        flex-flow: column nowrap;
        align-items: stretch;
    }
    .download-choser__label{
        margin-bottom: 1rem;
    }
    .downverify{
        padding-bottom: 0;
    }
    .download-src__bottom, .downverify__wrap{
        padding-top: 3rem;
    }
    .downfooter{
        padding-bottom: 0;
    }
    .downfooter__spacer {
        padding-bottom: 3rem;
    }
    .party3rd{
        padding-bottom: 8rem;
    }
    .party3rd__wrap{
        flex-flow: column nowrap;
        padding-top: 2rem;
    }
    .party3rd__left{
        width: 100%;
    }
    .party3rd__right{
        width: 100%;
        padding-top: 3rem;
    }
    .party3rd__left .pb-2{
        padding-bottom: 0;
    }
} /* END MEDIA 767px */