.innerhero__pic--features{
    width: 60rem;
    height: auto;
    top: -50px;
    transform: none;
    left: 70%;
}
.features2,
.features3,
.features4,
.features5{
    padding: 9rem 0 0rem;
}
.features2__title{
    padding-bottom: 9rem;
    font-weight: 400;
}
.cardswrap{
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows:auto;
    grid-gap: 4rem 3rem;
}


.featureslast__main{
    background: #E8F2FA;
    border-radius: 10px;
    padding: 5rem 7rem 6rem;
}
.featureslast__title{
    font-size: 3.2rem;
    line-height: 4.2rem;
    font-weight: bold;
}
.featureslast{
    padding-top: 8rem;
    padding-bottom: 10rem;
}
.featureslast__links{
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-gap: 2rem 10rem;
}




@media (max-width:992px){
    .cardswrap{
        grid-template-columns: 1fr 1fr;
    }
    .featureslast__links{
        grid-template-columns: max-content max-content;
    }
}/* END MEDIA 992px */



@media (max-width:767px){
    .features1__main{
        max-width: none;
        width: auto;
        text-align: left;
        min-height: auto;
    }
    .features2__title{
        text-align: left;
        padding-bottom: 5rem;
        font-size: 3rem;
        line-height: 1.4;
    }
    .features1__descr br,
    .features2__title br,
    .blockheader__right br{
        display: none;
    }
    .features1__main .h2{
        font-size: 4.2rem;
        line-height: 1.15;
    }
    .cardswrap{
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        padding-top: 3rem;
        padding-bottom: 0;
    }
    .features2,
    .features3,
    .features4,
    .features5{
        padding-top: 6rem;
        padding-bottom: 3rem;
    }
    .featureslast{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .featureslast__main{
        padding: 4rem 2rem;
    }
    .featureslast__title{
        font-size: 2.6rem;
        line-height: 3.6rem;
    }
    .featureslast__links{
        grid-template-columns: 1fr;
        padding-top: 2rem;
        grid-gap: 1.5rem;
    }
}/* END MEDIA 767px */