@charset "UTF-8";
/*
 ▄▄▄       ██▓███   ▄▄▄       ▄████▄   ██░ ██ ▓█████     ██▓  ▄████  ███▄    █  ██▓▄▄▄█████▓▓█████
▒████▄    ▓██░  ██▒▒████▄    ▒██▀ ▀█  ▓██░ ██▒▓█   ▀    ▓██▒ ██▒ ▀█▒ ██ ▀█   █ ▓██▒▓  ██▒ ▓▒▓█   ▀
▒██  ▀█▄  ▓██░ ██▓▒▒██  ▀█▄  ▒▓█    ▄ ▒██▀▀██░▒███      ▒██▒▒██░▄▄▄░▓██  ▀█ ██▒▒██▒▒ ▓██░ ▒░▒███
░██▄▄▄▄██ ▒██▄█▓▒ ▒░██▄▄▄▄██ ▒▓▓▄ ▄██▒░▓█ ░██ ▒▓█  ▄    ░██░░▓█  ██▓▓██▒  ▐▌██▒░██░░ ▓██▓ ░ ▒▓█  ▄
 ▓█   ▓██▒▒██▒ ░  ░ ▓█   ▓██▒▒ ▓███▀ ░░▓█▒░██▓░▒████▒   ░██░░▒▓███▀▒▒██░   ▓██░░██░  ▒██▒ ░ ░▒████▒
 ▒▒   ▓▒█░▒▓▒░ ░  ░ ▒▒   ▓▒█░░ ░▒ ▒  ░ ▒ ░░▒░▒░░ ▒░ ░   ░▓   ░▒   ▒ ░ ▒░   ▒ ▒ ░▓    ▒ ░░   ░░ ▒░ ░
  ▒   ▒▒ ░░▒ ░       ▒   ▒▒ ░  ░  ▒    ▒ ░▒░ ░ ░ ░  ░    ▒ ░  ░   ░ ░ ░░   ░ ▒░ ▒ ░    ░     ░ ░  ░
  ░   ▒   ░░         ░   ▒   ░         ░  ░░ ░   ░       ▒ ░░ ░   ░    ░   ░ ░  ▒ ░  ░         ░
      ░  ░               ░  ░░ ░       ░  ░  ░   ░  ░    ░        ░          ░  ░              ░  ░
*/
/*
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
*/
div, p, h1, h2, h3, span, body, html, ul, li {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.carousel {
  min-height: 500px;
}

#overview h2,
#download h2,
#community h2,
#askquestion h2,
#features h2 {
  font-size: 28px;
  color: #333;
  padding: 5px 0 20px 0;
  text-align: center;
}

#overview h2:after,
#download h2:after,
#community h2:after,
#askquestion h2:after {
  display: none;
  width: 0;
  height: 0;
}

h3, .h3 {
  font-size: 22px;
  color: #333;
}

p {
  line-height: 1.2em;
  color: #333;
  font-size: 18px;
}

#overview {
  margin: -38px 0 0;
  padding-top: 80px;
}
#overview p {
  text-align: center;
}

#askquestion,
#download,
#community {
  margin: -38px 0 0;
  padding-top: 20px;
}
#askquestion p,
#download p,
#community p {
  text-align: center;
}

.feature-block {
  margin-top: 40px;
  padding: 40px 0 24px;
  border-top: 1px dotted #ddd;
}
.feature-block .inside-feature-block-1 {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
.feature-block .inside-feature-block-1 > img {
  float: right;
  vertical-align: top;
}
.feature-block .inside-feature-block-1 ul > li {
  padding-bottom: 4px;
}
.feature-block .inside-feature-block-1 .feature-header {
  font-weight: 700;
  padding-bottom: 10px;
  padding-left: 20px;
}
.feature-block .inside-feature-block-1 > div {
  float: left;
  vertical-align: top;
}
.feature-block .inside-feature-block-2 {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
.feature-block .inside-feature-block-2 > img {
  float: left;
  vertical-align: top;
}
.feature-block .inside-feature-block-2 ul > li {
  padding-bottom: 4px;
}
.feature-block .inside-feature-block-2 .feature-header {
  font-weight: 700;
  padding-bottom: 10px;
  padding-left: 20px;
}
.feature-block .inside-feature-block-2 > div {
  float: right;
  vertical-align: top;
}

.carousel-inner p {
  color: #fff;
}

.carousel .img-holder {
  margin: 0;
}
.carousel .img-holder img {
  width: auto;
  height: auto;
}

div#banner1 p {
  padding-bottom: 40px;
  font-size: 24px;
}

#documentation table > tbody > tr > th,
#download table > tbody > tr > th {
  text-align: center;
  background-color: #34495e;
  color: #fff;
}
#documentation table, #documentation table > tbody > tr > tr, #documentation table > tbody > tr > th, #documentation table > tbody > tr > td,
#download table,
#download table > tbody > tr > tr,
#download table > tbody > tr > th,
#download table > tbody > tr > td {
  border: 1px solid #34495e;
}
#documentation table ul#javadoc,
#documentation table ul#docs,
#documentation table ul#videos,
#download table ul#javadoc,
#download table ul#docs,
#download table ul#videos {
  margin: 0;
  padding: 4px 0;
  list-style: none;
}
#documentation table ul#javadoc > li,
#documentation table ul#docs > li,
#documentation table ul#videos > li,
#download table ul#javadoc > li,
#download table ul#docs > li,
#download table ul#videos > li {
  padding-bottom: 4px;
}

#community ul#lists,
#askquestion ul#lists {
  margin: 0;
  padding: 4px 0;
  list-style: none;
}
#community ul#lists > li,
#askquestion ul#lists > li {
  padding-bottom: 4px;
}

#download table > tbody > tr > td {
  text-align: center;
}

#footer p {
  font-size: 13px;
  text-align: justify;
  text-justify: inter-word;
}
#footer .social-networks {
  float: right;
}

.footer-nav > ul {
  padding-left: 50px;
}

#header {
  background: rgba(54, 54, 54, 0.95);
  top: 0;
}

.key-features h2 {
  font-size: 34px;
  color: #333;
  padding: 0 0 35px 0;
  text-align: center;
}
.key-features .examples-heading,
.key-features .screencasts-heading,
.key-features .features-heading {
  font-weight: 700;
  padding-bottom: 10px;
}
.key-features ul.features-list {
  padding-left: 20px;
}
.key-features ul.features-list > li {
  padding-bottom: 4px;
}
.key-features .feature-links {
  margin-top: 20px;
}
.key-features .feature-links > a:last-child {
  padding-left: 10px;
}
.key-features section.feature-section {
  padding: 95px 0 30px 0;
  margin-top: -40px;
  border-bottom: 2px dotted #ddd;
}
.key-features section.feature-section:last-child {
  border-bottom: none;
}
.key-features img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.key-features .code-examples {
  margin: 20px 0 30px 0;
}
.key-features .screencasts iframe {
  border: 1px solid #eee;
}
.key-features #features {
  padding-top: 100px;
}

.syntaxhighlighter .code,
.syntaxhighlighter .gutter {
  font-size: 16px !important;
}
