.innerhero__pic--inmemory{
    width: 61rem;
    height: auto;
    top: auto;
    bottom: -20rem;
    transform: none;
    left: 60%;
}

.inmememor1 {
    padding-top: 13rem;
    padding-bottom: 13rem;
}
.inmememor1 .h3{
    font-weight: normal;
}
.inmememor1__text{
    font-size: 3rem;
    line-height: 1.3;
    max-width: 1000px;
}
.inmememor-adv{
    padding-top: 0rem;
    padding-bottom: 0rem;
}
.inmememor-adv__wrap {
    padding-top: 5rem;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 15rem;
}
.inmememor-adv__item {
    width: 40rem;
    position: relative;
    background: var(--grey);
    border-radius: 1rem;
    padding: 3rem 3rem 4rem;
}
.inmememor-adv__item .h4{
    font-weight: 400;
}
.inmememor-adv__text {
    padding-top: 2rem;
    max-width: 32rem;
}
.inmememor-adv__item:first-child::after{
    content:"";
    display: block;
    position: absolute;
    top:calc(50% - 2rem);
    left: calc(100% + 6rem);
    width: 4rem;
    height: 4rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='%230070CC' d='M376 232H216V72c0-4.42-3.58-8-8-8h-32c-4.42 0-8 3.58-8 8v160H8c-4.42 0-8 3.58-8 8v32c0 4.42 3.58 8 8 8h160v160c0 4.42 3.58 8 8 8h32c4.42 0 8-3.58 8-8V280h160c4.42 0 8-3.58 8-8v-32c0-4.42-3.58-8-8-8z'%3E%3C/path%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
}


.inmememor-api {
    padding-top: 13rem;
}
.inmememor-api__wrap {
    padding-top: 5rem;
}
.inmememor-api__item {
    width: 25%;
    flex-shrink: 0;
    flex-grow: 0;
}
.inmememor-api__icon {
    display: block;
    width: 8rem;
    height: auto;
}


.inmememor2 {
    padding-top: 13rem;
}
.inmememor2__work{
    justify-content: space-between;
}
.inmememor2__left {
    width: 50%;
    flex-shrink: 0;
    max-width: 510px;
}
.inmememor2__right {
    width: 50%;
    max-width: 625px;
    flex-shrink: 0;
}
.inmememor2__picwrap {
    margin-top: 5rem;
    background: var(--grey);
    border:1px solid var(--grey2);
    border-radius: 1rem;
    padding: 5.5rem 0;
    margin-bottom: 8rem;
}
.inmememor2__picwrap img{
    display: block;
    margin: 0 auto;
    max-width: 90%;
}
.inmememor2__left--icon {
    padding-left: 7rem;
    position: relative;
    background: url(../img/features/in-memory/icon-attention.svg) left top no-repeat;
    background-size: 48px;
    padding-top: 0.5rem;
}
.inmememor2__left--icon .dashlist{
    max-width: 375px;
}
.inmememor2__right p:not(:last-child){
    margin-bottom: 2rem;
}


.inmememor3 .inmememor2__picwrap{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.inmememor3__bottom{
    padding-top: 6rem;
}
.inmememor3__botwrap p:not(:last-child){
    margin-bottom: 2rem;
}
.inmememor3__botwrap {
    justify-content: space-between;
}
.inmememor3__checklist li{
    position: relative;
    font-size: 2rem;
    margin-bottom: 2rem;
    padding-left: 3.8rem;
    background: url(../img/features/in-memory/icon-check.svg) left top no-repeat;
    background-size: 2.4rem;
}



@media (max-width:1199px){
    .inmememor1{
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
    .inmememor-api__item{
        width: 33%;
    }
    .inmememor2__left{
        padding-right: 5rem;
    }

}/* END MEDIA 1199px */

@media (max-width:992px){
    .inmememor-adv__wrap{
        grid-gap: 7rem;
        grid-template-columns:1fr 1fr
    }
    .inmememor-adv__item:first-child::after{
        left: calc(100% + 15px);
    }

}/* END MEDIA 1199px */

@media (max-width:767px){
    .inmememor1{
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
    .inmememor1 .h3{
        font-size: 3.2rem;
    }
    .inmememor1 br{
        display: none;
    }
    .inmememor-adv{
        padding-bottom: 6rem;
    }
    .inmememor-adv h2{
        font-size: 3.2rem;
        padding-bottom: 2rem;
    }
    .inmememor-adv__wrap{
        grid-template-columns: 1fr;
        grid-gap: 7rem;
    }
    .inmememor-adv__item{
        width: auto;
    }
    .inmememor-adv__item:first-child::after{
        left: calc(50% - 22px);
        bottom: -45px;
        top:auto;
    }
    .inmememor-adv__text br{
        display: none;
    }

    .inmememor-api{
        padding-top: 3rem;
    }
    .inmememor-api__wrap{
        padding-top: 3rem;
        flex-flow: column nowrap;
        align-items: stretch;
    }
    .inmememor-api__item{
        width: auto;
        padding-bottom: 3rem;
    }
    .inmememor-api__item p{
        padding-top: 1rem;
    }
    .inmememor-api__item br,
    .inmememor2__left br,
    .inmememor2__right br{
        display: none;
    }

    .inmememor2{
        padding-top: 8rem;
    }
    .inmememor2__work{
        flex-flow: column nowrap;
    }
    .inmememor2__left{
        width: 100%;
    }
    .inmememor2__right{
        padding-top: 3rem;
        width: 100%;
    }
    .inmememor2__picwrap{
        margin-top: 3rem;
        margin-bottom: 4rem;
    }
    .inmememor3 .inmememor2__picwrap{
        margin-bottom: 2rem;
        margin-top: 4rem;
    }
    .inmememor3__botwrap{
        padding-top: 4rem;
        flex-flow: column nowrap;
        align-items: stretch;
    }
    .inmememor2__right{
        padding-top: 1rem;
    }
    .inmememor3__checklist li{
        font-size: 1.8rem;
        padding-top: 2px;
        margin-bottom: 1rem;
    }
    .inmememor2 .fz20,
    .inmememor3 .fz20{
        font-size: 2.2rem;
    }
    .inmememorvideowrap,
    .inmememorvideowrap .container{
        padding-top: 0;
    }

}/* END MEDIA 1199px */
