html{
    font-size: 9px;
}

/* === === === === === === === === COMMUNITY PAGE === === === === === === === === */
.hdr{
    height: 80px;
}
.hdr__wrap{
    padding: 0 15px;
    height: 80px;
}
.hdrmenu{
    position: relative;
    top: auto;
    left: auto;
    transform: none;
}
.hdrmenu li{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.hdrmenu li a::after{
    display: none;
}
.hdr__button{
    order:3;
}
.cmtyhero{
    height: calc(100vh - 80px);
    min-height: 500px;
    max-height: 800px;
}
.cmtyhero__img{
    width: 40%;
    height: auto;
}
.cmtyhero__h1{
    font-size: 5rem;
    line-height: 1.15;
}
.cmtyhero__text{
    max-width: 50%;
    font-size: 2rem;
}
.cmtyhero__sub{
    padding-top: 6rem;
}
.cmtynavblock {
    height: 6rem;
}

.cmtyhistory2__right img{
    max-width: 88%;
}
.cmtyhistory3__left img{
    max-width: 90%;
}

.cmty-meet__pic img{
    width: 45vw;
    top: 0;
}
.cmty-meet{
    padding: 100px 0;
}
.cmty-meet__h2{
    font-size: 4rem;
}
.cmty-meet__text{
    font-size: 2rem;
}
.cmty-meet__sub{
    padding-top: 6rem;
}

.cmty-contrib__main{
    max-width: 50%;
    padding-right: 40px;
}
.cmty-contrib__pic{
    width: 48%;
}

.committer{
    height: 5rem;
}
.committer__github,
.committer__apache{
    width: 24px;
    height: 24px;
    margin: 0 10px;
}
.committer__apache{
    height: 3.8rem;
}
.committer__github img, .committer__apache img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cmty-pm__wrap{
    grid-gap: 1.5rem;
    grid-auto-rows: 223px;
}
.cmty-pmitem{
    padding: 40px 20px 10px;
}
.cmty-pmitem__links{
    bottom: 25px;
    left: 20px;
}
.cmty-pmitem__proff{
    height: 20px;
    top: 20px;
}

.cmty-startcont__main{
    padding-right: 4rem;
}
.cmty-startcont__pic{
    width: 48%;
}
.cmty-startcont__pic img{
    width: 100%;
}

.cmty-ready__wrap{
    grid-gap: 1rem;
}
.cmty-ready__item{
    padding: 20px 15px 20px 25px;
    min-height: auto;
}
.cmty-ready__wrap{
    grid-auto-rows: auto;
}
.cmty-ready__item i{
    margin-bottom: 2rem;
}

.cmty-ready__bottom{
    flex-flow: column nowrap;
    align-items: stretch;
}
.cmty-ready__botttl{
    width: 100%;
    padding-bottom: 2rem;
}
.cmty-ready__botttl br{
    display: none;
}
.cmty-ready__screens{
    flex-basis: auto;
    padding-bottom: 2rem;
}
.cmty-ready__more{
    background: none;
    padding-top: 2rem;
}

.cmty-red{
    padding-top: 5rem;
}

.cmty-redstep--1::after{
    display: none;
}
.cmty-redstart__wrap{
    grid-template-columns: 2fr 4fr;
}
.cmty-redstep--2, .cmty-redstep--3{
    width: auto;
}

.cmty-ask{
    margin-top: 6rem;
    padding: 8rem 0;
}
.cmty-ask__title{
    font-size: 5rem;
}
.cmty-ask__text{
    font-size: 2rem;
}
.cmty-ask__bg{
    margin-left: auto;
    flex-basis: auto;
    width: 45%;
}




@media (max-width:992px){
    html{
        font-size: 8px;
    }
    .hdr__button{
        padding: 0 10px;
        font-size: 1.4rem;
    }
    .hdrmenu li{
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
    .cmtynavblock__list li{
        padding: 0 15px;
    }

    .hdrmenu{
        display: none;
    }
    .hdr__burger{
        display: block;
    }
    .hdr__blue .hdr__burger img,
    .hdr__dark .hdr__burger img{
        filter: invert(1);
    }
    
    .cmtyhero{
        display: block;
        text-align: center;
        height: auto;
        min-height: auto;
        max-height: none; 
    }
    .cmtyhero__main{
        padding: 6rem 0 4rem;
        height: auto;
        min-height: auto;
        max-height: none;
    }
    .cmtyhero__h1{
        font-size: 4rem;
        max-width: none;
        width: 100%;
    }
    .cmtyhero__text{
        padding-top: 2rem;
        max-width: none;
        line-height: 1.5;
    }
    .cmtyhero__sub{
        width: 100%;
        padding-top: 2rem;
    }
    .cmtyhero__img{
        position: relative;
        right: auto;
        height: auto;
        width: 90%;
        max-height: 400px;
        object-fit: contain;
        order:2;
        top: auto;
        margin-bottom: 4rem;
        transform: none;
    }
    .capstext{
        line-height: 1.5;
    }



    .cmtyhistory1__left{
        width: 40%;
    }
    .cmtyhistory1__left img{
        width: 80%;
        margin-top: 8rem;
    }
    .cmtyhistory2{
        padding-top: 1rem;
    }
    .cmtyhistory2__right img{
        margin-top: 4rem;
    }
    .cmtyhistory3{
        padding-top: 60px;
    }
    .cmtyhistory3__left img{
        margin-top: 3rem;
    }

    .cmty-meet{
        margin-top: 0;
    }
    .cmty-meet__main{
        padding-right: 20px;
    }
    .cmty-meet__text{
        font-size: 1.7rem;
        line-height: 1.5;
    }
    .cmty-meet__sub{
        padding-top: 3rem;
    }
    .committers__morelink{
        margin-top: 2rem;
    }

    .cmty-pm{
        padding-top: 4rem;
        padding-bottom: 6rem;
    }
    .cmty-pm__wrap{
        grid-template-columns: 1fr 1fr;
    }
    .cmty-pm__more .jsOpenerWrap{
        padding-top:15px;
    }


    .cmty-startcont{
        padding: 6rem 0;
    }
    .cmty-startcont__wrap{
        flex-flow: column nowrap;
        align-items: stretch;
    }
    .cmty-startcont__main{
        max-width: none;
        text-align: center;
        padding: 0;
    }
    .cmty-startcont__pic{
        width: 80%;
        max-width: 400px;
        margin: 4rem auto 0;
    }

    .cmty-docs{
        padding: 6rem 0;
    }
    .cmty-docblock, .tplbox{
        width: calc(50% - 5px);
        padding: 40px 30px;
        min-height: auto;
    }
    .cmty-docblock__icon, .tplbox__icon,
    .cmty-redblock .tplbox__icon{
        left: 30px;
    }
    .cmty-docblock__title,
    .cmty-redblock .h4{
        padding-top: 7rem;
    }

    .cmty-ready__wrap{
        grid-template-columns: 1fr 1fr;
    }

    .cmty-redblock{
        width: 100%;
    }
    .cmty-red__wrap{
        grid-auto-rows: auto;
        grid-gap: 10px;
    }
    .cmty-redblock ul{
        padding-top: 3rem;
    }

    .cmty-redstep i{
        left: 25px;
        top: 25px;
        font-size: 34px;
    }
    .cmty-redstep::before{
        top: 25px;
        width: 7px;
    }
    .cmty-redstart__wrap{
        grid-auto-rows: auto;
    }
    .cmty-redstep--2, .cmty-redstep--3{
        padding: 30px 70px 20px 85px;
    }
    .cmty-redstep--2, .cmty-redstep--3{
        background-size: 70px;
    }
    .cmty-redstart__botright{
        width: calc(50% - 20px);
    }

    .cmty-ask__main{
        padding-right: 2rem;
    }
    .cmty-ask__title{
        font-size: 4rem;
    }
    .cmty-ask__text{
        font-size: 1.8rem;
    }

    .faqblock{
        padding-bottom: 8rem;
    }
    .faqblock__title img{
        width: 35px;
    }
    .faqblock__title{
        padding-right: 30px;
    }
    .faqblock__title br{
        display: none;
    }
    .faqblock__right{
        padding-top: 0;
    }
    .faqblock__button{
        height: 4rem;
        margin-right: 2rem;
    }
} /* END MEDIA 992px */





@media (max-width:767px) {
    body{
        font-size: 1.7rem;
    }
    .hdr, .hdr__wrap{
        height: 65px;
    }
    .hdr__logo{
        width: 100px;
    }
    .hdr__button{
        font-size: 1.7rem;
        height: 35px;
    }

    .cmtyhero__h1 br{
        display: none;
    }

    .cmtynavblock{
        width: 100%;
        overflow: hidden;
        overflow-x: auto;
    }
    .hdr-active .cmtynavblock{
        top: 64px;
    }
    .cmtynavblock__list{
        justify-content: flex-start;
    }
    .cmtynavblock__list li{
        padding: 0 10px;
    }

    .cmtyhistory{
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    .cmtyhistory1__title{
        font-size: 3rem;
        text-align: center;
    }
    .cmtyhistory1__wrap{
        padding-top: 5rem;
        flex-flow: column nowrap;
        align-items: stretch;
    }
    .cmtyhistory1__left{
        width: 100%;
        align-self: center;
    }
    .cmtyhistory__year{
        top: auto;
        bottom: 0;
        left: 0;
        font-size: 4rem;
    }
    .cmtyhistory1__left img{
        width: 200px;
        margin-top: 0rem;
        margin-bottom: 8rem;
        margin-left: auto;
        margin-right: auto;
    }
    .cmtyhistory1__right{
        padding-top: 2rem;
    }
    .cmtyhistory2{
        padding-top: 0rem;
    }
    .cmtyhistory2__wrap,
    .cmtyhistory3__wrap{
        flex-flow: column nowrap;
        align-self: stretch;
    }
    .cmtyhistory2__right{
        width: 100%;
    }
    .cmtyhistory2__right img{
        margin: 0 auto 7rem;
        max-width: 100%;
    }
    .cmtyhistory2__left{
        padding-top: 2rem;
    }
    .cmtyhistory3{
        padding-top: 5rem;
    }
    .cmtyhistory3__left{
        width: 100%;
        padding-top: 0;
    }
    .cmtyhistory3__left img{
        margin-top: 0;
        margin-bottom: 7rem;
        max-width: 100%;
    }
    .cmtyhistory3__right{
        width: auto;
        padding-top: 2rem;
    }
    .cmtyhistory5{
        padding-top: 0;
    }
    .cmtyhistory5 .cmtyhistory3__right{
        padding-top: 2rem;
    }

    .cmty-meet{
        padding: 6rem 0;
    }
    .cmty-meet__wrap{
        flex-flow: column nowrap;
        align-self: stretch;
    }
    .cmty-meet__main{
        max-width: none;
        padding-right: 0;
    }
    .cmty-meet__h2{
        font-size: 3rem;
    }
    .cmty-meet__sub{
        padding-top: 2rem;
    }
    .cmty-meet__pic{
        width: auto;
        margin: 5rem 0 0;
    }
    .cmty-meet__pic img{
        position: relative;
        width: 100%;
    }

    .cmty-contrib{
        padding: 6rem 0;
    }
    .cmty-contrib__wrap{
        flex-flow: column nowrap;
        align-items: stretch;
    }
    .cmty-contrib__main{
        max-width: none;
        padding-right: 0;
    }
    .cmty-contrib__pic{
        width: auto;
        padding-top: 4rem;
    }
    .cmty-contrib__pic img{
        margin-top: 0;
    }


    .cmty-committers{
        padding-bottom: 6rem;
    }
    
    .committers__wrap,
    .committers__more{
        grid-template-columns: 1fr;
    }
    .committers__left, .committers__right{
        width: 100%;
    }
    .committers__right{
        padding-top: 4rem;
    }
    .committer{
        padding-right: 0;
    }

    .cmty-pm__wrap{
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }
    .cmty-pmitem{
        padding: 20px 20px;
    }
    .cmty-pmitem__name{
        min-height: auto;
    }
    .cmty-pmitem__links{
        position: relative;
        bottom: 0;
        left: 0;
        padding-top: 2rem;
    }
    .cmty-pmitem__github{
        margin-right: 10px;
    }

    .cmty-docs__wrap{
        flex-flow: column nowrap;
        align-items: stretch;
    }
    .cmty-docblock, .tplbox{
        width: 100%;
        margin-bottom: 2rem;
    }
    .cmty-docblock__list{
        padding-top: 2rem;
    }
    .cmty-ready__wrap{
        grid-template-columns: 1fr;
    }
    .cmty-ready__bottom{
        padding: 6rem 0;
    }
    .cmty-ready__screens{
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }

    .cmty-red br{
        display: none;
    }
    .cmty-red__wrap{
        grid-template-columns: 1fr;
        padding-top: 3rem;
    }

    .cmty-redstart{
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    .cmty-redstart__wrap{
        grid-template-columns: 1fr;
    }
    .cmty-redstart__left{
        width: 100%;
    }
    .cmty-redstep--1{
        z-index: 100;
        padding: 30px 70px 20px 85px;
    }
    .cmty-redstart__iframe{
        pointer-events: none;
    }
    .cmty-redstart__bottom{
        padding-top: 6rem;
        flex-flow: column nowrap;
    }
    .cmty-redstart__bottitle{
        width: 100%;
        padding-bottom: 3rem;
    }
    .cmty-redstart__botright{
        width: 100%;
        padding: 15px;
    }

    .cmty-ask{
        margin-top: 0;
        padding: 6rem 0;
        text-align: center;
    }
    .cmty-ask__title{
        font-size: 3rem;
    }
    .cmty-ask__wrap{
        flex-flow: column nowrap;
        align-items: stretch;
    }
    .cmty-ask__main{
        padding-right: 0;
    }
    .cmty-ask__bg{
        padding-top: 3rem;
        width: 70%;
        margin-right: auto;
    }


    .faq{
        padding: 6rem 0;
    }
    .faqblock{
        flex-flow: column nowrap;
        padding-bottom: 4rem;
    }
    .faqblock__title{
        width: 100%;
        font-size: 2.5rem;
    }
    .faqblock__right{
        width: 100%;
        padding-top: 3rem;
        max-width: none;
    }
    .faqblock__buttons{
        flex-flow: column nowrap;
        align-items: flex-start;
        padding: 3rem 0;
    }
    .faqblock__button{
        margin-bottom: 1rem;
    }
    .pushup p{
        font-size: 13px;   
    }
} /* END MEDIA 767px */



/* === === === === === === === === END COMMUNITY PAGE === === === === === === === === */