.innerhero__pic--lang {
  width: 67rem;
  height: auto;
  top: auto;
  bottom: -11rem;
  transform: none;
  left: 50%;
}
.lang {
  padding-top: 13rem;
}
.lang-block {
  justify-content: space-between;
}
.lang__text {
  max-width: 620px;
}
.lang__image {
  background: #f6f6f6;
  border-radius: 10px;
  padding: 4rem;
  margin-left: 11rem;
  width: 542px;
}
.lang__img1 {
  margin-right: 17rem;
}
.lang__two {
  align-items: center;
  margin-top: 1.5rem;
}
.lang__img4 {
  margin-top: 3rem;
  margin-left: 6rem;
}
@media (max-width: 1199px) {
  .innerhero__pic--lang {
    width: 50rem;
  }
}
@media (max-width: 992px) {
  .lang-block {
    flex-direction: column;
  }
  .lang {
    padding-top: 8rem;
  }
  .lang__image {
    margin-left: 0rem;
    margin-top: 3rem;
  }
}

@media (max-width: 767px) {
  .lang__image {
    margin-left: 0rem;
    margin-top: 3rem;
    width: 100%;
    height: auto;
  }
}
@media (max-width: 600px) {
  .lang__img {
    width: 30%;
  }
  .lang__image {
    padding: 3rem;
  }
  .lang__one {
    align-items: center;
  }
  .lang__img1 {
    margin-right: 8rem;
  }
  .lang__img4 {
    margin-top: 0rem;
    margin-left: 0rem;
    width: 60%;
  }
  .lang__two {
    justify-content: space-between;
  }
}
