#footer {
    
    // box-shadow: 
    //     inset 0px 15px 8px -10px theme-color('shadow-gray'),
    //     inset 0px -15px 8px -10px theme-color('shadow-gray');

        .wrapper {
            background: rgb(24,124,204);
            background: -moz-linear-gradient(45deg, rgba(24,124,204,1) 0%, rgba(10,90,154,1) 45%, rgba(242,242,242,0) 45%);
            background: -webkit-linear-gradient(45deg, rgba(24,124,204,1) 0%, rgba(10,90,154,1) 45%, rgba(242,242,242,0) 45%);
            background: linear-gradient(45deg, rgba(24,124,204,1) 0%, rgba(10,90,154,1) 45%, rgba(242,242,242,0) 45%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#187ccc",endColorstr="#f2f2f2",GradientType=1);
    
            padding-top: 3rem;
        }

    nav {
        ul {
            
            li {
                padding:5px;
                a {
                    color: #ffffff;
                }
            }
        }
    }
    .copyright {
        padding-left: 33%;
        
        .footer-logos {
            display: flex;
            justify-content: space-between;


            .ignite {
                img {
                    width: 190px;
                }
            }
            .apache {
                img {
                    width: 80px;
                }
            }
        }
    }
}




// Small devices (landscape phones, less than 768px)
// @media (max-width: 767.98px) { ... }
@include media-breakpoint-down(sm) {
    

    #footer {

        nav {
            ul {
                display: flex;
                justify-content: space-evenly;
                li {
                
                    a {
                        color: #000;
                    }
                }
            }
        }

        .wrapper {
             background: none;
        }
        .copyright {
            padding: 0;
            text-align: center;

            .footer-logos {
                justify-content: space-evenly;
                padding-bottom: 20px;
            }
        }
    }
    
}


// Extra small devices (portrait phones, less than 576px)
// @media (max-width: 575.98px) { ... }
@include media-breakpoint-down(xs) { 
   
    #footer {
        nav {
            ul {
                flex-wrap: wrap;
            }
        }
    }
}


