/*
 ▄▄▄       ██▓███   ▄▄▄       ▄████▄   ██░ ██ ▓█████     ██▓  ▄████  ███▄    █  ██▓▄▄▄█████▓▓█████
▒████▄    ▓██░  ██▒▒████▄    ▒██▀ ▀█  ▓██░ ██▒▓█   ▀    ▓██▒ ██▒ ▀█▒ ██ ▀█   █ ▓██▒▓  ██▒ ▓▒▓█   ▀
▒██  ▀█▄  ▓██░ ██▓▒▒██  ▀█▄  ▒▓█    ▄ ▒██▀▀██░▒███      ▒██▒▒██░▄▄▄░▓██  ▀█ ██▒▒██▒▒ ▓██░ ▒░▒███
░██▄▄▄▄██ ▒██▄█▓▒ ▒░██▄▄▄▄██ ▒▓▓▄ ▄██▒░▓█ ░██ ▒▓█  ▄    ░██░░▓█  ██▓▓██▒  ▐▌██▒░██░░ ▓██▓ ░ ▒▓█  ▄
 ▓█   ▓██▒▒██▒ ░  ░ ▓█   ▓██▒▒ ▓███▀ ░░▓█▒░██▓░▒████▒   ░██░░▒▓███▀▒▒██░   ▓██░░██░  ▒██▒ ░ ░▒████▒
 ▒▒   ▓▒█░▒▓▒░ ░  ░ ▒▒   ▓▒█░░ ░▒ ▒  ░ ▒ ░░▒░▒░░ ▒░ ░   ░▓   ░▒   ▒ ░ ▒░   ▒ ▒ ░▓    ▒ ░░   ░░ ▒░ ░
  ▒   ▒▒ ░░▒ ░       ▒   ▒▒ ░  ░  ▒    ▒ ░▒░ ░ ░ ░  ░    ▒ ░  ░   ░ ░ ░░   ░ ▒░ ▒ ░    ░     ░ ░  ░
  ░   ▒   ░░         ░   ▒   ░         ░  ░░ ░   ░       ▒ ░░ ░   ░    ░   ░ ░  ▒ ░  ░         ░
      ░  ░               ░  ░░ ░       ░  ░  ░   ░  ░    ░        ░          ░  ░              ░  ░
*/

/*
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
*/

// Flat colors.
$color-turquoise: #1abc9c;
$color-emerald: #2ecc71;
$color-river: #3498db;
$color-amethyst: #9b59b6;
$color-asphalt: #34495e;
$color-sea: #16a085;
$color-nephritis: #27ae60;
$color-belize: #2980b9;
$color-wisteria: #8e44ad;
$color-midnight: #2C3E50;
$color-sunflower: #F1C40F;
$color-orange: #F39C12;
$color-carrot: #E67E22;
$color-pumpkin: #D35400;
$color-alizarin: #E74C3C;
$color-pomegranate: #C0392B;
$color-cloud: #ECF0F1;
$color-silver: #BDC3C7;
$color-concrete: #95A5A6;
$color-asbestos: #7F8C8D;

div, p, h1, h2, h3, span, body, html, ul, li {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.carousel {
    min-height: 500px;
}

#overview h2,
#cluster-compute h2,
#streaming h2,
#documentation h2,
#download h2,
#community h2,
#data-grid h2 {
    font-size: 28px;
    color: #333;
    padding: 5px 0 20px 0;
    text-align: center;
}

#overview h2:after,
#cluster-compute h2:after,
#streaming h2:after,
#documentation h2:after,
#download h2:after,
#community h2:after,
#data-grid h2:after {
    display: none;
    width: 0;
    height: 0;
}

h3, .h3 {
    font-size: 22px;
    color: #333;
}

p {
    line-height: 1.2em;
    color: #333;
    font-size: 18px;
}

#overview {
    margin: -38px 0 0;
    padding-top: 80px;

    p {
        text-align: center;
    }
}

#cluster-compute {
    margin: -38px 0 0;
    padding-top: 20px;

    p {
        text-align: center;
    }
}

#data-grid {
    margin: -38px 0 0;
    padding-top: 20px;

    p {
        text-align: center;
    }
}

#streaming {
    margin: -38px 0 0;
    padding-top: 20px;

    p {
        text-align: center;
    }
}

#documentation {
    margin: -38px 0 0;
    padding-top: 20px;

    p {
        text-align: center;
    }
}

#download {
    margin: -38px 0 0;
    padding-top: 20px;

    p {
        text-align: center;
    }
}

#community {
    margin: -38px 0 0;
    padding-top: 20px;

    p {
        text-align: center;
    }
}

.feature-block {
    margin-top: 40px;
    padding: 40px 0 24px;
    border-top: 1px dotted #ddd;

    .inside-feature-block-1 {
        display: inline-block;
        width: 100%;
        margin-top: 20px;

        & > img {
            float: right;
            vertical-align: top;
        }

        ul > li {
            padding-bottom: 4px;
        }

        .feature-header {
            font-weight: 700;
            padding-bottom: 10px;
            padding-left: 20px;
        }

        & > div {
            float: left;
            vertical-align: top;
        }
    }

    .inside-feature-block-2 {
        display: inline-block;
        width: 100%;
        margin-top: 20px;

        & > img {
            float: left;
            vertical-align: top;
        }

        ul > li {
            padding-bottom: 4px;
        }

        .feature-header {
            font-weight: 700;
            padding-bottom: 10px;
            padding-left: 20px;
        }

        & > div {
            float: right;
            vertical-align: top;
        }
    }
}

.carousel-inner p {
    color: #fff;
}

.carousel .img-holder {
    margin: 0;

    img {
        width: auto;
        height: auto;
    }
}

div#banner1 {
    & p {
        padding-bottom: 40px;
        font-size: 24px;
    }
}

//a,
//#footer > a:hover,
//.navbar-nav > li > a:hover,
//.navbar-nav > li > a:active,
//.navbar-nav > li > a:focus,
//.navbar-default .navbar-nav > .active > a,
//.navbar-default .navbar-nav > .active > a:hover,
//.navbar-default .navbar-nav > .active > a:focus {
//    color: $color-alizarin !important;
//    background-color: transparent;
//}

#documentation table,
#download table {
    & > tbody > tr > th {
        text-align: center;
        background-color: lighten($color-asphalt, 5%);
        color: #fff;
    }

    &,
    & > tbody > tr > tr,
    & > tbody > tr > th,
    & > tbody > tr > td {
        border: 1px solid lighten($color-asphalt, 15%);
    }

    ul#javadoc,
    ul#docs,
    ul#videos {
        margin: 0;
        padding: 4px 0;
        list-style: none;

        & > li {
            padding-bottom: 4px;
        }
    }
}

#community {
    ul#lists {
        margin: 0;
        padding: 4px 0;
        list-style: none;

        & > li {
            padding-bottom: 4px;
        }
    }
}

#download table > tbody > tr > td {
    text-align: center;
}

#footer {
    .social-networks {
        float: right;
    }
}

.footer-nav > ul {
    padding-left: 95px;
}

#header {
    background: rgba(54, 54, 54, 0.95);
    top: 0;
}
