/*
 ▄▄▄       ██▓███   ▄▄▄       ▄████▄   ██░ ██ ▓█████     ██▓  ▄████  ███▄    █  ██▓▄▄▄█████▓▓█████
▒████▄    ▓██░  ██▒▒████▄    ▒██▀ ▀█  ▓██░ ██▒▓█   ▀    ▓██▒ ██▒ ▀█▒ ██ ▀█   █ ▓██▒▓  ██▒ ▓▒▓█   ▀
▒██  ▀█▄  ▓██░ ██▓▒▒██  ▀█▄  ▒▓█    ▄ ▒██▀▀██░▒███      ▒██▒▒██░▄▄▄░▓██  ▀█ ██▒▒██▒▒ ▓██░ ▒░▒███
░██▄▄▄▄██ ▒██▄█▓▒ ▒░██▄▄▄▄██ ▒▓▓▄ ▄██▒░▓█ ░██ ▒▓█  ▄    ░██░░▓█  ██▓▓██▒  ▐▌██▒░██░░ ▓██▓ ░ ▒▓█  ▄
 ▓█   ▓██▒▒██▒ ░  ░ ▓█   ▓██▒▒ ▓███▀ ░░▓█▒░██▓░▒████▒   ░██░░▒▓███▀▒▒██░   ▓██░░██░  ▒██▒ ░ ░▒████▒
 ▒▒   ▓▒█░▒▓▒░ ░  ░ ▒▒   ▓▒█░░ ░▒ ▒  ░ ▒ ░░▒░▒░░ ▒░ ░   ░▓   ░▒   ▒ ░ ▒░   ▒ ▒ ░▓    ▒ ░░   ░░ ▒░ ░
  ▒   ▒▒ ░░▒ ░       ▒   ▒▒ ░  ░  ▒    ▒ ░▒░ ░ ░ ░  ░    ▒ ░  ░   ░ ░ ░░   ░ ▒░ ▒ ░    ░     ░ ░  ░
  ░   ▒   ░░         ░   ▒   ░         ░  ░░ ░   ░       ▒ ░░ ░   ░    ░   ░ ░  ▒ ░  ░         ░
      ░  ░               ░  ░░ ░       ░  ░  ░   ░  ░    ░        ░          ░  ░              ░  ░
*/

/*
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
*/

// Flat colors.
$color-turquoise: #1abc9c;
$color-emerald: #2ecc71;
$color-river: #3498db;
$color-amethyst: #9b59b6;
$color-asphalt: #34495e;
$color-sea: #16a085;
$color-nephritis: #27ae60;
$color-belize: #2980b9;
$color-wisteria: #8e44ad;
$color-midnight: #2C3E50;
$color-sunflower: #F1C40F;
$color-orange: #F39C12;
$color-carrot: #E67E22;
$color-pumpkin: #D35400;
$color-alizarin: #E74C3C;
$color-pomegranate: #C0392B;
$color-cloud: #ECF0F1;
$color-silver: #BDC3C7;
$color-concrete: #95A5A6;
$color-asbestos: #7F8C8D;

div, p, h1, h2, h3, span, body, html, ul, li {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.carousel {
    min-height: 500px;
}

.screencast {
    border: 1px #ddd solid;
}

#overview h2,
#download h2,
#community h2,
#askquestion h2,
#gettingstarted h2,
#features h2 {
    font-size: 28px;
    color: #333;
    padding: 5px 0 20px 0;
    text-align: center;
}

#overview h2:after,
#download h2:after,
#community h2:after,
#gettingstarted h2:after,
#askquestion h2:after {
    display: none;
    width: 0;
    height: 0;
}

h3, .h3 {
    font-size: 22px;
    color: #333;
}

p {
    line-height: 1.2em;
    color: #333;
    font-size: 18px;
}

#overview {
    margin: -38px 0 0;
    padding-top: 80px;

    p {
        text-align: center;
    }
}

#askquestion,
#download,
#community {
    margin: -38px 0 0;
    padding-top: 20px;

    p {
        text-align: center;
    }
}

.feature-block {
    margin-top: 40px;
    padding: 40px 0 24px;
    border-top: 1px dotted #ddd;

    .inside-feature-block-1 {
        display: inline-block;
        width: 100%;
        margin-top: 20px;

        & > img {
            float: right;
            vertical-align: top;
        }

        ul > li {
            padding-bottom: 4px;
        }

        .feature-header {
            font-weight: 700;
            padding-bottom: 10px;
            padding-left: 20px;
        }

        & > div {
            float: left;
            vertical-align: top;
        }
    }

    .inside-feature-block-2 {
        display: inline-block;
        width: 100%;
        margin-top: 20px;

        & > img {
            float: left;
            vertical-align: top;
        }

        ul > li {
            padding-bottom: 4px;
        }

        .feature-header {
            font-weight: 700;
            padding-bottom: 10px;
            padding-left: 20px;
        }

        & > div {
            float: right;
            vertical-align: top;
        }
    }
}

.carousel-inner p {
    color: #fff;
}

.carousel .img-holder {
    margin: 0;

    img {
        width: auto;
        height: auto;
    }
}

div#banner1 {
    & p {
        padding-bottom: 40px;
        font-size: 24px;
    }
}

#documentation table,
#download table,
#benchmarks table {
    & > tbody > tr > th {
        text-align: center;
        background-color: $color-asphalt;
        color: #fff;
    }

    &,
    & > tbody > tr > tr,
    & > tbody > tr > th,
    & > tbody > tr > td {
        border: 1px solid $color-asphalt;

        &:first-child {
            padding: 5px 20px
        }
    }

    ul#javadoc,
    ul#docs,
    ul#videos {
        margin: 0;
        padding: 4px 0;
        list-style: none;

        & > li {
            padding-bottom: 4px;
        }
    }
}
#benchmarks table {
    margin-bottom: 35px
}
#benchmarks section {
    padding: 90px 0 0 0;
    margin-top: -40px;
    border-bottom: 2px dotted #ddd;

    &.first-section {
        margin-top: 0;
    }
}
#benchmarks img {
    margin: 0;
}
#community,
#askquestion {
    ul#lists {
        margin: 0;
        padding: 4px 0;
        list-style: none;

        & > li {
            padding-bottom: 4px;
        }
    }
}

#download table > tbody > tr > td {
    text-align: center;
}

#footer {
    p {
        font-size: 13px;
        text-align: justify;
        text-justify: inter-word;
    }
    .social-networks {
        float: right;
    }
}

.footer-nav > ul {
    padding-left: 50px;
}

#header {
    background: rgba(54, 54, 54, 0.95);
    top: 0;
}

.key-features {
    h2 {
        font-size: 34px;
        color: #333;
        padding: 0 0 35px 0;
        text-align: center;
    }

    .examples-heading,
    .screencasts-heading,
    .features-heading {
        padding-top: 10px;
        font-weight: 700;
        padding-bottom: 10px;
    }

    
    .feature-box {
        div.feature-left {
            float: left;

            ul.features-list {
                padding-left: 20px;
         
                & > li {
                    padding-bottom: 4px;
                }
            }
        }
        
        div.feature-right {
            padding-top: 10px;
            float: right;
        }
    }

    .feature-links {
        margin-top: 20px;

        & > a:last-child {
            padding-left: 10px;
        }
    }

    section.feature-section {
        padding: 95px 0 30px 0;
        margin-top: -40px;
        border-bottom: 2px dotted #ddd;

        &:last-child {
            border-bottom: none
        }
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;

        & .alignleft {
            float:left;
            margin: 5px 20px 20px 0;
        }
    }

    .code-examples {
        clear: both;
        margin: 20px 0 30px 0;
    }

    .screencasts {
        iframe {
            border: 1px solid #eee;
        }
    }

    #features,
    #benchmarksconfiguration,
    #yardstick {
        padding-top: 100px;
    
        h2 {
            font-size: 34px;
            color: #333;
            padding: 0 0 35px 0;
            text-align: center;
        }
    }
}

.syntaxhighlighter .code,
.syntaxhighlighter .gutter { 
    font-size: 16px !important;
}

img[usemap], map area{
    outline: none;
}
