/**
 * Top Banner Styles
 *
 * Promotional banner that appears above the navigation.
 */

.promotionBar {
  background-color: #1b2d93;
  position: relative;
  z-index: 150;
}

.promotionLink {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  line-height: 22px;
}

.promotionLink:hover {
  color: #ffffff;
  text-decoration: underline;
}

.more {
  display: inline-block;
  margin-right: 5px;
}

.more img {
  width: auto;
  height: auto;
}

/* Hide arrow on small screens (d-none d-lg-block behavior) */
@media (max-width: 991px) {
  .more {
    display: none !important;
  }
}
