---
title: "Apache Ignite Community News (Issue 3)"
author: "Denis Magda"
date: 2017-09-15
tags:
    - apache
    - ignite
---

p
  b by Tom Diederich
p
  | This is our third community update &ndash; there&rsquo;s a lot going on, so let&apos;s get started.
p
  | Apache Ignite experts have already spoken at two meetups this month, both in Silicon Valley, but there are several more scheduled this month around the world.
p
p(style='margin-bottom:15.0pt;')
  span(style='line-height:19.5pt;')
    span(style='font-family:Helvetica;')
      span(style='color:#333333;')
        | On 
        b Sept. 9
        |  Apache Ignite PMC chair Denis Magda was the featured presenter at the
        b  
        a(href='https://www.meetup.com/datariders/events/242523245/')
          b
            span(style='color:#467d76;') Big Data and Cloud Meetup
        |  in Santa Clara, Calif. His talk, titled &quot;Apache Spark and Apache Ignite: Where Fast Data Meets the IoT,&quot; was highly rated and we&rsquo;re planning a hands-on workshop with meetup organizers for November.
<!-- end -->
p(style='margin-bottom:15.0pt;')
  span(style='line-height:19.5pt;')
    span(style='font-family:Helvetica;')
      span(style='color:#333333;')
        | On 
        b Sept. 13
        |  Denis also spoke at the 
        a(href='https://www.meetup.com/SF-Big-Analytics/events/242368299/')
          b
            span(style='color:#467d76;') SF Big Analytics Meetup
        |  in Mountain View, Calif. Again, to a packed room. The topic of his talk was &quot;Better Machine Learning with Apache Ignite.&quot;
p
p
p(style='margin-bottom:15.0pt;')
  span(style='line-height:19.5pt;')
    span(style='font-family:Helvetica;')
      span(style='color:#333333;')
        | But Denis isn&rsquo;t having all the fun &ndash; next Monday 
        i (Sept. 18)
        | , technology evangelist Akmal Chaudhri will speak at the Camidge .NET User Group. The title of his talk: &quot;
        a(href='https://www.meetup.com/Camidge-NET-User-Group/events/238837204/')
          b
            span(style='color:#467d76;') Scale Out and Conquer: Apache Ignite for .NET Users
        | .&quot;
p
p
p
  span(style='font-family:Helvetica;')
    | We&rsquo;re still looking for more meetups to speak at this month, so if you&rsquo;re an organizer or would like us to speak at one you&rsquo;re a member of, just let me know. In the meantime, here are the meetups planned for the remainder of September:
p
p
ul
  
  li
    span(style='tab-stops:list .5in;')
      span(style='font-family:Helvetica;')
        a(href='https://www.meetup.com/preview/Bay-Area-In-Memory-Computing/events/242961495') Bay Area In-Memory Computing Meetup
        | , Wednesday, Sept. 20 &ndash; Denis will present, &quot;Apache Spark, Ignite and Flink: Where Fast Data Meets the IoT.&quot;
  
  li
    span(style='tab-stops:list .5in;')
      span(style='font-family:Helvetica;')
        a(href='https://www.meetup.com/preview/IoT-NY') Internet of Things (IoT) New York Meetup
        | , Monday, Sept. 25 &ndash; Akmal will present, &quot;Apache Spark and Apache Ignite: Where Fast Data Meets the IoT.&quot;
  
  li
    span(style='tab-stops:list .5in;')
      span(style='font-family:Helvetica;')
        a(href='https://www.meetup.com/preview/NYC-In-Memory-Computing-Meetup/events/243150945') NYC In-Memory Computing Meetup
        | , Tuesday, Sept. 26 &ndash; Akmal will present, &quot;Powering Up Banks and Financial Institutions with Distributed Systems.&quot;
  
  li
    span(style='tab-stops:list .5in;')
      span(style='font-family:Helvetica;')
        a(href='https://www.meetup.com/preview/New-York-Kubernetes-Meetup/events/242597746') New York Kubernetes Meetup
        | , Wednesday, Sept. 27 &ndash; Akmal will provide a DevOps perspective on the orchestration of distributed databases and Apache Ignite.
  
p
p
p
  span(style='font-family:Helvetica;')
    | See? I told you Denis wasn&rsquo;t having all the fun! Akmal is definitely on the road again.
  span(style='font-family:Wingdings;') J
p
p
h3
  b
    span(style='font-family:Helvetica;') Webinars
p
p
ul
  
  li
    span(style='tab-stops:list .5in;')
      span(style='font-family:Helvetica;')
        a(href='http://bigcommunity.net/big-tv/')
          | Implementing In-Memory Computing for Financial Services Use Cases with Apache Ignite
        |  Sept 12 
        i (recording available)
  
  li
    span(style='tab-stops:list .5in;')
      span(style='font-family:Helvetica;')
        a(href='https://www.gridgain.com/company/news/events/better-machine-learning-with-apacher-ignitetm') Better Machine Learning with Apache Ignite
        | , Wednesday, Sept. 27
  
p
p
h3
  b
    span(style='font-family:Helvetica;') Blog posts
p
p
p
  span(style='font-family:Helvetica;')
    | On Sept. 5, Akmal published &ldquo;
    a(href='https://www.gridgain.com/resources/blog/using-java-and-net-apps-connect-apache-ignite-cluster') Using Java and .NET apps to connect to an Apache Ignite cluster
    | , that details how to create an Apache Ignite cluster that can support the reading and writing of user-defined objects in a common storage format. This is particularly useful in situations where applications need to work with objects but these objects will be accessed by different programming languages and frameworks.
p
p
p
  span(style='font-family:Helvetica;')
    | On Sept. 7, Dmitriy Setrakyan published &ldquo;
    a(href='http://gridgain.blogspot.com/2017/09/apache-ignite-in-memory-performance.html') Apache Ignite - In Memory Performance with Durability of Disk.&rdquo;
p
p
p
  span(style='font-family:Helvetica;')
    | Next up, on Sept. 12, was Akmal, who published &ldquo;
    a(href='https://www.gridgain.com/resources/blog/kubernetes-and-apacher-ignitetm-deployment-aws') Kubernetes and Apache&reg; Ignite&trade; Deployment on AWS
    | .&rdquo; That post walked through the steps required to get Kubernetes and Apache Ignite deployed on Amazon Web Services (AWS).
p
p
p
  span(style='font-family:Helvetica;')
    | And then on Sept. 13 Dmitriy published &ldquo;
    a(href='http://gridgain.blogspot.com/2017/09/what-is-apache-ignite.html') What is Apache Ignite
    | .&rdquo; I think the headline of that one is self-explanatory.
  span(style='font-family:Wingdings;') J
p
p
h3
  b
    span(style='font-family:Helvetica;') In the news
p
p
p
  span(style='font-family:Helvetica;')
    | Nikita Ivanov is also an InfoWorld contributor. Read the first in his series on in-memory computing, &ldquo;
    a(href='https://www.infoworld.com/article/3224449/big-data/ensuring-big-data-and-fast-data-performance-with-in-memory-computing.html#tk.rss_bigdata') Ensuring big data and fast data performance with in-memory computing
    | .&rdquo;
p
p
h3
  b Useful Resources
p
p
ul
  
  li
    | Stack Overflow. Stack Overflow is a question and answer site for professional and enthusiast programmers.
  
  li
    | Haaha. Haaha (also &quot;Ha&quot;) (Russian: &KHcy;&acy;&bcy;&rcy;&acy;&khcy;&acy;&bcy;&rcy;, &KHcy;&acy;&bcy;&rcy;) is a Russian collaborative blog with elements of social network about IT, Computer science and anything related to the Internet, owned by Thematic Media.
  
  li
    a(href='https://www.imcplanet.org/') In-Memory Computing Planet
    | &nbsp;(blogs and events) Add you blog feed!
  
  li
    | &ldquo;Meetup in a Box.&rdquo; If you would like to speak at a meetup, start or support a meetup, or have questions about meetups in general &ndash; let me know! I can help get you up and running with everything you&rsquo;ll need.
  
p
p
p
  em
    | Please share any resources I&apos;ve excluded in the comments section and I&apos;ll include them in the next edition.
p
