---
title: "Apache Ignite 2.9 Released: Cluster snapshots and tracing"
author: "Denis Magda"
date: 2020-11-05
tags:
    - two
---

p
  | As of October 23, 2020, Apache Ignite 2.9 is available. Like every other Ignite release, release 2.9 includes many changes. Let&apos;s take a look at the major features of release 2.9.
p
h3 Cluster Snapshots
p
p
  | Ignite 2.9 provides the ability to create full cluster snapshots for deployments that use Ignite Persistence. Snapshots can be taken online, when the cluster is active and accessible to users. An Ignite snapshot includes a cluster-wide copy of all data records that exist at the moment the snapshot is started. All snapshots are consistent &mdash; in terms of concurrent, cluster-wide operations as well as in terms of ongoing changes in Ignite Persistence data, index, schema, binary metadata, marshaller, and other files on nodes. See 
  a(href='https://ignite.apache.org/docs/latest/persistence/snapshots') Ignite documentation
  |  to learn about this feature.
<!-- end -->
h3 Tracing

p The Ignite monitoring system continues to improve. In Ignite 2.9, a new tracing subsystem became available. Tracing provides information that is useful for debugging &mdash; that helps with both regular, daily, basic system monitoring and with incident analysis. You can collect distributed traces of tasks that are executed in your cluster and use this information to diagnose latency problems. In the 2.9 release, the following Ignite components are instrumented for tracing:

ul
  
  li Discovery
  
  li Communication
  
  li Exchange
  
  li Transactions
  
p
p
  | See 
  a(href='https://ignite.apache.org/docs/latest/monitoring-metrics/tracing') the documentation
  |  for more information.
p
h3 Other Changes
p
p
  | In addition to snapshots and tracing, Ignite 2.9 provides the following new features:
  
ul
  
  li
    | Cluster discovery, cluster API, compute API, and service invocation support for thin clients (Java and .Net)
  
  li Cluster-wide, read-only mode
  
  li Ability to run user-defined code inside the Ignite sandbox
  
  li Transparent data encryption: master key rotation
  
  li Management tools to cancel user tasks and queries
  
  li Platform cache (.Net)
  
p
p
  | See the 
  a(href='https://ignite.apache.org/releases/2.9.0/release_notes.html') release notes
  |  to learn about all of the new features.
p
  | Sincerely yours,
  
  | Ignite contributors and committers
