---
title: "Apache Ignite Momentum: Highlights from 2020-2021"
author: "Denis Magda"
date: 2021-09-14
tags:
    - bigdata
    - computing
    - database
    - ignite
    - in-memory
    - open
    - source
---

p
  | When Apache Ignite entered the Apache Software Foundation (ASF) Incubator in 2014, it took less than a year for the project and its community to graduate from the Incubator and become a top-level project for the ASF. Since then, Ignite has experienced a significant and steady growth in popularity, and it has been used by thousands of application developers and architects to create high-performance and scalable applications used by millions of people daily. In this article, we&rsquo;ll recap the achievements of Ignite in 2020-2021.
p
h3
  br
  | Ignite is Ranked as a Top 5 Project
  br
p
p
  | The ASF has ranked Apache ignite as a Top 5 project in various categories since 2017. 
  a(href='https://blogs.apache.org/foundation/entry/apache-in-2017-by-the' target='_blank') That year
  | , Ignite was in the Top 5 of Apache Project Repositories by Commits and most active Apache mailing lists. 
  a(href='https://www.apache.org/foundation/docs/FY2021AnnualReport.pdf' target='_blank') Today
  | , the momentum continues, and Ignite continues to be ranked as a Top 5 project in multiple categories:  second on the Top 5 big data user lists, third on the Top 5 big data dev lists, second on the Top 5 of all user lists, third on the Top 5 repos by size.
p
  a(href='/img/blog/463ae37d-866d-4c15-8ebf-6b88499daa81.jpeg')
    img(src='/img/blog/463ae37d-866d-4c15-8ebf-6b88499daa81.jpeg' width='30%')
<!-- end -->
p
  | Of greatest significance, the continued Top 5 ranking on the &ldquo;dev list&rdquo; reflects an active community of contributors who are committed to keeping the code base growing, while the Top 5 ranking on the &ldquo;user list&rdquo; means that more and more Ignite application developers come to the community to ask questions &ndash; indicating continued growth in adoption.

h3 The Worldwide Ignite community is Engaged
p
p
  | This broad and growing interest in Apache Ignite has continued over the last year and a half. However, faced with the pandemic and shelter-in-place orders around the world, the community sought ways to stay in touch and continue sharing experiences. The community naturally turned to a virtual format and established two new successful programs.
p
  | The first was a series of 
  a(href='https://www.meetup.com/Apache-Ignite-Virtual-Meetup/events/past/' target='_blank') Ignite Virtual Meetups
  | , where Apache Ignite users, developers, committers, contributors and architects worldwide could share experiences on a wide range of topics, ask questions, and help drive the project forward. Since these virtual meetups began, the community has already held 17 events, which were attended by hundreds of community members and developers.
p
  | The second new program was launched this May with the virtual 
  a(href='https://ignite-summit.org/2021/' target='_blank') Ignite Summit
  | , the first global conference designed for the entire Ignite community. 
  a(href='https://www.youtube.com/playlist?list=PLMc7NR20hA-KF8c_hVICKpzKnWkjzfC2V' target='_blank') Twenty-five speakers from industry-leading companies
  |  including finance, biotech, health &amp; fitness, construction and cloud computing led 15 hours of discussion about how Apache Ignite delivers the performance and scale required to address the world&rsquo;s most challenging computational and hybrid transactional/analytical processing requirements. The Summit had attendees from North America, Latin America, EMEA and APAC. Remarkably, attendees spent an average of nearly 5 hours at the event!
p
h3 Innovation Continues at a Rapid Pace
p
p
  | Over the last year and a half, the community has released 
  a(href='https://ignite.apache.org/download.cgi' target='_blank') five new versions of Ignite 2.x
  | . The releases introduce numerous improvements and optimizations, including major features, such as new monitoring and profiling frameworks, cluster snapshots, encoding keys rotation for transparent data encryption, and more.
p
  | The community also put significant effort into contributing and releasing 
  a(href='https://ignite.apache.org/docs/' target='_blank') new documentation
  | , which is now hosted on the Ignite website. Since the new documentation was posted, it has become the most visited resource on the website &ndash; a clear indication that it is helping Ignite developers make faster, easier progress on their Ignite development and optimization tasks.
p
  | Further, Igniters have begun working on the next major release, Ignite 3.0, which introduces significant usability improvements, a new SQL engine based on Apache Calcite, a Raft-based consistency protocol, and many other improvements. Users can already try the first two Alpha versions:
  br
ul
  br
  li
    a(href='https://www.gridgain.com/resources/blog/ignite-3-alpha-sneak-peek-future-apache-ignite' target='_blank') Alpha 1 Overview
  br
  li
    a(href='https://www.gridgain.com/resources/blog/just-released-apache-ignite-3-alpha-2' target='_blank') Alpha 2 Overview
  br
p
p
h3 The payoff &ndash; Ignite Downloads Continue to Soar
p
p
  | The inherent benefits of Apache Ignite, combined with all the effort of a dedicated community, has resulted in a popular project that continues to see increasing adoption. Ignite Maven monthly downloads are skyrocketing, and we have seen a 65% year-over-year growth in downloads so far in 2021, resulting in hundreds of thousands of downloads each month.
p
  | We eagerly look forward to the full release of Apache ignite 3.0 and fully expect downloads, adoption and community enthusiasm to continue to soar. Good luck to the Ignite community!
