---
title: "Apache Ignite Essentials: 2-part Webinar Series for Architects and Java Developers"
author: "Denis Magda"
date: 2017-11-17
tags:
    - apache
    - ignite
---

p.entryContent
  | We finally made this happen! I&rsquo;m happy to invite all of the software architects and engineers out there to a series of webinars that will introduce you to the fundamental capabilities of in-memory computing platforms such as Apache Ignite.
p
  | There will also be a mix of theory and practice. A lot of code examples are waiting to be shown so that you can apply the theory in practice right away.
p
  | The series consists of two parts.
h3
  a(href='https://ignite.apache.org/events.html#in-memory-computing-essentials-architects-and-developers-part-1' target='_blank') Part 1: Tuesday, November 21, 2017, 11:00am PT / 2:00pm ET
| To be covered:
ul
  li Cluster configuration and deployment.
  li Distributed database internals (partitioning, replication).
  li Data processing with key-value APIs.
  li Affinity Collocation.
  li Data processing with SQL.
h3
  a(href='https://ignite.apache.org/events.html#in-memory-computing-essentials-architects-and-developers-part-2' target='_blank') Part 2: Wednesday, December 13, 2017, 11:00am PT / 2:00pm ET
| To be covered:
ul
  li Collocated processing.
  li Collocated processing for distributed computations.
  li Collocated processing for SQL (distributed joins and more).
  li Machine Learning.
  li Memory Architecture.
p
  | Book your seat!
