---
title: "Dynamic LINQ performance and usability with Ignite.NET and System.Linq.Dynamic"
author: "Pavel Tupitsyn"
date: 2023-05-22
tags:
    - database
    - ignite
    - linq
    - .NET
    - SQL
    - performance
    - csharp
---
p
    | Dynamically building database queries can be necessary for some use cases, such as UI-defined filtering. This can get challenging with LINQ frameworks like EF Core and Ignite.NET.
P
    a(href='https://ptupitsyn.github.io/Dynamic-LINQ-With-Ignite/') Read More...
