---
title: "Apache Ignite 2.4 ings Advanced Machine Learning and Spark DataFrames Capabilities"
author: "Denis Magda"
date: 2018-03-15
tags:
    - apache
    - bigdata
    - data
    - database
    - fast
    - ignite
    - learning
    - machine
    - nodal
---

p
  | Usually, Ignite community rolls out a new version once in 3 months, but we had to make an exception for Apache Ignite 2.4 that consumed five months in total. We could easily blame Thanksgiving, Christmas and New Year holidays for the delay and would be forgiven, but, in fact, we were forging the release you can&apos;t simply pass by.
  
p
  | Let&apos;s dive in and search for a big fish.
 
h3 Machine Learning General Availability
p
  | Eight months ago, at the time of Apache Ignite 2.0, we put out the first APIs that formed the foundation of the Ignite&apos;s machine learning component of today. Since that time, Ignite machine learning experts and enthusiasts have been moving the liary to the general availability condition meticulously. And Ignite 2.4 became a milestone that let us consider the 
  a(href='https://apacheignite.readme.io/docs/machine-learning' target='_blank') ML Grid
  |  to be production ready.
<!-- end --> 
p
  
  | The component gained a variety of algorithms that can solve a myriad of regression and classification tasks, gave an ability to train models avoiding ETL from Ignite to other systems, paved a way to 
  a(href='https://apacheignite.readme.io/docs/multilayer-perceptron' target='_blank') deep learning
  |  usage scenarios. All that now empowers Ignite users with the tools for dealing with fraud detection, predictive analytics, and for building recommendation systems...if you want. Note, ETL is optional, and the whole memory-centric cluster is at your service!

p
  
  | Moreover, Machine Learning Grid welcomed a 
  a(href='http://incubator.apache.org/ip-clearance/ga-grid-ignite.html' target='_blank') software donation
  |  by NetMillennium, Inc. in the form of genetic algorithms that solve optimization problems by simulating the process of biological evolution. The algorithms haven&apos;t got to Ignite 2.4 and waiting for their time for a release in the master anch. Once you get them, you can apply the biological evolution simulation for real-world applications including automotive design, computer gaming, robotics, investments, traffic/shipment routing and more.
  
p
p
h3 Spark DataFrames
p
p
  | It&apos;s not a joke or misprint. Spark users, the DataFrames are now officially supported for you! Many of you have been anticipating them for years and, thanks to Nikolay Izhikov, who was &quot;promoted&quot; to an Ignite committer for the contribution, now you can leverage from them.
p
p
  
  | No need to be wordy here. Just go ahead and start with 
  a(href='https://apacheignite-fs.readme.io/docs/ignite-data-frame' target='_blank') DataFrames in Ignite
  | . 
  
p
p
h3 Expanding Ignite ecosystem
p
p
  | It was unfair that only Java, C#, and C++ developers could utilize the eadth and depth of Ignite APIs in their applications. Ignite 2.4 solved the injustice with its new 
  a(href='https://apacheignite.readme.io/v2.4/docs/binary-client-protocol' target='_blank') low-level binary client protocol
  | . The protocol communicates with an existing Ignite cluster without starting a full-fledged Ignite node. An application can connect to the cluster through a raw TCP socket from any programming language you like.
p
p
  
  | The beauty of the protocol is that you can develop a so-called Ignite thin client that is a lightweight client connected to the cluster and interacts with it using key-value, SQL, and other APIs. 
  a(href='https://apacheignite-net.readme.io/docs/thin-client' target='_blank') .NET thin client
  |  is already at your service and Node.JS, Python, PHP, Java thin clients are in a forge and being developed for the next releases.
  
p
p
h3 RPM repository and much more

| So, now Apache Ignite can also be installed from the 
a(href='https://www.apache.org/dist/ignite/rpm' target='blank_') official RPM repository
| . Debian users, the packages for your operating systems to be assembled 
a(href='https://cwiki.apache.org/confluence/display/IGNITE/IEP-11%3A+Introduce+Apache+Ignite+delivery+in+RPM+and+DEB+packages' target='_blank') soon
| .
p
p
p
  
  | Overall, if to list all the features and benefits Ignite 2.4 ings, only 2 people will read the article till the end - me and my dear mom 
  img.smiley(src='/img/smile.gif' alt=':)' title=':)')
  |  Thus, I&apos;ll let you discover the rest from the 
  a(href='https://ignite.apache.org/releases/ignite2/2.4.0/release_notes.html' target='_blank') release notes
  | .