---
title: "Apache Ignite 2.16.0: Cache dumps, Calcite engine stabilization, JDK 14+ bug fixes"
author: "Nikita Amelchev"
date: 2023-12-25
tags:
    - database
    - ignite
    - in
    - memory
    - open
    - source
    - release
---
p
    | As of December 25, 2023, 
    a(href='https://ignite.apache.org/') Apache Ignite 
    | 2.16 has been released. You can directly check the full list of resolved 
    a(href='https://s.apache.org/j3brc') Important JIRA tasks 
    | but let&apos;s briefly overview some valuable improvements.

h3#cache-dumps Cache dumps
p
    | Ignite has persistent cache 
    a(href='https://ignite.apache.org/docs/latest/snapshots/snapshots') snapshots 
    | and this feature is highly appreciated by Ignite users.
    | This release introduces another way to make a copy of user data - a cache dump.
p
    | The cache dump is essentially a file that contains all entries of a cache group at the time of dump creation. Dump is
    | consistent like a snapshot, which means all entries that existed in the cluster at the moment of dump creation
    | will be included in the dump file. Meta information of dumped caches and binary meta are also included in the dump.
p
    | Main differences from cache snapshots:
ul
    li Supports in-memory caches that a snapshot feature does not support.
    li Takes up less disk space. The dump contains only the cache entries as-is.
    li Can be used for offline data processing.
<!-- end -->
p
    | The 
    a(href='https://github.com/apache/ignite/blob/ignite-2.16/modules/core/src/main/java/org/apache/ignite/IgniteSnapshot.java#L75') IgniteSnapshot 
    | interface provides a method to create a dump:
code.lang-java
    pre ignite.snapshot().createDump("dump-name", Arrays.asList("cacheGrp1", "cacheGrp2")).get();

p
    | You can read a dump using the 
    a(href='https://github.com/apache/ignite/blob/ignite-2.16/modules/core/src/main/java/org/apache/ignite/dump/DumpReader.java') Dump Reader 
    | application:
code.lang-java
    pre
        | // Consumer should be implemented to receive all data stored in cache dump.
        | DumpConsumer cnsmr = new DumpConsumerImpl(..);
        |
        | DumpReaderConfiguration cfg = new DumpReaderConfiguration(new File("path-to-dump"), cnsmr);
        |
        | new DumpReader(cfg, log).run();

h3#calcite-engine-updates Calcite engine: added hints and diagnostic tools, became more stable
p
    | The 
    a(href='https://ignite.apache.org/docs/2.16.0/SQL/sql-calcite') Calcite engine 
    | is now fully equipped with metrics, events and the performance statistics tool. Moreover, query
    | plans and other useful properties have been added to the 
    a(href='https://ignite.apache.org/docs/2.16.0/extensions-and-integrations/performance-statistics') performance statistics report
    | .
p
    | The following hints have been introduced to help the optimizer make optimizations more rational or build an
    | execution plan faster:
ul
    li
        a(href='https://ignite.apache.org/docs/2.16.0/SQL/sql-calcite#force_index-no_index') FORCE_INDEX / NO_INDEX 
        | - Forces or disables index scan. 
    li
        a(href='https://ignite.apache.org/docs/2.16.0/SQL/sql-calcite#enforce_join_order') ENFORCE_JOIN_ORDER 
        | - Forces join order as appears in a query. Fastens building of joins plan.

p There are 10+ bugs and performance fixes in the release.
h3#service-awareness-feature Java thin client: Service Awareness feature

p
    | In previous versions of Ignite, the thin client invoked the service grid on a random server node.
    | A service may not be deployed on each node. If a node misses the invoked service, the invocation request is redirected
    | to a proper node. This additional network hop adds overhead and can now be avoided.
p
    | With Service Awareness, the thin client knows where service instances are deployed and sends the request to the correct node.
p
    | Note that the service topology is updated asynchronously starting with the first service invocation. Thus, some
    | invocation redirects are still possible.
p The feature is activated if:
ul
    li
        | The 
        a(href='https://github.com/apache/ignite/blob/ignite-2.16/modules/core/src/main/java/org/apache/ignite/configuration/ClientConfiguration.java#L577') Partition Awareness 
        | property is enabled in a client configuration (it is enabled by default).
    li Cluster and thin client versions are 2.16.0 and higher.

h3#cdc-realtime-mode CDC: Realtime mode
p
    | Since version 2.12 Ignite supports the 
    a(href='https://ignite.apache.org/docs/2.16.0/persistence/change-data-capture') CDC functionality
    | . It's implemented with a background process that processes
    | archived WAL segments. The delay between the creation of an event and it's processing by this process contains
    | the time WAL segments were archived. Some users are intolerant of this lag. For such users, Ignite now provides
    | functionality that makes it possible to process events almost instantly after they are created. Please refer to the 
    a(href='https://github.com/apache/ignite/blob/ignite-2.16/modules/core/src/main/java/org/apache/ignite/internal/cdc/CdcManager.java') CdcManager 
    | interface javadocs for more details.

h3#other-improvements-and-changes Other improvements and changes
ul
    li Fixed JDK 14-21 support issues.
    li
        a(href='https://cwiki.apache.org/confluence/display/IGNITE/IEP-81+Cluster+Management+API') Cluster Management API 
        | has been implemented to unify management command invokers via various protocols - CLI,
        | JMX, REST. The Ignite now provides JMX command invoker.
    li
        | Operations on atomic caches within transactions are finally forbidden. The system property 
        code IGNITE_ALLOW_ATOMIC_OPS_IN_TX 
        | has been removed.
    li 
        | The community agreed to remove MVCC. The 
        code CacheAtomicityMode#TRANSACTIONAL_SNAPSHOT 
        | cache mode has been removed.
    li 
        | Mixed mode cache groups are now forbidden, but 
        code IGNITE_ALLOW_MIXED_CACHE_GROUPS 
        | system option may temporarily allow them.
    li
        | The ignite-ml and cassandra modules have been migrated to the 
        a(href='https://github.com/apache/ignite-extensions') Ignite extensions.
    li 100+ small improvements and bug fixes.

h3#anything-else Anything else?
p
    | See the 
    a(href='https://ignite.apache.org/releases/2.16.0/release_notes.html') release notes 
    | to learn about all of the new features and improvements.
p Reach out to us on the community user list for more questions, details, and feedback.
p Sincerely yours, Ignite contributors and committers
