---
title: "Apache Ignite Community Update (August 2017 Issue)"
author: "Denis Magda"
date: 2017-08-30
tags:
    - apache
    - bigdata
    - ignite
    - meetup
---

p
  b
    i by Tom Diederich
p
p
  | Igniters, here are some community highlights from the last couple week. If I missed anything, please share it here. Meetups! Did you know that Apache Ignite experts are available to speak at your meetup? And we also have spots open for YOU to speak at the following meetups that some of us co-organize:
p
p
ul
  
  li
    a(href='https://www.meetup.com/Apache-Ignite-London/' target='_blank') Apache Ignite London
  
  li
    a(href='https://www.meetup.com/Bay-Area-In-Memory-Computing/' target='_blank') Bay Area In-Memory Computing Meetup
  
  li
    a(href='https://www.meetup.com/NYC-In-Memory-Computing-Meetup/' target='_blank') NYC In-Memory Computing Meetup
  
  li
    a(href='https://www.meetup.com/Moscow-Apache-Ignite-Meetup/' target='_blank') Moscow Apache Ignite Meetup
  
p
p
  | Meanwhile, here&rsquo;s where to catch some great talks about Apache Ignite! We have 19 newly scheduled meetup talks on the books since the last update. All upcoming Ignite events can be found 
  a(href='https://ignite.apache.org/events.html' target='_blank') here
  | . Let&rsquo;s take a closer look at some of them&mldr;.
p
h3 Scheduled speaking engagements
p
p
  b * Sept. 9: 
  a(href='https://www.meetup.com/datariders/events/242523245/' target='_blank') Big Data and Cloud Meetup
  b  (Santa Clara, Calif.)
p
  | Apache Ignite PMC chair Denis Magda will be speaking at the Big Data and Cloud Meetup September 9 from 10 a.m. to noon. His talk is titled: &quot;Apache Spark and Apache Ignite: Where Fast Data Meets the IoT&quot;.
p
  b * Sept. 13: 
  a(href='https://www.meetup.com/SF-Big-Analytics/events/242368299/' target='_blank') SF Big Analytics Meetup
p
  | Denis Magda will be the featured speaker at the SF Big Analytics Meetup on Sept. 13. Denis&apos; talk is titled: &quot;Apache Ignite: the in-memory hammer in your data science toolkit.&quot;
p
  b * Sept. 18: 
  a(href='https://www.meetup.com/Camidge-NET-User-Group/events/238837204/' target='_blank') Meetup: Camidge .NET User Group
p
  | Apache Ignite evangelist Akmal Chaudhri will speak at the Camidge .NET User Group Sept. 17. The title of his talk: &quot;Scale Out and Conquer: Apache Ignite for .NET Users.&quot;
p
  b * Sept. 21
  | : 
  b
    | Joint meetup! 
    a(href='https://www.meetup.com/Bay-Area-In-Memory-Computing/events/242961495/' target='_blank') Bay Area In-Memory Computing Meetup
  |  &amp; 
  a(href='https://www.meetup.com/SF-Spark-and-Friends/' target='_blank') SF Spark and Friends
p
  b * Sept. 27: 
  a(href='https://www.meetup.com/New-York-Kubernetes-Meetup/events/242597746/' target='_blank') New York Kubernetes Meetup
p
  | Apache Ignite evangelist Akmal Chaudhri will focus on a DevOps perspective on the orchestration of distributed databases such as Apache Ignite. Akmal will speak on node auto-discovery, automated horizontal scalability, availability, and utilization of RAM and disk with Apache Ignite.
p
  b * Oct. 4: Openstack &amp; Ceph User Group Amsterdam
p
  | Apache Ignite evangelist Akmal Chaudhri will show attendees how to build a Fast Data solution that will receive endless streams from the IoT side and will be capable of processing the streams in real-time using Apache Ignite&apos;s cluster resources.
p
  b * Oct. 13: 
  a(href='http://london.bigdataweek.com/session/powering-banks-financial-institutions-distributed-systems/' target='_blank') Big Data Week London 2017
  | :
  b  A Festival of Data (conference)
p
  | Akmal Chaudhri will be speaking at the&nbsp;Big Data Week conference Oct. 13 in London. His talk, titled &quot;Powering up banks and financial institutions with distributed systems,&quot; will educate&nbsp;attendees about important Apache Ignite features for financial applications -- such as ACID compliance, SQL compatibility, persistence, replication, security, fault tolerance and more.
p
  b * Oct. 18:
  a(href='https://www.meetup.com/sv-jug/' target='_blank') Silicon Valley Java User Group
p
  | Join Apache Ignite PMC Chair Denis Magda will introduce&nbsp;the many components of the open-source Apache&nbsp;Ignite. His talk, titled, &ldquo;Catch an intro to Apache Ignite&nbsp;and skyrocket&nbsp;Java applications,&rdquo; will teach attendees how to solve some of the most demanding scalability&nbsp;and&nbsp;performance challenges. He will also cover a few typical use cases and work&nbsp;through some code examples.
p
  b * Oct. 19: 
  a(href='https://www.meetup.com/Eurostaff-Big-Data/' target='_blank') Eurostaff Big Data London
p
  | Apache Ignite evangelist Akmal Chaudhri will show attendees how to build a Fast Data solution that will receive endless streams from the IoT side and will be capable of processing the streams in real-time using Apache Ignite&apos;s cluster resources.
p
  b * Oct. 24
  | : 
  a(href='https://spark-summit.org/eu-2017/events/how-to-share-state-across-multiple-apache-spark-jobs-using-apache-ignite/' target='_blank') Spark Summit Europe 2017
  b  (conference)
p
  | Akmal Chaudhri will be presenting at the Spark Summit Europe conference, Oct. 24-26 at the Convention Centre Dublin in Ireland.&nbsp; His session is titled: &quot;How to Share State Across Multiple Spark Jobs using Apache Ignite.&quot;
p
  b * Nov. 2: 
  a(href='https://www.meetup.com/Byte-Academy-Finance-and-Technology-community/' target='_blank') Byte-Academy-FinTech-Python-Blockchain-Education
  b  Meetup (London)
p
  | In his talk, titled, &quot;Powering up banks and financial institutions with distributed systems,&rdquo; Apache Ignite technical  Akmal Chaudhri will explain important Apache Ignite features for financial applications -- such as ACID compliance, SQL compatibility, persistence, replication, security, fault tolerance and more. A customer case study will also be presented.
p
h3 Blog posts

ul
  
  li
    a(href='https://www.gridgain.com/resources/blog/scale-vs-scale-out-architectures-conversation-fujitsus-dr-ferhat-hatay' target='_blank') Scale-up vs. scale-out architectures
  
  li
    a(href='https://www.gridgain.com/resources/blog/cloud-wars-apacher-ignitetm-getting-started-aws-beginners-part-i' target='_blank') Cloud Wars: Apache Ignite &ndash; Getting started with AWS for Beginners
    |  (Part I)
    
  
  li
    a(href='https://www.gridgain.com/resources/blog/apacher-ignitetm-tip-peer-class-loading-deployment-magic' target='_blank') Apache Ignite Tip: Peer Class Loading Deployment Magic
    
  
  li
    a(href='https://www.gridgain.com/resources/blog/future-in-memory-computing') The Future of In-Memory Computing
    
  
p
p
h3 Webinars

p
  b
    i Upcoming
p
p
ul
  
  li
    b Sept. 27
    | : 
    a(href='https://www.gridgain.com/resources/webinars/better-machine-learning-apacher-ignitetm' target='_blank') Better Machine Learning with Apache Ignite
    | , with technical evangelist Akmal B. Chaudhri.
    
  
  li
    b Oct. 4
    | : 
    a(href='https://www.gridgain.com/resources/webinars/postgres-apacher-ignitetm-faster-transactions-and-analytics' target='_blank') Postgres with Apache Ignite: Faster Transactions and Analytics
    | , with GridGain senior solution architect Fotios Filacouris.
    
  
p
p
p
  b Past webinars (recordings available!)
p
p
  a(href='https://www.gridgain.com/resources/webinars/deploy-boss-using-kubernetesr-and-apacher-ignitetm' target='_blank') Deploy like a Boss: Using Kubernetes and Apache Ignite
  | , with GridGain solution architect Dani Traphagen.

