---
title: "Ignite on .NET 9 and Intel CET"
author: "Pavel Tupitsyn"
date: 2024-11-22
tags:
    - database
    - ignite
    - .NET
    - security
    - Intel
    - CET
---
p
    | Old JDK code meets new Intel security feature, JVM + CLR in one process, and a mysterious crash.
P
    a(href='https://ptupitsyn.github.io/Ignite-on-NET-9/') Read More...
