---
title: "What's New in Apache Ignite 3.0"
author: "Stanislav Lukyanov"
date: 2025-02-24
tags:
    - apache
    - ignite
    - release
---

p Apache Ignite 3.0 is the latest milestone in Apache Ignite evolution that enhances developer experience, platform resilience, and efficiency. In this article, we’ll explore the key new features and improvements in Apache Ignite 3.0.

<!-- end -->

h2(style="margin-top: 30px;margin-bottom:20px;")
    strong Installation and Management of Ignite 3
p Apache Ignite 3.0 simplifies the installation and management process, making it more accessible for developers and administrators.

h3
    strong New Ignite 3 Installation Packages
p Apache Ignite 3.0 introduces modern Linux installation options:
ul
    li
        strong Native Linux Packages
        | : Ignite now offers native RPM and DEB installation packages for Linux distributions, making it easier to install, upgrade, and manage through standard package managers.

h3
    strong Interactive Unified Ignite CLI
p The new Ignite 3.0 Command Line Interface (CLI) provides a streamlined experience for managing and interacting with the cluster.
ul
    li
        strong Single CLI Tool
        | : The new CLI unifies cluster configuration, management, and SQL access in one tool, reducing complexity.
    li
        strong Scripting and Interactive Mode
        | : Users can execute scripts for automation or use an interactive shell (REPL) for direct interaction with the cluster.
    li
        strong Syntax Highlighting and Autocomplete
        | : The interactive mode includes enhanced usability features such as syntax highlighting and command autocompletion, making cluster management and troubleshooting easier.

h3
    strong Dynamic Configuration Framework
p Apache Ignite 3.0 replaces the legacy Spring XML-based configuration with a modern dynamic configuration system:
ul
    li
        strong HOCON-based Configuration
        | : Human-Optimized Config Object Notation (HOCON) is now the standard configuration language, offering a more readable and flexible alternative to XML.
    li
        strong Dynamic Changes
        | : Configuration parameters can now be modified dynamically via the CLI or REST API without requiring a node restart, improving operational flexibility.

h2(style="margin-top: 30px;margin-bottom:20px;")
    strong Clients and APIs for Ignite 3
p Apache Ignite 3.0 streamlines application development by unifying access across different clients and data models while ensuring flexibility and improving developer experience.

h3
    strong Unified Ignite Clients
p Previously, Ignite had a distinction between thin and thick clients, requiring developers to choose between lightweight connections or full-featured clients. In Ignite 3.0:
ul
    li
        strong Lightweight Yet Fully Featured Ignite Clients
        | : New clients now support the full range of API features without the need to choose between thin or thick clients.
    li
        strong Consistent Experience Across Languages
        | : The new client model ensures consistency in API behavior across different programming languages, reducing learning curves and integration complexities.

h3
    strong Table API and Unified Schema for Ignite 3
p Ignite 3.0 enhances the way the data schema is managed and accessed across SQL and NoSQL interfaces.
ul
    li
        strong Consistent Data Schema
        | : All data representations—SQL schema, key-value data types, and internal data storage—are now unified, eliminating the need for error-prone mappings between different models.
    li
        strong Table Views
        | : Table Views is a new API that allows applications to independently define how they access the database tables, increasing flexibility in choosing the client-side data model.
    li
        strong Record API
        | : Record API is a new alternative to Key-Value API that allows you to use a single data object without separating it into keys and values, which further increases flexibility of development.

h3
    strong Asynchronous and Reactive Programming for Ignite 3
p Ignite 3.0 enhances support for concurrent programming paradigms:
ul
    li
        strong Language Features Support
        | : Client APIs support asynchronous and reactive programming with standard language constructs such as CompletableFuture and Flow API in Java or Task and IAsyncEnumerable in .NET.

h3
    strong SQL Transactions in Ignite 3
p Ignite 3.0 includes full transaction support in SQL:
ul
    li
        strong Transactional SQL Support
        | : Full support for transactions allows you to bring more SQL applications to Ignite without compromising on consistency.
    li
        strong Combining SQL and NoSQL
        | : Both SQL and NoSQL-style APIs can be used together in a single transaction, enabling developers to choose the API they want to use at any given time.

h2(style="margin-top: 30px;margin-bottom:20px;")
    strong Architecture and Performance in Ignite 3
p Apache Ignite 3.0 includes major architectural upgrades to improve cluster reliability and efficiency.

h3
    strong Raft-based Consensus
p Apache Ignite 3.0 now utilizes a Raft-based consensus mechanism for enhanced resiliency:
ul
    li
        strong Improved Fault Tolerance
        | : Distributed consensus ensures stronger cluster stability and prevents split-brain scenarios.
    li
        strong Simplified Cluster Changes
        | : The new protocol reduces impact of node restarts and topology changes on the overall cluster, minimizing downtime and simplifying maintenance.

h2(style="margin-top: 30px;margin-bottom:20px;")
    strong Apache Ignite 3.0
p Apache Ignite 3.0 is a major step forward, simplifying installation, improving configuration management, enhancing API usability, and significantly boosting performance.
ul
    li
        strong For New Ignite Users
        | : Apache Ignite 3.0 provides an easier learning curve, streamlining first-time installation and configuration.
    li
        strong For Experienced Ignite Users
        | : Enhanced developer experience simplifies continuous improvement and maintenance.

p To learn more:
ul
    li
        | Register for and attend&nbsp;
        a(href="https://events.ringcentral.com/events/ignite-summit-2025" target="_blank") Ignite Summit 2025
        |  on Feb 25 online!
    li
        | Don’t miss the session, “
        a(href="https://ignite-summit.org/2025/sessions/844189" target="_blank") What’s New and Cool in Ignite 3
        | ” by Pavel Tupitsyn, a core Ignite committer.

p To try the new Apache Ignite 3.0 capabilities yourself:
ul
    li
        a(href="https://ignite.apache.org/download.cgi" target="_blank") Download Apache Ignite 3.0
        |  from the official website.
