.tableWrap {
  overflow-x: auto;
  padding-bottom: 5px;
}

.tableScroller {
  position: relative;
}

.downloadTable {
  background: var(--grey);
  border-radius: 1rem;
  width: 100%;
  border-collapse: collapse;
}

.downloadTable th,
.downloadTable td {
  height: 9rem;
  vertical-align: middle;
  font-weight: 700;
  border-bottom: 1px solid var(--grey2);
  position: relative;
  text-align: left;
}

.downloadTable td {
  height: 6rem;
  white-space: nowrap;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dockerTable td {
  height: auto;
  padding: var(--ai-spacing-md) 0;
  vertical-align: top;
}

.downloadTable tr:last-child td {
  border-bottom: none;
}

.downloadTable th:first-child,
.downloadTable td:first-child {
  padding-left: var(--ai-spacing-xl);
}

.downloadTable th:last-child,
.downloadTable td:last-child {
  padding-right: var(--ai-spacing-md);
}

.col1 {
  width: 15%;
}

.col2 {
  width: 20%;
}

.col3 {
  width: 15%;
}

.col5 {
  width: 50%;
}

.sourceLink {
  color: var(--blue);
  text-decoration: none;
}

.sourceLink:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .tableWrap {
    overflow: hidden;
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
  }

  .tableWrap::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40px;
    background: linear-gradient(270deg, #ffffff, transparent);
    z-index: 10;
    pointer-events: none;
  }

  .tableScroller {
    overflow-x: auto;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .downloadTable td,
  .downloadTable th {
    padding-right: var(--ai-spacing-md);
    padding-left: var(--ai-spacing-md);
  }
}
