*.iml
.idea/
node_modules
css/critical.css
_docs/.jekyll-cache/
_docs/Gemfile.lock
_docs/_site/
_docs/_config.yml
_docs/_data/
_docs/_docs/
_docs/tmp/
./secret.js
.vscode/

# Docusaurus
docusaurus/build/
docusaurus/.docusaurus/
docusaurus/node_modules/
docusaurus/.cache/

# IGNITE-26681 Working Directory
IGNITE-26681/