Options +Includes
AddOutputFilter INCLUDES .html
Redirect 301 /download.html /download.cgi
Redirect 301 /news.html /events.html
Redirect 301 /features/java.html /features/multilanguage.html
Redirect 301 /features/dotnet.html /features/multilanguage.html
Redirect 301 /features/cpp.html /features/multilanguage.html
Redirect 301 /features/clientprotos.html /features/multilanguage.html
Redirect 301 collocatedprocessing.html /features/collocatedprocessing.html
Redirect 301 /features/durablememory.html /arch/durablememory.html
Redirect 301 /memorycentric.html /arch/memorycentric.html
Redirect 301 /features/persistence.html /arch/persistence.html
Redirect 301 /features/deploy.html /arch/clustering.html
Redirect 301 /features/igniterdd.html /use-cases/spark/shared-memory-layer.html

RewriteEngine On 

RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://%{SERVER_NAME}/$1 [R=301,L]

RewriteRule ^releases/latest/(.*)$ /releases/2.4.0/$1 [L]

RewriteRule ^releases/mobile/(.*)$ /releases/latest/javadoc/$1 [R=301,L]
