Options +Includes
AddOutputFilter INCLUDES .html
Redirect 301 /download.html /download.cgi
Redirect 301 /news.html /events.html
Redirect 301 /use-cases/database/key-value-database.html /use-cases/caching/key-value-store.html

RewriteEngine On 

RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://%{SERVER_NAME}/$1 [R=301,L]

RewriteRule ^releases/latest/(.*)$ /releases/2.1.0/$1 [L]

RewriteRule ^releases/mobile/(.*)$ /releases/latest/javadoc/$1 [R=301,L]
