.eventCard {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  background: #ffffff;
  border: 1px solid var(--grey3);
  box-sizing: border-box;
  border-radius: var(--ai-radius-md);
  padding: var(--ai-spacing-xl);
  transition: box-shadow 0.2s ease;
  min-height: 36rem;
}

.eventCard:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
}

.eventCard.past {
  opacity: 0.9;
}

.date {
  line-height: 1;
  white-space: nowrap;
  color: var(--grey5);
  font-size: 1.4rem;
}

.title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  padding-top: var(--ai-spacing-md);
  margin: 0;
}

.description {
  margin: 0;
  flex-grow: 1;
  line-height: 1.5;
  opacity: 0.8;
  font-size: 90%;
  padding-top: var(--ai-spacing-md);
}

.info {
  margin-top: auto;
  padding-top: var(--ai-spacing-md);
}

.speaker {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 0px;
  font-size: 14px;
  line-height: 20px;
  padding-left: 38px;
  background: url(/img/events/icon-mic.svg) left top no-repeat;
  background-size: 24px;
  min-height: 40px;
}

.speaker span {
  display: block;
}

.location {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  margin-top: 6px;
  font-size: 14px;
  line-height: 18px;
  padding-left: 38px;
  min-height: 24px;
  background: url(/img/events/icon-loc.svg) left top no-repeat;
  background-size: 24px;
}

.button {
  margin-top: var(--ai-spacing-xl);
  width: 16rem;
  font-size: 14px;
  height: 4rem;
}

@media (max-width: 1199px) {
  .eventCard {
    min-height: auto;
    padding: var(--ai-spacing-xl) var(--ai-spacing-md);
  }

  .title {
    font-size: 2rem;
    line-height: 1.3;
  }
}

@media (max-width: 992px) {
  .button {
    width: 20rem;
  }
}
