-
    let events2014 = `[{
        "title":"InfoQ Interview with Nikita Ivanov on Apache Ignite Incubation",
        "link":"http://www.infoq.com/articles/gridgain-apache-ignite",
        "loc":"",
        "speaker":"",
        "descr":"InfoQ caught up with Nikita Ivanov, CTO and founder of GridGain, about the In-Memory Computing framework becoming an Apache project, motivation behind this decision, and upcoming features and enhancements of GridGain.",
        "data":"December 3, 2014"
    },
    {
        "title":"Apache Ignite Enters Incubation",
        "link":"http://www.infoq.com/news/2014/12/gridgain-ignite",
        "loc":"",
        "speaker":"",
        "descr":"GridGain recently announced that the GridGain In-Memory Data Fabric has been accepted into the Apache Incubator program under the name Apache Ignite. Earlier in 2014, GridGain was transformed to an open source model through Apache 2.0 license. Now, the product will be available under the Apache Foundation project portfolio.",
        "data":"October 1, 2014"
    }]`;

    let events2014Array = JSON.parse(events2014);

.eventspast__tab
    each val, index in events2014Array
        article.eventcard
            .eventcard__date !{val['data']}
            h3.h5.pt-2 !{val['title']}
            .eventcard__info.eventcard__descr.pt-2
                p !{val['descr']}
            a.eventcard__button.button.button--shadow(href=val['link'], target="_blank") Learn More