.innerhero__pic--machine {
  width: auto;
  height: auto;
  top: auto;
  bottom: -11rem;
  transform: none;
  left: 80%;
}

.machineitem1 {
  margin-top: 5rem;
}
.machine__text {
  max-width: 530px;
}
.machine__subtext {
  max-width: 290px;
  margin-left: 1rem;
}
.machine__info {
  margin-left: 8rem;
}
.machine__part {
  margin-top: 2rem;
}
.machine__title {
  max-width: 520px;
  line-height: 1.6;
  font-size: 2.4rem;
}

.machine1 {
  padding-top: 13rem;
  padding-bottom: 7rem;
}
.machine1__image {
  background: #f6f6f6;
  border-radius: 10px;
  padding: 5.5rem 7rem 6rem 4rem;
  margin-left: 5.8rem;
  margin-top: 1rem;
}

.machine1__text {
  max-width: 650px;
  margin-top: 2rem;
}
.machine1__block {
  justify-content: space-between;
}
.machine1__title {
  line-height: 1.6;
  font-size: 2.4rem;
  margin-top: 5rem;
}

.machine1__options {
  margin-top: 2.5rem;
}
.machine1__option:last-child {
  margin-left: 11rem;
}
.machine1__number {
  color: #0070cc;
  font-size: 2rem;
  line-height: 26px;
  font-weight: bold;
}
.machine1__subtext {
  max-width: 295px;
  margin-top: 2rem;
  flex-direction: column;
}
.machine1__subtext span {
  margin-top: 0.8rem;
}

@media (max-width: 1700px) {
  .innerhero__pic--machine {
    left: 70%;
  }
}

@media (max-width: 1199px) {
  .innerhero__pic--machine {
    left: 75%;
  }
  .machine1__block {
    flex-direction: column;
  }
  .machine1__image {
    margin-left: 0rem;
    margin-top: 3rem;
  }
}

@media (max-width: 767px) {
  .machine1 {
    padding-top: 9rem;
  }
  .machine1__image {
    width: 100%;
  }
  .machineitem1 {
    margin-top: 4rem;
    flex-direction: column;
  }
  .machine__info {
    margin-left: 0rem;
    margin-top: 2rem;
  }
}
@media (max-width: 500px) {
  .machine1__subtext {
    margin-top: 0.5rem;
  }
  .machine1__image {
    padding: 3rem;
  }
  .machine1__options {
    flex-direction: column;
  }
  .machine1__option:last-child {
    margin-left: 0rem;
    margin-top: 2rem;
  }
}
