/* === === === === === === === === RESET === === === === === === === === */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: normal;
}
em{
    font-style: italic;
}
*:focus{
    outline: none;
}
html{
    font-size: 10px;
    box-sizing:border-box;
    -ms-overflow-style:scrollbar
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #000;
    background: #fff;
    position: relative;
}
input, button, textarea, select{
    font-family: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none; 
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
.flexi{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}
a{
    text-decoration: none;
    color:var(--blue);
}
a:hover{
    text-decoration: underline;
    color: var(--blue2);
}
.hystmodal__shadow{
    z-index: 3500;
}
.hystmodal{
    z-index: 4000;
}
.button{
    font-family: inherit;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem 0px;
    color: #fff;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
    border:none;
    position: relative;
    text-decoration: none;

    height: 5rem;
    font-size: 1.6rem;
    background-color: var(--blue);
    border-radius: 1rem;
    transition: background 0.1s ease-in-out, color 0.1s ease-in-out;
}
.button:hover{
    background:var(--blue2);
    color:#fff;
    text-decoration: none;
}
.button:active{
    transform: translateY(1px);
}
.button--shadow{
    background: #fff;
    color:var(--blue);
    border: 1px solid var(--blue);
}
.button:disabled,
.button:disabled:hover{
    background: var(--blue3);
    border:none;
    box-shadow: none;
    color:#fff;
    cursor: auto;
}
/* === === === === === === === === END RESET === === === === === === === === */





/* === === === === === === === === SCROLLTOP BUTTON === === === === === === === === */
.scrollTop {
    display: flex;
    pointer-events: none;
    width: 50px;
    height: 50px;
    background-color: var(--blue);;
    border-radius: 10px;
    position: fixed;
    opacity: 0.8;
    right: 15px;
    bottom: 15px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateY(10px);
    opacity: 0;
    z-index: 200;
}
.scrollTop.active {
    pointer-events: auto;
    transform: translateY(0);
    opacity: 1;
}
.scrollTop svg {
    stroke: #fff;
    display: block;
    margin: auto;
    width: 50%;
    transform: translateY(-1px);
}
/* === === === === === === === === /END SCROLLTOP BUTTON === === === === === === === === */





/* === === === === === === === === CONTAINERS === === === === === === === === */
*,::after,::before{box-sizing:inherit}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width:768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width:992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width:1200px) {
    .container {
        max-width: 1200px;
    }
}
@media (min-width:1300px) {
    .container {
        max-width: 1300px;
    }
}
/* === === === === === === === === /END CONTAINERS === === === === === === === === */





/* === === === === === === === === TEXTCONTENT === === === === === === === === */
.maxline2{
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.maxline3{
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.capstext{
    font-size: 1.6rem;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 400;
}
.h1{
    font-size: 8rem;
    line-height: 9.4rem;
}
.h2{
    font-size: 6rem;
    line-height: 7rem;
}
.h3{
    font-size: 4.8rem;
    line-height: 6.4rem;
}
.h4{
    font-size: 3rem;
    line-height: 4rem;
}
.h5{
    font-size: 2.4rem;
    line-height: 3.4rem;
    font-weight: 400;
}
.fz20{
    font-size: 2rem;
    line-height:2.6rem;
}
.fz30{
    font-size: 3rem;
    line-height: 4.2rem;
}
.fz40{
    font-size: 4rem;
    line-height: 5rem;
}
.fz50{
    font-size: 5rem;
    line-height: 5.5rem;
}
.fz60{
    font-size: 6rem;
    line-height: 7rem;
}
.pt-1, .py-1{
    padding-top: 1rem;
}
.pt-1x, .py-1x{
    padding-top: 1.5rem;
}
.pt-2, .py-2{
    padding-top: 2rem;
}
.pt-3, .py-3{
    padding-top: 3rem;
}
.pt-4, .py-4{
    padding-top: 4rem;
}
.pt-5, .py-5{
    padding-top: 5rem;
}
.pb-1, .py-1{
    padding-bottom: 1rem;
}
.pb-1x, .py-1x{
    padding-bottom: 1.5rem;
}
.pb-2, .py-2{
    padding-bottom: 2rem;
}
.pb-3, .py-3{
    padding-bottom: 3rem;
}
.pb-4, .py-4{
    padding-bottom: 4rem;
}
.pb-5, .py-5{
    padding-bottom: 5rem;
}
@media (max-width:1199px){
    .fz20{
        line-height: 1.6;
    }
}
@media (max-width:992px){
    .h1{
        font-size: 7rem;
        line-height: 1.2;
    }
    .h2{
        font-size: 6rem;
        line-height: 7rem;
    }
    .h3{
        font-size: 4rem;
        line-height: 5rem;
    }
    .h4{
        font-size: 3.2rem;
        line-height: 4.2rem;
    }
    .h5{
        font-size: 2.1rem;
        line-height: 2.6rem;
        font-weight: 400;
    }
    .fz20{
        font-size: 1.7rem;
        line-height:1.5;
    }
    .fz30{
        font-size: 2.6rem;
        line-height: 3.6rem;
    }
    .fz40{
        font-size: 3.5rem;
        line-height: 4.1rem;
    }
    .fz50{
        font-size: 4rem;
        line-height: 4.5rem;
    }
    .fz60{
        font-size: 5rem;
        line-height: 6rem;
    }
    .pt-1, .py-1{
        padding-top: 1rem;
    }
    .pt-2, .py-2{
        padding-top: 2rem;
    }
    .pt-3, .py-3{
        padding-top: 3rem;
    }
    .pt-4, .py-4{
        padding-top: 4rem;
    }
    .pt-5, .py-5{
        padding-top: 5rem;
    }
    .pb-1, .py-1{
        padding-bottom: 1rem;
    }
    .pb-2, .py-2{
        padding-bottom: 2rem;
    }
    .pb-3, .py-3{
        padding-bottom: 3rem;
    }
    .pb-4, .py-4{
        padding-bottom: 4rem;
    }
    .pb-5, .py-5{
        padding-bottom: 5rem;
    }
}

@media (max-width:767px){
    .h2{
        font-size: 6rem;
        line-height: 7rem;
    }
    .h3{
        font-size: 3.6rem;
        line-height: 4.6rem;
    }
    .h4{
        font-size: 3rem;
        line-height: 4rem;
    }
    .h5{
        line-height: 1.4;
    }
}
/* === === === === === === === === /END TEXTCONTENT === === === === === === === */




/* === === === === === === === === UTILS JS STYLING === === === === === === === */
.jsOpener{
    height: 0;
    transition: height 0.4s ease;
    overflow: hidden;
}
*[data-hideopen] span{
    display: none;
}
*[data-hideopen].isopen span{
    display: block;
}
*[data-hideopen].isopen i{
    display: none;
}
/* === === === === === === === === /END UTILS JS STYLING === === === === === === === */







/* === === === === === === === === CHOICES.JS === === === === === === === === */
.choices{
    margin-bottom: 0;
    width: auto;
    flex-shrink: 0;
    flex-grow: 0;
    font-size: 16px;
    line-height: 1;
}
.choices__inner{
    height: 100%;
    background-color: transparent;
    border:none;
    padding: 7px 10px 7px 0 !important;
    border-radius: 0;
    min-height: auto;
    font-size: 16px;
}
.choices__list--single{
    padding: 0;
    height: 100%;
}
.choices__list--dropdown,
.is-open .choices__list--dropdown{
    background-color: #111;
    border: 1px solid #000;
    width: auto;
}
.choices__list--dropdown .choices__list{
    overflow: hidden;
}
.choices__item--selectable{
    white-space: nowrap;
    padding: 0 10px 0 10px;
    font-size: 16px;
}
.choices__inner .choices__item--selectable:hover{
    text-decoration: underline;
}
.choices__list--dropdown .choices__item--selectable{
    padding-right: 10px;
}
.choices__list--dropdown .choices__item--selectable.is-highlighted{
    background-color: #464d55;
}
.choices[data-type*=select-one]:after{
    left: auto;
    right: 0px;
    width: 10px;
    height: 10px;
    /* background: url(../img/icon-shevron.svg) center center no-repeat; */
    background-size: contain;
    border: none;
    margin-top: -4px !important;
}
/* === === === === === === === === /END CHOICES.JS === === === === === === === === */



/* ========== START MOBILE MENU ==========  */
.mobmenu{
    min-height: 100vh;
    margin: 0;
    width: 240px;
    transform: translateX(-100%);
    opacity: 1;
    align-self: flex-start;
    transition-duration: 0.3s;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.mobmenu .hystmodal__close{
    top: 10px;
    right: 10px;
    opacity: 0.9;
    width: 24px;
    height: 24px;
}
.mobmenu__logo {
    margin: 20px auto 40px;
    width: 100px;
    display: block;
}
.mobmenu__logo img{
    display: block;
    width: 100%;
}
.mobmenu__menu {
    font-size: 14px;
    line-height: 1.3;
    padding-bottom: 40px;
}
.mobmenu__h1 {
    font-weight: bold;
    padding-left: 30px;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1.4;
    padding-bottom: 10px;
}
.mobmenu__menu a{
    display: block;
    padding: 7px 30px;
    border-bottom: 1px solid #f0f0f0;
    color:#000;
    text-decoration: none;
}
.mobmenu__menu li:last-child a{
    border:none;
}
.mobmenu__menu li.current-menu-item a{
    background: #f0f0f0;
}
/* ========== END MOBILE MENU ==========  */









/* === === === === === === === === /ARROW LINK === === === === === === === === */
.arrowlink{
    position: relative;
    display: inline-block;
    padding-right: 2.2rem;
}
.arrowlink::after{
    content:"";
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    width: 1.4rem;
    height: 1.4rem;
    margin-top: -0.7rem;
    background: url(../img/usecases/arrow.svg) no-repeat;
    background-size: contain;
    color:var(--blue);
    transition: transform 0.2s ease;
}
.arrowlink:hover::after{
    transform: translateX(2px);
}
@media (max-width:767px){
    .arrowlink::after{
        width: 10px;
        height: 10px;
    }
}
/* === === === === === === === === /END ARROW LINK === === === === === === === === */




