header {
  position: relative;

  .container {
    #search-button {
      width: 18px;
      height: 19px;
      padding: 12px;
      background: url("/assets/images/search.svg") center no-repeat;
      grid-area: search;

      &.open {
        border-radius: 4px;
        box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
        transform: translateY(1px);
      }
    }
  }

  #search-wrapper {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 900px;
    width: 80vw;

    &.open {
      display: block;
    }

    .pagefind-ui__form {
      background: white;
      border: 2px solid gray;
      border-radius: 10px;

      .pagefind-ui__message {
        padding-left: 15px;
      }

      .pagefind-ui__results {
        max-height: 70vh;
        overflow: auto;

        .pagefind-ui__result {
          padding-left: 15px;
        }
      }
    }
  }
}
