.diagram-container {

  svg {
    background-color: hsl(0, 0%, 100%);
  }

  path {
    stroke-width: 2;
    stroke: black;
    fill: rgba(0, 0, 0, 0);
  }

  text {
    font: bold 14px monospace;
    text-anchor: middle;
    white-space: pre;

    &.diagram-text {
      font-size: 12px;
    }

    &.diagram-arrow {
      font-size: 16px;
    }

    &.label {
      text-anchor: start;
    }

    &.comment {
      font: italic 12px monospace;
    }
  }

  g {
    .non-terminal {
      text {
        /*font-style: italic;*/
      }
    }

    a {
      text {
        fill: blue;
      }
    }
  }

  rect {
    stroke-width: 2;
    stroke: black;
    fill: hsl(0, 0%, 100%);

    &.group-box {
      stroke: gray;
      stroke-dasharray: 10 5;
      fill: none;
    }
  }

  path.diagram-text {
    stroke-width: 2;
    stroke: black;
    fill: white;
    cursor: help;
  }

  g.diagram-text:hover path.diagram-text {
    fill: #eee;
  }

}