.filters {
  padding: 4rem 0;
}

.filterGroup {
  margin-bottom: 2rem;
}

.filterGroup:last-child {
  margin-bottom: 0;
}

.label {
  display: block;
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.buttons button {
  display: block;
  padding: 0 2rem;
  height: 4rem;
  background: #fff;
  border-radius: 1rem;
  border: 1px solid var(--grey3);
  cursor: pointer;
  font-size: 1.4rem;
  line-height: 1;
  text-align: center;
  transition: all 0.2s ease;
  font-family: inherit;
}

.buttons button:not(.active):hover {
  background: var(--grey);
  border-color: var(--grey4);
}

.buttons button.active {
  background: #000;
  color: #fff;
  border-color: #000;
}

@media (max-width: 767px) {
  .filters {
    padding: 2rem 0;
  }

  .buttons {
    gap: 0.5rem;
  }

  .buttons button {
    padding: 0 1.5rem;
    height: 3.5rem;
    font-size: 1.2rem;
    flex-shrink: 0;
  }
}
