.cmtyhero {
    overflow: hidden;
    height: calc(100vh - 96px);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    min-height: 670px;
    max-height: 800px;
}
.cmtyhero__img {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 500px;
    height: auto;
    z-index: 20;
}
.cmtyhero__img img{
    display: block;
    width: 100%;
    height: auto;
}
.cmtyhero__main {
    position: relative;
    z-index: 10;
    color: var(--dark);
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}
.cmtyhero__h1 {
    max-width: 725px;
    font-size: 6rem;
    line-height: 7rem;
}
.cmtyhero__text {
    padding-top: 5rem;
    max-width: 575px;
    font-size: 2.4rem;
    line-height: 3.6rem;
}
.cmtyhero__sub {
    padding-top: 16rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
}
.cmtyhistory {
    padding-top: 11rem;
    padding-bottom: 8rem;
}
.cmtyhistory1__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
}
.cmtyhistory1__wrap {
    padding-top: 10rem;
}
.cmtyhistory1__left {
    width: 49%;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
}
.cmtyhistory1__left img {
    margin-top: 50px;
    margin-right: 112px;
    display: block;
    width: 335px;
    max-width: 90%;
    margin-left: auto;
}
.cmtyhistory__year {
    position: absolute;
    z-index: 10;
    top: 8px;
    left: 8px;
    font-size: 4.8rem;
    line-height: 1;
    white-space: nowrap;
}
.cmtyhistory1__right {
    flex-grow: 1;
}
.cmtyhistory1__h3 {
    font-weight: 400;
}
.cmtyhistory__hr {
    cursor: pointer;
    margin-top: 35px;
    margin-bottom: 35px;
    height: 1px;
    position: relative;
    background: #e6e6e6;
}
.cmtyhistory__hr i, .cmtyhistory__hr span {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: var(--grey2);
    margin-top: -15px;
    margin-left: -15px;
    font-size: 20px;
    z-index: 5;
    user-select: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='%23000' d='M368 224H224V80c0-8.84-7.16-16-16-16h-32c-8.84 0-16 7.16-16 16v144H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h144v144c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16V288h144c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 12px;
}
.cmtyhistory__hr span {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='currentColor' d='M368 224H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h352c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16z'%3E%3C/path%3E%3C/svg%3E");
}
.cmtyhistory__hr span {
    display: none;
}
.cmtyhistory__hr.isopen span {
    display: flex;
}
.cmtyhistory__hr.isopen i {
    display: none;
}
.cmtyhistory__more {
    height: auto;
    transition: height 0.4s ease;
    overflow: hidden;
    height: 0;
}
.cmtyhistory__quote {
    font-style: italic;
    margin-top: 15px;
    padding-top: 60px;
    background: url(/img/community/b3-quote.svg) left top no-repeat;
}
.cmtyhistory__avaavtor {
    align-items: center;
}
.cmtyhistory__ava {
    display: block;
}
.cmtyhistory__ava img {
    display: block;
    border-radius: 200px;
    width: 70px;
    height: 70px;
}
.cmtyhistory__avaright:not(.cmtyhistory__avaright--noimg) {
    padding-left: 20px;
}
.cmtyhistory__avaname {
    font-weight: 700;
    line-height: 28px;
}
.cmtyhistory__avaproff {
    padding-top: 0px;
    color: #898989;
}
.cmtyhistory2 {
    padding-top: 70px;
}
.cmtyhistory2__wrap {
    flex-flow: row-reverse nowrap;
}
.cmtyhistory__year--right {
    left: auto;
    right: 0;
    top: 30px;
}
.cmtyhistory2__right {
    width: 50%;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
}
.cmtyhistory2__right img {
    display: block;
    margin-left: auto;
}
.cmtyhistory2__left {
    padding-top: 81px;
}
.cmtyhistory3 {
    padding-top: 115px;
}
.cmtyhistory3__left {
    width: 49%;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
    padding-top: 50px;
}
.cmtyhistory3__right {
    width: 49%;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
    padding-top: 70px;
}
.cmtyhistory4 {
    padding-top: 100px;
}
.cmtyhistory5 .cmtyhistory3__left {
    padding-top: 0;
}
.cmtyhistory5 .cmtyhistory3__right {
    padding-top: 60px;
}
.cmty-meet {
    margin-top: 8rem;
    background: var(--red5);
    padding: 145px 0 140px;
    overflow: hidden;
}
.cmty-meet__main {
    max-width: 49%;
}
.cmty-meet__h2 {
    font-size: 48px;
    line-height: 1;
}
.cmty-meet__text {
    font-size: 2.4rem;
    line-height: 3.6rem;
}
.cmty-meet__sub {
    padding-top: 175px;
    max-width: 500px;
}
.cmty-meet__pic {
    position: relative;
    width: 400px;
    margin-left: auto;
}
.cmty-meet__pic img {
    display: block;
    position: absolute;
    top: 35px;
    right: 0;
}
.cmty-contrib {
    padding: 130px 0 70px;
}
.cmty-contrib__main {
    max-width: 510px;
}
.cmty-contrib__pic {
    position: relative;
    width: 650px;
    flex-grow: 0;
    margin-left: auto;
}
.cmty-contrib__pic img {
    display: block;
    width: 100%;
    margin-top: -30px;
}
.cmty-committers {
    padding-bottom: 70px;
}
.cmty-committers__small {
    display: block;
    color: #9c9c9c;
}
.committers__wrap,
.committers__more{
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 0 30px;
}
.committers__more{
    padding-top: 0;
}
.committer {
    height: 6rem;
    border-bottom: 1px solid #e5e5e5;
    align-items: center;
    padding: 0 2rem 0 2rem;
}
.committer__name {
    max-width: 60%;
    flex-grow: 0;
    overflow: hidden;
    margin-right: auto;
}
.committer__github {
    display: block;
    width: 30px;
    margin: 0 10px;
}
.committer__apache {
    display: block;
    width: 30px;
    margin: 0 5px 0 15px;
}
.committer__github img, .committer__apache img {
    display: block;
}
.committers__morelink {
    display: block;
    width: 100px;
    margin: 40px auto 0;
    text-align: center;
}
.cmty-pm {
    padding-top: 80px;
    padding-bottom: 105px;
}
.cmty-pm__wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 266px;
    grid-gap: 30px;
}
.cmty-pmitem {
    border: 1px solid var(--grey2);
    box-sizing: border-box;
    border-radius: 10px;
    display: block;
    position: relative;
    padding: 43px 30px 40px;
}
.cmty-pmitem__proff {
    top: 3px;
    right: 25px;
    text-transform: uppercase;
    height: 42px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 15px;
}
.cmty-pmitem__proff img {
    margin-right: 6px;
    width: 17px;
    height: 17px;
    display: block;
}
.cmty-pmitem__name {
    font-weight: 400;
    max-width: 80%;
    min-height: 72px;
}
.cmty-pmitem__work {
    color: #9c9c9c;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}
.cmty-pmitem__links {
    position: absolute;
    bottom: 45px;
    left: 35px;
}
.cmty-pmitem__links img {
    display: block;
    width: 30px;
    height: auto;
    height: 30px;
    object-fit: contain;
}
.cmty-pmitem__github {
    margin-right: 20px;
}
.cmty-pmitem__apache {
    margin-right: 20px;
}
.cmty-pm__more .jsOpenerWrap {
    padding-top: 30px;
}
.cmty-pm__morelink {
    display: block;
    width: 80px;
    text-align: center;
    text-align: center;
    margin: 30px auto 0;
}
.cmty-startcont {
    background: #e8f2fa;
    padding: 90px 0 90px;
}
.cmty-startcont__wrap {
    align-items: stretch;
}
.cmty-startcont__main {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
    max-width: 540px;
    padding-top: 65px;
}
.cmty-startcont__pic {
    margin-left: auto;
    flex-grow: 0;
}
.cmty-startcont__pic img {
    width: 614px;
    display: block;
}
.cmty-docs {
    padding: 130px 0 90px;
}
.cmty-docs__wrap {
    justify-content: space-between;
    align-items: stretch;
}
.cmty-docblock, .tplbox {
    background-color: #fafdff;
    border: 1px solid var(--grey2);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 40px 50px;
    position: relative;
}
.cmty-docblock {
    width: calc(50% - 15px);
    min-height: 450px;
}
.cmty-docblock::before, .tplbox::before {
    position: absolute;
    border-radius: 0px 30px 30px 0px;
    width: 12px;
    height: 60px;
    background: var(--blue);
    content: "";
    display: block;
    left: 0;
    top: 35px;
}
.cmty-docblock__icon, .tplbox__icon {
    position: absolute;
    width: 34px;
    height: 41px;
    display: block;
    left: 50px;
    top: 44px;
}
.cmty-docblock__icon img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cmty-docblock__title {
    font-weight: 400;
    padding-top: 75px;
}
.cmty-docblock__list {
    padding-top: 30px;
}
.cmty-docblock__list li {
    margin-bottom: 5px;
    margin-bottom: 10px;
    position: relative;
    padding-left: 21px;
}
.cmty-docblock__list li::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 1.2rem;
    height: 1px;
    width: 15px;
    background: #000;
}
.cmty-docblock--bg {
    background: url(/img/community/b9-wave.svg) right bottom no-repeat;
    background-color: #fafdff;
}
.cmty-ready {
    overflow: hidden;
}
.cmty-ready__wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    grid-auto-rows: auto;
}
.cmty-ready__item {
    border: 1px solid var(--grey2);
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    min-height: 240px;
    padding: 20px 25px;
}
.cmty-ready__content {
    grid-column-start: 2;
    grid-column-end: 5;
}
@media (max-width: 992px) {
    .cmty-ready__item.cmty-ready__wrap {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 767px) {
    .cmty-ready__item.cmty-ready__wrap {
        display: block;
    }
}
.cmty-ready__item.cmty-ready__wrap p.fz10 {
    font-size: 15px;
}
.cmty-ready__item.cmty-ready__wrap .highlight-auth {
    background-color: #dfebf8;
}
.cmty-ready__item.cmty-ready__wrap .highlight-anon {
    background-color: #f8e3e4;
}
.cmty-ready__item.cmty-ready__wrap p.fz20 > span {
    display: block;
}
@media (max-width: 767px) {
    .cmty-ready__item.cmty-ready__wrap p.fz20 span {
        display: inline;
    }
    .cmty-ready__item.cmty-ready__wrap p.fz20 span span {
        transform: rotate(90deg);
        display: inline-block;
    }
}
.cmty-pushupwrap {
    position: relative;
}
.cmty-pushupwrap em{
    font-style: normal;
    position: relative;
    cursor: pointer;
    color:var(--blue);
    display: inline;
}
.cmty-pushupwrap em:hover{
    text-decoration: underline;
}
.cmty-pushupwrap .pushup{
    border-radius: 10px;
    margin-top: 4px;
}
.cmty-ready__item::before {
    position: absolute;
    border-radius: 0px 30px 30px 0px;
    width: 12px;
    height: 45px;
    background: var(--blue);
    content: "";
    display: block;
    left: -1px;
    top: 20px;
}
.cmty-ready__item i {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 30px;
}
.cmty-ready__openlink {
    color: var(--blue);
    border-bottom: 1px dotted var(--blue);
    position: relative;
    display: inline;
    cursor: pointer;
}
.cmty-ready__openlink::after {
    content: "";
    display: inline-block;
    position: relative;
    margin-left: 4px;
    width: 10px;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%230070CC' d='M441.9 167.3l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L224 328.2 42.9 147.5c-4.7-4.7-12.3-4.7-17 0L6.1 167.3c-4.7 4.7-4.7 12.3 0 17l209.4 209.4c4.7 4.7 12.3 4.7 17 0l209.4-209.4c4.7-4.7 4.7-12.3 0-17z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 0.4s ease;
}
.cmty-ready__openlink.isopen::after {
    transform: rotate(180deg);
}
.cmty-ready__hider {
    margin-top: 1rem;
    transition: height 0.4s ease;
    overflow: hidden;
    height: 0;
    font-size: 1.5rem;
}
.cmty-ready__bottom {
    padding-top: 80px;
    padding-bottom: 80px;
}
.cmty-ready__botttl {
    width: 25%;
    flex-shrink: 0;
    flex-grow: 0;
    padding-right: 22px;
}
.cmty-ready__botlinks {
    font-weight: 400;
}
.cmty-ready__botlinks a {
    display: inline-block;
    margin-bottom: 1rem;
}
.cmty-ready__screens {
    flex-basis: 740px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 10px;
    flex-grow: 0;
    flex-shrink: 0;
}
.cmty-ready__screens img, .cmty-ready__screens a {
    display: block;
    width: 100%;
    height: auto;
}
.cmty-ready__more {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;
    align-self: stretch;
    background: url(/img/community/b11-stat-2.png) no-repeat;
    background-size: contain;
    flex-grow: 1;
    flex-shrink: 1;
}
.cmty-ready__more a {
    display: block;
    margin: auto;
}
.cmty-red {
    padding-top: 90px;
}
.cmty-red__wrap {
    padding-top: 54px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 450px;
    grid-gap: 3rem;
}
.cmty-redblock {
    width: 100%;
    background: #fff7f7;
    padding-top: 105px;
    padding-left: 60px;
}
.cmty-redblock .tplbox__icon {
    left: 60px;
}
.cmty-redblock .h4 {
    font-weight: 400;
}
.cmty-redblock::before {
    background: var(--red);
}
.cmty-red__wrap--bg {
    background-image: url(/img/community/b12-lines.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.cmty-redblock__questimg {
    width: 48px;
    height: 48px;
}
.cmty-redstart {
    padding-top: 9rem;
    padding-bottom: 4rem;
}
.cmty-redstart__wrap {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-auto-rows: auto;
    grid-gap: 18px;
}
.cmty-redstep {
    border: 1px solid var(--grey2);
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    padding: 35px 35px;
    background: #fff;
    z-index: 10;
}
.cmty-redstep--1 {
    grid-row: span 2;
    max-width: 433px;
    padding-top: 101px;
    position: relative;
}
.cmty-redstep--1::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    left: 100%;
    width: 115px;
    height: 165px;
    background: url(/img/community/b13-lines.svg) no-repeat;
    background-size: contain;
}
.cmty-redstep--2, .cmty-redstep--3 {
    min-height: 150px;
    width: 728px;
    max-width: 100%;
    margin-left: auto;
    background: url(/img/community/b13-bg-squares.svg) #fff right bottom no-repeat;
    background-size: 140px;
    padding: 33px 210px 20px 115px;
}
.cmty-redstep--3 {
    background-image: url(/img/community/b13-bg-roundes.svg);
    background-size: 105px;
    padding-right: 140px;
}
.cmty-redstep::before {
    position: absolute;
    border-radius: 0px 30px 30px 0px;
    width: 13px;
    height: 43px;
    background: var(--red);
    content: "";
    display: block;
    left: -1px;
    top: 35px;
}
.cmty-redstep i {
    font-size: 40px;
    position: absolute;
    left: 37px;
    top: 36px;
    line-height: 43px;
}
.cmty-redstep__h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 8px;
}
.cmty-redstart__bottom {
    padding-top: 8rem;
    padding-bottom: 8px;
    align-items: flex-start;
    justify-content: space-between;
}
@media (max-width:992px) {
    .cmty-redstart__bottom {
        flex-direction: column;
    }
}
.cmty-redstart__left {
    width: 33%;
    flex-shrink: 0;
    flex-grow: 0;
}
@media (max-width:992px) {
    .cmty-redstart__left {
        width: 100%;
    }
}
.cmty-redstart__right {
    width: 60%;
    display: flex;
}
@media (max-width:1199px) {
    .cmty-redstart__right {
        width: 70%;
    }
}
@media (max-width:992px) {
    .cmty-redstart__right {
        width: 100%;
    }
}
@media (max-width:767px) {
    .cmty-redstart__right {
        flex-direction: column;
    }
}
.cmty-redstart__bottitle {
    width: 88%;  
}
.cmty-redstart__grey {
    color: var(--grey4)
}
.cmty-redstart__botright {
    width: 47%;
    border: 1px solid #ededed;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 5rem 3rem 1rem 3rem;
    background: #fff;
    position: relative;
    overflow: hidden;
}
@media (max-width:1199px) {
    .cmty-redstart__botright {
        padding: 5rem 1rem 1rem 1rem;
    }
}
@media (max-width:767px) {
    .cmty-redstart__right .cmty-redstart__botright {
        padding-top: 5rem;
    }
    .cmty-redstart__botright.left {
        margin-bottom: 10px;
    }
}
.cmty-redstart__botright__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: var(--blue);
    color: #fff;
    padding: 9px 0;
}
.cmty-redstart__botright a {
    color: #1957c2;
}
.cmty-redstart__botright a span {
    vertical-align: text-bottom;
}
.cmty-redstart__botpic {
    display: block;
    width: 100%;
    margin: auto;
    height: auto;
    border-radius: 1rem;
}
.cmty-redstart__iframe {
    width: 100%;
    height: 415px;
    display: block;
    border: none;
}
.cmty-ask {
    margin-top: 12rem;
    background: #f4f4f4;
    padding: 140px 0 110px;
    overflow: hidden;
}
.cmty-ask__title {
    font-weight: 400;
}
.cmty-ask__wrap {
    align-items: flex-start;
}
.cmty-ask__bg {
    margin-left: auto;
    flex-shrink: 0;
    flex-basis: 529px;
    height: auto;
    flex-shrink: 1;
    flex-grow: 0;
}
.faq {
    padding-top: 13rem;
    padding-bottom: 8rem;
}
.faqblock {
    padding-bottom: 115px;
}
.faqblock:last-child {
    padding-bottom: 0;
}
.faqblock__title {
    width: calc(42% - 15px);
    flex-shrink: 0;
    position: relative;
    padding-left: 70px;
}
.faqblock__title--simple {
    padding-left: 0;
}
.faqblock__title img {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: auto;
}
.faqblock__right {
    flex-grow: 1;
    padding-top: 10px;
    max-width: 540px;
}
.faqblock__rightitle {
    font-size: initial;
    line-height: 1;
    font-weight: 700;
    padding-bottom: 10px;
}
.faqblock__buttons {
    align-items: stretch;
}
.faqblock__button {
    cursor: pointer;
    height: 40px;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    border: 1px solid #2d2d2d;
    box-sizing: border-box;
    border-radius: 10px;
    margin-right: 24px;
    padding: 0 16px;
    color: #000;
    text-decoration: none !important;
    position: relative;
}
.faqblock__button:hover,
.faqblock__button.isopen{
    color: #fff;
    background: #2d2d2d;
    text-decoration: none;
}
.faqblock__button img {
    display: block;
    margin-right: 8px;
    flex-shrink: 0;
    width: 22px;
}
.faqblock__button:hover img,
.faqblock__button.isopen img{
    filter: grayscale(1) invert(1);
}
img.faqblock__eicon {
    margin-right: 6px;
    transform: translateY(1px);
}
img.faqblock__stackicon {
    margin-right: 14px;
    width: 20px;
}

.faqblock__button.isopen{
    border-radius: 10px 10px 0 0;
}
.pushup{
    display: block;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-3px);
    transition: transform 0.2s ease, opacity 0.2s ease;
    padding: 5px 0;
    position: absolute;
    top: 100%;
    margin-top: 0;
    left: -1px;
    z-index: 20;
    background: #fff;
    border-radius:0 10px 10px 10px;
    color:#000;
    border: 1px solid var(--grey4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.isopen .pushup{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}
.pushup p{
    padding: 5px 15px;
    white-space: nowrap;
    font-size: 15px;
    border-bottom: 1px solid var(--grey);
}
.pushup p b{
    display: block;
}
.pushup p:last-child{
    border:none;
}