.innerhero__pic--multitier{
    width: 61rem;
    height: auto;
    top: auto;
    bottom: -27rem;
    transform: none;
    left: 75%;
}
.multitier2 {
    padding: 9rem 0 0rem;
}
.multitier2__title {
    font-weight: 400;
}
.multitiers {
    padding-top: 15rem;
}
.multitier3 {
    padding-top: 6rem;
}
.multitiers__left {
    width: 50%;
    flex-shrink: 0;
}
.multitierblock {
    padding: 5rem;
    text-align: center;
    background: var(--grey);
    border-radius: 1rem;
}
.multitierblock__title {
    font-size: 3rem;
    line-height: 1.3;
}
.multitierblock__pic {
    margin-top: 8rem;
    max-width: 100%;
    margin: 8rem auto 0;
}
.multitiers__text {
    padding-top: 2rem;
    padding-left: 9rem;
}
.multitiers__text:first-child{
    padding-left: 0;
    padding-right: 9rem;
}
.multitiers__text p{
    margin-bottom: 1rem;
}
.multitier3__h4 {
    font-weight: 700;
}
.multitiervid{
    position: relative;
}
.multitiervid__link {
    display: block;
    position: relative;
    font-size: 2rem;
    line-height:2.4rem;
    font-weight: 700;
    color:#000;
    background-size: 2.4rem;
}
.multitiervid__link:hover{
    color:var(--dark);
}
.multitiervid .comvideo{
    max-width: 350px;
}
.multitiervid .comvideo__screen[data-youtube]::after{
    background-size: 40px;
}

.multitiervid__screen {
    position: relative;
    margin-top: 2rem;
    display: inline-block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    transition: box-shadow 0.3s ease;
}
.multitiervid__screen img,
.multitiervid__screen a,
.multitiervid__screen iframe{
    display: block;
    border:none;
    width: 100%;
    max-width: 350px;
    height: auto;
    transform: translate3d(0,0,0);
    transition: transform 0.3s ease;
}
.multitiervid__screen:hover img{
    transform: scale(1.01);
}
.multitiervid__screen:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.multitiervid__screen::after{
    content:"";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    background-image: url(/img/icon-video.svg);
    background-repeat: no-repeat;
    background-size: 4rem;
    background-position: 50% 50%;
    transition: background 0.3s ease;
}
.multitiervid__descr {
    /* padding-top: 1.5rem; */
    color:var(--grey4);
    max-width: 350px;
    margin-bottom: 0 !important;
    padding-top: 0;
}
.multitiervid__descr p{
    margin-bottom: 0;
}

.multitier4 {
    padding-top: 17rem;
}
.multitier5 {
    padding-top: 17rem;
}




@media (max-width:767px) {
    .multitier2{
        padding-top: 6rem;
    }
    .multitier2__title{
        text-align: left;
        padding-top: 0rem;
        padding-bottom: 0rem;
        font-size: 3rem;
        line-height: 1.4;
    }

    .multitiers{
        padding-top: 8rem;
    }
    .blockheader__left{
        padding-right: 0;
    }
    .multitier3,
    .multitier4,
    .multitier5{
        padding-top: 4rem;
        padding-bottom: 4rem;
        flex-flow: column nowrap;
        align-items: stretch;
    }
    .multitier3{
        padding-top: 3rem;
    }
    .multitier4{
        flex-flow: column-reverse nowrap;
    }
    .multitiers__left{
        width: 100%;
    }
    .multitiers__text{
        padding-top: 4rem;
        padding-left: 0;
    }
    .multitiers__text:first-child{
        padding-right: 0;
    }
    .multitierblock__pic{
        margin-top: 4rem;
    }
    .multitier3__h4{
        font-size: 2.2rem;
    }
    .multitiervid__link{
        font-size: 2rem;
        padding-bottom: 0;
    }
    .native-bottom{
        padding-top: 2rem;
        padding-bottom: 8rem;
    }
} /* END 767px */