.innerhero__pic--servicegrid {
  width: auto;
  height: auto;
  top: auto;
  bottom: -11rem;
  transform: none;
  left: 71%;
}
.servicenativelink.arrowlink::after {
  margin-top: 0.5rem;
}
.service1 {
  padding-top: 13rem;
}
.service-subtextvideo {
  font-size: 2.4rem;
  line-height: 1.6;
}
.service1__h2 {
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: normal;
  text-transform: uppercase;
}
.service1__text {
  max-width: 900px;
  margin-top: 5rem;
  font-size: 2.4rem;
  line-height: 1.6;
}

.service2 {
  padding-top: 13rem;
  padding-bottom: 13rem;
}

.service2__text {
  font-size: 2.4rem;
  line-height: 1.6;
  margin-top: 2rem;
}

.service2__block {
  margin-top: 7.7rem;
}
.service2item__title {
  font-size: 2rem;
  line-height: 1.6;
}
.service2item__text {
  max-width: 615px;
  margin-top: 2rem;
  line-height: 1.4;
}
.service2item__image1 {
  background: #f6f6f6;
  border-radius: var(--ai-radius-md);
  padding: 5rem 11rem;
  margin-left: 10rem;
  width: 540px;
}

.service2item__one {
  justify-content: space-between;
}
.service2item__two {
  margin-top: 8rem;
}

.service2item__image2 {
  background: #f6f6f6;
  border-radius: var(--ai-radius-md);
  padding: 7rem 11rem 5rem 11rem;
  width: 540px;
}
.service2item__info2 {
  max-width: 530px;
  margin-top: 3rem;
  margin-left: 8rem;
}
@media (max-width: 1199px) {
  .innerhero__pic--servicegrid {
    width: 60rem;
  }
}

@media (max-width: 992px) {
  .innerhero__pic--servicegrid {
    width: 50rem;
  }
  .service2item__image1 {
    margin-left: 0rem;
    margin-top: 3rem;
  }
  .service2item__image2 {
    margin-right: 0rem;
    margin-top: 3rem;
  }
  .service2item__one {
    flex-direction: column;
  }
  .service2item__two {
    flex-direction: column-reverse;
    margin-top: 5rem;
  }
  .service2item__info2 {
    margin-top: 0rem;
    margin-left: 0rem;
  }
  .service1 {
    padding-top: 8rem;
  }
  .service2 {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .service2__block {
    margin-top: 5rem;
  }
}

@media (max-width: 767px) {
  .service-subtextvideo {
    font-size: 2rem;
    line-height: 1.6;
  }

  .service1__text {
    max-width: 900px;
    margin-top: 3rem;
    font-size: 2rem;
    line-height: 1.6;
  }

  .service2item__image1 {
    width: 100%;
  }
  .service2item__image2 {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .service2item__image1 {
    padding: 3rem 5rem;
  }
  .service2item__image2 {
    padding: 3rem 5rem;
  }
}
