.innerhero__pic--spark {
  width: auto;
  height: auto;
  top: auto;
  bottom: -11rem;
  transform: none;
  left: 73%;
}
.spark1 {
  padding-top: 13rem;
  padding-bottom: 13rem;
}
.spark1__h2 {
  font-weight: bold;
}

.spark1__h3 {
  padding-bottom: 2rem;
}
.spark1__block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7rem;
  grid-auto-rows: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.spark1__image {
  width: 100%;
}

.spark2__h2 {
  font-weight: bold;
  margin-bottom: 2rem;
}
.spark2__block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 11rem;
  grid-auto-rows: auto;
  margin-bottom: 8rem;
}
.spark2__block:last-child {
  margin-bottom: 0;
}
.spark2__text {
  max-width: 550px;
}
@media (max-width: 1199px) {
  .innerhero__pic--spark {
    width: 60rem;
  }
  .spark1 {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .spark2__block {
    gap: 6rem;
  }
}

@media (max-width: 992px) {
  .innerhero__pic--spark {
    width: 50rem;
  }
  .spark1__block {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media (max-width: 767px) {
  .spark1 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .spark1__block {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .spark2__block {
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-bottom: 4rem;
  }
  .spark2__text {
    max-width: 100%;
  }
}
