.innerhero__pic--usecase{
    width: 57rem;
    height: auto;
    top: auto;
    bottom: -23rem;
    transform: none;
    left: 80%;
}
.usecase2 {
    padding: var(--section-spacing-xs) 0;
}
.usecase2__wrap {
    padding-top: 6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows:auto;
    gap: 4rem 3rem;
}

.usecase3 {
    padding-top: 12rem;
    padding-bottom: 6rem;
}
.usecase3__block:not(:last-child){
    padding-bottom: 10rem;
}
.usecase4 {
    padding-top: 10rem;
    padding-bottom: 12rem;
}
.usecase4__wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows:auto;
    gap: 4rem 3rem;
}


@media (max-width:992px){
    .usecase2__wrap,
    .usecase4__wrap{
        grid-template-columns: 1fr 1fr;
    }
}/* END MEDIA 992px */


@media (max-width:767px){
    .usecase2__wrap, .usecase4__wrap{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .usecase2__wrap{
        padding-top: 3rem;
    }
    .usecase3{
        padding-top: 0;
    }
    .usecase3__block:not(:last-child){
        padding-bottom: 8rem;
    }
    .usecase4{
        padding-top: 2rem;
        padding-bottom: 6rem;
    }
}/* END MEDIA 767px */













/* === === === === === === === === POWERED BY === === === === === === === === */
.grayhero {
    background: #f1f1f1;
    /* height: calc(100vh - var(--header-height));
    height: calc(100dvh - var(--header-height));
    min-height: 500px;
    max-height: 750px; */
    display: flex;
    flex-direction: column;
  flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    padding: 8rem 0;
}
.grayhero__h1 {
    max-width: 950px;
}
.grayhero__logos {
    padding-top: 5rem;
    flex-direction: row;
  flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 -7px;
}
.grayhero__logo {
    display: flex;
    background: #fff;
    height: 80px;
    padding: 0 30px;
    border-radius: var(--ai-radius-full);
    margin:0 7px 30px;
}
.grayhero__logo img{
    display: block;
    max-height: 40%;
    max-width: 200px;
    margin: auto;
    width: auto;
}
.powered2 {
    padding-top: 13rem;
    padding-bottom: 13rem;
}
.powered2__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 4rem;
}
.powered2item{
    position: relative;
    padding-left: 21px;
}
.powered2item::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 1.2rem;
    height: 1px;
    width: 15px;
    background: #000;
}
.poweredbanner__bg {
    border-radius: 1rem;
    background: url(/img/poweredby/banner-bg.png) var(--blue4) right center no-repeat;
    min-height: 200px;
    background-size: 354px;
    align-items: center;
    padding: 4rem 7rem;
    justify-content: space-between;
    align-items: center;
}
.poweredbanner__left {
    padding-right: 100px;
    flex-direction: column;
  flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
}
.poweredbanner__right {
    width: 160px;
    flex-shrink: 0;
}
.poweredbanner__button {
    width: 100%;
}
.poweredvideos {
    padding-top: 13rem;
    padding-bottom: 7rem;
}
.poweredvideos__grid,
.poweredvideos__more{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 10rem 3rem;
}
.poweredvideos .comvideo:nth-child(2n){
    margin-left: auto;
}
@media (min-width:1199px) {
    .poweredvideos .comvideo__screen[data-youtube]::after{
        background-size: 6rem;
    } 
}

.poweredvideos__more{
    padding-bottom: 13px;
}
.poweredvideos__morewrap{
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}
.poweredvideos__linkwrap{
    text-align: center;
    padding-bottom: 6rem;
}
.poweredvideos__loadmore{
    display: inline-block;
}


@media (max-width:1199px){
    .grayhero__h1{
        font-size: 5rem;
        line-height: 1.15;
    }
    .grayhero__logo{
        height: 60px;
        margin-bottom: 20px;
    }
    .poweredvideos__grid,
    .poweredvideos__more{
        gap: 3rem 5rem;
    }
    .grayhero{
        height: auto;
        min-height: auto;
    }
}/* END MEDIA 1199px */

@media (max-width:992px){
    .powered2__grid{
        grid-template-columns: repeat(3, 1fr);
    }
}/* END MEDIA 992px */


@media (max-width:767px){
    .grayhero{
        padding: 6rem 0;
    }
    .grayhero__h1{
        font-size: 4rem;
        text-align: center;
    }
    .grayhero__logos{
        justify-content: center;
    }
    .grayhero__logo{
        height: 50px;
        margin: 0 5px 10px;
    }
    .powered2{
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
    .powered2__grid{
        grid-template-columns: 1fr 1fr;
        gap: 2rem 3rem;
    }
    .poweredbanner__bg{
        flex-direction: column;
  flex-wrap: nowrap;
        align-items: stretch;
        padding-left: 2rem;
        padding-right: 2rem;
        background-size: 50%;
        background-position: right bottom;
    }
    .poweredbanner__left{
        padding-right: 0;
    }
    .poweredbanner__right{
        margin: 3rem 0 0;
    }
    .poweredvideos{
        padding-top: 8rem;
    }
    .poweredvideos__grid, .poweredvideos__more{
        grid-template-columns: 1fr;
        gap: 5rem 0;
    }
}/* END MEDIA 767px */
/* === === === === === === === === END POWERED BY === === === === === === === === */