.innerhero__pic--datagrid {
  width: 65rem;
  height: auto;
  top: auto;
  bottom: -11rem;
  transform: none;
  left: 74%;
}

.grid1 {
  padding-top: 5rem;
  padding-bottom: 8rem;
}
.grid1__h2 {
  font-weight: normal;
  max-width: 860px;
}
.grid2 {
  padding-top: 0;
  padding-bottom: 0;
}

.grid4 {
  padding-bottom: 14rem;
}
.grid4__h2 {
  font-weight: bold;
}
.grid4__block {
  max-width: 540px;
  margin-left: 14rem;
}

.grid5 {
  background: #f6f6f6;
  padding-top: 8rem;
  padding-bottom: 11rem;
  margin-bottom: 13rem;
}
.grid5__h2 {
  max-width: 890px;
  font-weight: normal;
}
.grid5__blocks {
  margin-top: 5rem;
}
.grid5__text {
  max-width: 260px;
}
.grid5__item {
  margin-right: 17rem;
}
.grid5__item:last-child {
  margin-right: 0;
}

@media (max-width: 1199px) {
  .grid1 {
    padding-top: 4rem;
    padding-bottom: 6rem;
  }
  .grid4__block {
    margin-left: 10rem;
  }
  .grid4 {
    padding-bottom: 8rem;
  }
  .grid5__item {
    margin-right: 10rem;
  }
  .grid5 {
    padding-top: 7rem;
    padding-bottom: 8rem;
    margin-bottom: 8rem;
  }
  .grid5__blocks {
    margin-top: 4rem;
  }
}

@media (max-width: 992px) {
}

@media (max-width: 767px) {
  .grid1 {
    padding-top: 3rem;
    padding-bottom: 5rem;
  }
  .grid4__block {
    max-width: 100%;
    margin-left: 0;
    margin-top: 2rem;
  }
  .grid4__blocks {
    flex-direction: column;
  }
  .grid4 {
    padding-bottom: 6rem;
  }
  .grid5__item {
    margin-right: 0;
    margin-top: 3rem;
  }
  .grid5 {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 5rem;
  }
  .grid5__blocks {
    margin-top: 0;
    flex-direction: column;
  }
}
