.innerhero__pic--highperf{
    right: -290px;
    top: 54px;
}
.highperf__herosmall{
    display: block;
    font-weight: 400;
}
.high1 {
    padding-top: 13rem;
    padding-bottom: 13rem;
}
.high1__main {
    width: 52%;
    padding-right: 4rem;
}
.high1__main p:not(:last-child){
    margin-bottom: 1rem;
}
.high1__title {
    font-weight: 700;
}
.high1__sub {
    font-weight: 700;
}
.high1__picwrap {
    width: 42%;
    flex-shrink: 0;
    margin-left: auto;
    background: var(--grey);
    border-radius: 1rem;
    padding: 6.5rem 3rem 4.4rem;
}
.high1__pic {
    display: block;
    margin: 0 auto 5rem;
}
.high1__picdescr {
    justify-content: space-between;
}
.high1__arrowline {
    position: relative;
    font-size: 14px;
    line-height: 1.3;
    align-items: center;
}
.high1__arrowline i{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  flex-wrap: nowrap;
    font-style: normal;
    width: 24px;
    height: 26px;
    background: url(/img/usecases/high-peformance/arrow-circle.svg) no-repeat;
    background-size:contain;
    padding-top: 2px;
    margin-top: -2px;
    margin-right: 1rem;
}


.high2 {
    background: var(--blue4);
    padding: 10rem 0 10rem;
}
.high2__wrap {
    padding-top: 6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    grid-auto-rows: auto;
}
.high2__title {
    font-size: 20px;
    line-height: 26px;
    padding-left: 34px;
    position: relative;
    background: url(/img/features/icon-check-ok.svg) left 1px no-repeat;
    background-size: 24px;
    font-weight: 700;
}
.high2__text {
    padding-top: 2rem;
    padding-left: 34px;
}




.highicons {
    padding-top: 13rem;
    padding-bottom: 13rem;
}
.highicons__wrap {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    gap: 8rem;
}
.highicons__iconwrap {
    width: 80px;
    height: 80px;
    background: var(--grey);
    border-radius: 1rem;
    display: flex;
}
.highicons__icon {
    display: block;
    margin: auto;
}
.highicons__title {
    padding-top: 3rem;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 700;
}
.highicons__descr {
    padding-top: 1.5rem;
}



.highcases__topleft {
    width: 52%;
    padding-right: 60px;
}
.highcases__subtitle {
    font-size: 20px;
    line-height: 1.3;
    font-weight: 700;
}
.highcases__topright,
.highcases__twoitem{
    width: 433px;
    max-width: 100%;
    flex-shrink: 0;
}
.highcases__twowrap {
    justify-content: space-between;
    max-width: calc(52% + 433px);
}




@media (max-width:1199px){
    .high1__picwrap{
        width: 48%;
    }
    .high1__picdescr{
        flex-direction: column;
  flex-wrap: nowrap;
    }
    .high1__pic{
        margin-bottom: 1rem;
    }
    .high1__arrowline{
        padding-top: 2rem;
    }
    .highicons__wrap{
        gap: 3rem;
    }
}/* END MEDIA 1199px */




@media (max-width:992px){
    .high1__wrap {
        flex-direction: column;
  flex-wrap: nowrap;
    }
    .high1__main{
        width: 100%;
        padding-right: 0;
    }
    .highcases__twowrap{
        flex-direction: column;
  flex-wrap: nowrap;
    }
    .high1__picwrap{
        width: 100%;
        max-width: 400px;
        padding: 4rem;
        margin: 5rem 0 0;
    }
    .high1__pic{
        width: 100%;
    }
    .high2__wrap{
        grid-template-columns: 1fr;
    }
    .highicons__wrap{
        gap: 3rem 10rem;
        grid-template-columns: 1fr 1fr;
    }
    .highcases__one {
        flex-direction: column;
  flex-wrap: nowrap;
        padding-bottom: 0;
    }
    .highcases__topleft{
        width: auto;
        padding-right: 0;
        padding-bottom: 3rem;
    }
    .highcases__twowrap{
        padding-top: 3rem;
    }
    .highcases__twoitem{
        max-width: 100%;
        margin-bottom: 4rem;
    }

}/* END MEDIA 992px */










@media (max-width:767px){
    .high1{
        padding-top: 7rem;
        padding-bottom: 8rem;
    }
    .high1 .capstext{
        line-height: 1.5;
        padding-bottom: 3rem;
    }
    .high2{
        padding-top: 7rem;
        padding-bottom: 7rem;
    }
    .high2__wrap{
        padding-top: 3rem;
    }
    .high2__title{
        font-size: 2.2rem;
    }
    .high2__block{
        padding-right: 15px;
    }
    .highicons{
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
    .highicons br,
    .highcases  br{
        display: none;
    }
    .highicons__wrap{
        grid-template-columns: 1fr;
        gap: 4rem;
    }
    .highicons__iconwrap{
        width: 7rem;
        height: 7rem;
    }
    .highicons__icon{
        width: 5rem;
        height: 5rem;
    }
    .highicons__title{
        padding-top: 2rem;
        font-size: 2.2rem;
    }
    .highcases__two{
        padding-bottom: 0;
    }
    .highcases__twoitem:last-child{
        margin-bottom: 0;
    }
}/* END MEDIA 767px */