.innerhero__pic--key {
  width: auto;
  height: auto;
  top: auto;
  bottom: -11rem;
  transform: none;
  left: 60%;
}
.key1 {
  padding-top: 13rem;
  padding-bottom: 12rem;
}
.key1__block {
  margin-top: 0;
}
.key4__h2 {
  max-width: 513px;
}
.key4 {
  padding-top: 8rem;
  padding-bottom: 13rem;
}

.key5__text {
  max-width: 330px;
}
.key5__h2 {
  max-width: 680px;
}
.key5__h3 {
  margin-bottom: 2rem;
  font-size: 2rem;
}
@media (max-width: 1199px) {
  .innerhero__pic--key {
    width: 70rem;
  }
  .key1 {
    padding-top: 8rem;
    padding-bottom: 7rem;
  }
  .key4 {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}

@media (max-width: 992px) {
}

@media (max-width: 767px) {
  .native2item {
    max-width: 100%;
  }
  .key1 {
    padding-top: 6rem;
    padding-bottom: 5rem;
  }
  .key4__h2 {
    max-width: 100%;
  }
  .key4 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .key5__text {
    max-width: 100%;
  }
  .key5__h2 {
    max-width: 100%;
  }
}
