.innerhero__pic--stream {
  width: auto;
  height: auto;
  top: auto;
  bottom: 0rem;
  transform: none;
  left: 77%;
}

.stream1 {
  padding-top: 13rem;
  padding-bottom: 7rem;
}
.stream1__p {
  max-width: 620px;
  margin-right: 10.8rem;
}
.stream1__text {
  margin-top: 1.6rem;
  max-width: 477px;
}
.stream1__block {
  justify-content: space-between;
}
.stream1__part {
  display: flex;
  flex-direction: column;
}

.stream2 {
  padding-bottom: 13rem;
}
.stream2__h3 {
  font-size: 2.4rem;
  margin-top: 5rem;
  margin-bottom: 2.5rem;
}
.stream2__block {
  justify-content: space-between;
  align-items: center;
}
.stream2__img {
  margin-left: 12rem;
}
.stream3 {
  background: #f6f6f6;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.stream3__blocks {
  margin-top: 8rem;
}
.stream3__block:last-child {
  margin-left: 15rem;
}
.ml-04 {
  margin-left: 0.4rem;
}
.stream3__text {
  margin-left: 1rem;
  font-size: 2rem;
  line-height: 26px;
  max-width: 400px;
}
.stream3__end {
  margin-top: 5.5rem;
}
.stream3__itemstart {
  margin-top: 4rem;
}
.stream3__item:last-child {
  margin-top: 2rem;
}
.stream3__img {
  margin-right: 2rem;
}
.stream3__item {
  margin-left: 2rem;
}
.stream4__greys {
  color: #9c9c9c;
}
.stream4 {
  padding-top: 13rem;
}
.stream4__p {
  margin-top: 2rem;
  margin-bottom: 5rem;
  font-size: 2.4rem;
  max-width: 600px;
  line-height: 1.5;
}
.stream4__number {
  color: #0070cc;
  font-size: 2.4rem;
  line-height: 1.5;
  font-weight: bold;
}
.stream4__text {
  margin-top: 2rem;
  max-width: 290px;
}
.stream4__part {
  margin-left: 14rem;
}
.stream4__part:first-child {
  margin-left: 0;
}
.stream4__grey {
  margin-top: 1rem;
  color: #9c9c9c;
  max-width: 290px;
}
.stream4__parttwo {
  margin-left: 18rem;
}
@media (max-width: 1199px) {
  .stream4__part {
    margin-left: 10rem;
  }
  .stream1 {
    padding-top: 8rem;
    padding-bottom: 6rem;
  }
  .stream2 {
    padding-bottom: 8rem;
  }
  .stream3 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .stream4 {
    padding-top: 8rem;
  }
}

@media (max-width: 992px) {
  .innerhero__pic--stream {
    width: 430px;
  }
  .stream1__block {
    flex-direction: column;
  }
  .stream1__p {
    margin-right: 0rem;
  }
  .stream1__part {
    margin-top: 2rem;
  }

  .stream2__block {
    flex-direction: column;
    align-items: flex-start;
  }
  .stream2__img {
    margin-left: 0;
    margin-top: 2rem;
  }

  .stream3__block:last-child {
    margin-left: 5rem;
  }
  .stream3__blocks {
    margin-top: 5rem;
  }
}

@media (max-width: 767px) {
  .stream1__img {
    width: 100%;
  }
  .stream2__img {
    width: 100%;
  }
  .stream2__h3 {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .stream3__block:last-child {
    margin-left: 0rem;
  }
  .stream3__blocks {
    flex-direction: column;
  }
  .stream3__end {
    margin-left: 0;
    margin-top: 2rem;
  }
  .stream3__first {
    margin-top: 2rem;
  }
  .stream3__item {
    margin-left: 0;
    flex-wrap: wrap;
  }
  .stream3__itemstart {
    margin-top: 2rem;
  }
  .stream3__img {
    margin-top: 1rem;
  }
  .stream3__item:last-child {
    margin-top: 1rem;
  }
  .stream4__block {
    flex-direction: column;
  }
  .stream4__part {
    margin-left: 0;
    margin-top: 2rem;
  }
  .stream4__part:first-child {
    margin-top: 0;
  }
  .stream4__p {
    margin-bottom: 3rem;
  }
  .stream4__text {
    margin-top: 1rem;
  }
}
