/* open-sans-300 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/suggested-site/assets/fonts/open-sans/open-sans-v40-latin-300.woff2') format('woff2'); 
}
/* open-sans-300italic - latin */
@font-face {
  font-display: swap; 
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url('/suggested-site/assets/fonts/open-sans/open-sans-v40-latin-300italic.woff2') format('woff2'); 
}
/* open-sans-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/suggested-site/assets/fonts/open-sans/open-sans-v40-latin-regular.woff2') format('woff2'); 
}
/* open-sans-italic - latin */
@font-face {
  font-display: swap; 
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/suggested-site/assets/fonts/open-sans/open-sans-v40-latin-italic.woff2') format('woff2'); 
}
/* open-sans-600 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/suggested-site/assets/fonts/open-sans/open-sans-v40-latin-600.woff2') format('woff2'); 
}
/* open-sans-600italic - latin */
@font-face {
  font-display: swap; 
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url('/suggested-site/assets/fonts/open-sans/open-sans-v40-latin-600italic.woff2') format('woff2'); 
}
/* open-sans-700 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/suggested-site/assets/fonts/open-sans/open-sans-v40-latin-700.woff2') format('woff2'); 
}
/* open-sans-700italic - latin */
@font-face {
  font-display: swap; 
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url('/suggested-site/assets/fonts/open-sans/open-sans-v40-latin-700italic.woff2') format('woff2'); 
}