extend _components/base.pug

block pagetitle
    title 404 Not found - Apache Ignite

block css
    link(rel="stylesheet", href="/css/errors.css?ver=" + config.version)
    style.
        .error404{
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            padding: 150px 0 150px;
            text-align: center;
        }
        @media (max-width:767px){
            .error404{
                padding: 60px 20px 60px;
            }
            .error404__pic{
                max-width: 60%;
            }
            .error404 .h5{
                font-size: 15px;
            }
        }

block main
    include ./_components/header.pug

    .error404.container.flexi
        img(src="/img/404.svg", alt="").error404__pic
        .h4.error404__title.pt-4
            strong Not found
        .h5.pt-1 The requested URL was not found on this server