mixin committer(name, githubLink, apacheLink)
    .committer.flexi
        .committer__name #{name}
        a.committer__github(href=githubLink)
            img(src="/public/img/icon-github.svg", alt="")
        a.committer__apache(href=apacheLink)
            img(src="/public/img/icon-pero.svg", alt="")


.committers__left
    +committer('Alexander Shapkin', 'https://github.com/', '/')
    +committer('Alexey Goncharuk', 'https://github.com/', '/')
    +committer('Alexey Kuznetsov', 'https://github.com/', '/')
    +committer('Alexey Plehanov', 'https://github.com/', '/')
    +committer('Alexey Scherbakov', 'https://github.com/', '/')
    +committer('Alexey Zinoviev', 'https://github.com/', '/')
    a.committers__morelink(href="#", data-hideopen="committersLeft", data-invis="1") Load more
    .committers__more.jsOpener(data-hidebox="committersLeft")
        .jsOpenerWrap
            +committer('Andrey Alexandrov', 'https://github.com/', '/')
            +committer('Andrey Gura', 'https://github.com/', '/')
            +committer('Andrey Novikov', 'https://github.com/', '/')
            +committer('Andrew Mashenkov', 'https://github.com/', '/')
            +committer('Anton Vinogradov', 'https://github.com/', '/')
            +committer('Artem Budnikov', 'https://github.com/', '/')
            +committer('Branko Čibej', 'https://github.com/', '/')
            +committer('Denis Magda', 'https://github.com/', '/')
            +committer('Dmitriy Govorukhin', 'https://github.com/', '/')
            +committer('Dmitriy Pavlov*', 'https://github.com/', '/')
            +committer('Dmitriy Setrakyan', 'https://github.com/', '/')
            +committer('Evans Ye', 'https://github.com/', '/')
            +committer('Evgeny Stanilovsky', 'https://github.com/', '/')
            +committer('Gianfranco Murador', 'https://github.com/', '/')
            +committer('Henry Saputra', 'https://github.com/', '/')
            +committer('Igor Rudyak', 'https://github.com/', '/')
            +committer('Igor Sapego', 'https://github.com/', '/')
            +committer('Igor Seliverstov', 'https://github.com/', '/')
            +committer('Ilya Kasnacheev', 'https://github.com/', '/')
            +committer('Ilya Lantukh', 'https://github.com/', '/')
            +committer('Ilya Sterin', 'https://github.com/', '/')
            +committer('Irina Vasilinets', 'https://github.com/', '/')
            +committer('Ivan Bessonov', 'https://github.com/', '/')
            +committer('Ivan Daschinsky', 'https://github.com/', '/')
            +committer('Ivan Pavlukhin', 'https://github.com/', '/')
            +committer('Ivan Rakov', 'https://github.com/', '/')


.committers__right
    +committer('Konstantin Boudnik', 'https://github.com/', '/')
    +committer('Kseniya Romanova', 'https://github.com/', '/')
    +committer('Maxim Muzafarov', 'https://github.com/', '/')
    +committer('Mauricio Stekl', 'https://github.com/', '/')
    +committer('Michael Stack', 'https://github.com/', '/')
    +committer('Nikita Amelchev', 'https://github.com/', '/')
    a.committers__morelink(href="#", data-hideopen="committersRight", data-invis="1") Load more
    .committers__more.jsOpener(data-hidebox="committersRight")
        .jsOpenerWrap
            +committer('Nikita Ivanov', 'https://github.com/', '/')
            +committer('Nikolai Izhikov', 'https://github.com/', '/')
            +committer('Nikolai Tikhonov', 'https://github.com/', '/')
            +committer('Ognen Duzlevski', 'https://github.com/', '/')
            +committer('Pavel Tupitsyn', 'https://github.com/', '/')
            +committer('Pavel Kovalenko', 'https://github.com/', '/')
            +committer('Peter Ivanov', 'https://github.com/', '/')
            +committer('Raúl Kripalani', 'https://github.com/', '/')
            +committer('Roman Shaposhnik', 'https://github.com/', '/')
            +committer('Roman Shtykh', 'https://github.com/', '/')
            +committer('Saikat Maitra', 'https://github.com/', '/')
            +committer('Semyon Boikov', 'https://github.com/', '/')
            +committer('Sergey Chugunov', 'https://github.com/', '/')
            +committer('Sergey Evdokimov', 'https://github.com/', '/')
            +committer('Sergey Khisamov', 'https://github.com/', '/')
            +committer('Sergey Vladykin', 'https://github.com/', '/')
            +committer('Sergey Stronchinsky', 'https://github.com/', '/')
            +committer('Taras Ledkov', 'https://github.com/', '/')
            +committer('Valentin Kulichenko', 'https://github.com/', '/')
            +committer('Vladimir Ozerov', 'https://github.com/', '/')
            +committer('Vladisav Jelisavcic', 'https://github.com/', '/')
            +committer('Vyacheslav Daradur', 'https://github.com/', '/')
            +committer('Vyacheslav Koptilin', 'https://github.com/', '/')
            +committer('Yakov Zhdanov', 'https://github.com/', '/')
            +committer('Yury Babak', 'https://github.com/', '/')
            +committer('Zhenya Stanilovsky', 'https://github.com/', '/')